{% extends "layout.html" %}
{% block title %}
  Serviços / Análises
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="analises" class="my-3 font-weight-bold">
      Análises
    </h3>
    <p>
      O laboratório dispõe de sua infraestrutura para a prestação de serviços analíticos rotineiramente para a comunidade acadêmica e para o setor privado. Análises ou métodos especiais podem ser desenvolvidos frente a necessidades específicas.
    </p>
    <p>
      Dentre os serviços prestados destacam-se:
    </p>
    <ul class="mb-4">
      <li>
        Análise granulométrica
      </li>
      <li>
        Separações minerais em escala de bancada
      </li>
      <li>
        Mineralogia qualitativa e quantitativa
      </li>
      <li>
        Grau de liberação e associações minerais (MLA, análise de imagens e métodos tradicionais)
      </li>
      <li>
        Análises químicas:
        <ul class="mb-2">
          <li>
            Fluorescência de raios X - <a href="{{ url_for('metodos_frx') }}">(ver métodos analíticos)</a>
          </li>
          <li>
            Espectrometria de emissão óptica com plasma indutivamente acoplado (ICP OES) - <a href="{{ url_for('metodos_icp') }}">(ver métodos analíticos)</a>
          </li>
          <li>
            Espectrometria de absorção atômica - <a href="{{ url_for('metodos_aas') }}">(ver métodos analíticos)</a>
          </li>
          <li>
            Via úmida - <a href="{{ url_for('metodos_avu') }}">(ver métodos analíticos)</a>
          </li>
        </ul>
      </li>
      <li>
        Difratometria de raios X:
        <ul class="mb-2">
          <li>
            Qualitativa
          </li>
          <li>
            Quantitativa por RIR e Rietveld
          </li>
          <li>
            Outras técnicas sob consulta (filmes finos, alta temperatura, etc)
          </li>
        </ul>
      </li>
      <li>
        Microscopia óptica e eletrônica de varredura
      </li>
      <li>
        Microanálise química por EDS e WDS
      </li>
      <li>
        Microscopia de raios X de alta resolução 3D  (microtomografia - µCT)
      </li>
      <li>
        Microscopia Confocal (luz visível)
      </li>
      <li>
        Distribuição de tamanho de partículas por
        <ul class="mb-2">
          <li>
            espalhamento de luz laser em baixo ângulo (difração laser -  0,05 a 3000µm).
          </li>
        </ul>
      </li>
      <li>
        Morfologia e distribuição de tamanho de partículas (análise dinâmica de imagens)
      </li>
      <li>
        Densidade:
        <ul class="mb-2">
          <li>
            Picnometria de hélio
          </li>
          <li>
            Picnometria em água ou álcool
          </li>
          <li>
            Picnometria de pó (Densidade envelope - Geopyc)
          </li>
        </ul>
      </li>
      <li>
        Porosimetria de mercúrio
      </li>
    </ul>
    <p>
      Nos links abaixo estão relacionados os principais serviços realizados por bem mineral:
    </p>
    <ul class="mb-4">
      <li>
        <a href="{{ url_for('metodos_areia') }}">Areia</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_bauxita') }}">Bauxita</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_calcarios') }}">Calcários</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_cimento') }}">Cimento, agregados e concreto</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_fosfatos') }}">Fosfatos</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_minerios_cobre') }}">Minérios e concentrado de cobre</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_minerios_estanho') }}">Minérios de estanho, nióbio e tântalo</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_minerios_ferro') }}">Minérios de ferro</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_minerios_manganes') }}">Minérios de manganês</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_minerios_ouro') }}">Minérios de ouro</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_rochas') }}">Rochas e solos</a>
      </li>
      <li>
        <a href="{{ url_for('metodos_terras_raras') }}">Terras raras</a>
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <hr>
    <p>
      <b>Formulário de solicitação de análises</b>&nbsp;
      <a href="{{ url_for('static', filename='files/Form_solicitacao_analises_LCT.xlsx')}}" class="btn btn-success">
        <i class="fas fa-fw fa-file-excel mr-1" aria-hidden></i>
        Versão excel
      </a>
    </p>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
