{% extends "layout.html" %}
{% block title %}
  Serviços / Assessorias e Treinamentos
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="assessoria" class="my-3 font-weight-bold">
      Assessoria técnica
    </h3>
    <p>
      Constitui a oferta de conhecimento tecnológico especializado para solução de problemas específicos do setor mineral, tendo como meta o aproveitamento sustentável dos recursos minerais. Engloba:
    </p>
    <ul class="mb-4">
      <li>
        Avaliação de dados de pesquisa de depósitos minerais para fins de tecnologia mineral
      </li>
      <li>
        Procedimentos de amostragem de depósitos minerais, instalações de beneficiamento e rejeitos para estudos de caracterização e processamento mineral
      </li>
      <li>
        Estabelecimento de procedimentos de ensaios para a definição de parâmetros geometalúrgicos
      </li>
      <li>
        Estabelecimento de rotinas analíticas, procedimentos operacionais e implantação de laboratórios
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h3 id="treinamentos" class="my-3 font-weight-bold">
      Treinamentos
    </h3>
    <p>
      Oferecidos para usuários de técnicas de caracterização de matérias primas minerais, fluorescência de raios X, difração de raios X, distribuição de tamanho de partículas a laser e técnicas de microscopia.
    </p>
    <p>
      Os treinamentos visam aprimorar o conhecimento do usuário nos fundamentos e recursos das técnicas consideradas, definindo conceitos que orientam a escolha de procedimentos e o estabelecimento de rotinas operacionais em acordo com as boas práticas laboratoriais. Os treinamentos são usualmente customizados frente às necessidades e aplicações dos usuários, considerando as etapas de amostragem, preparação de amostras, operação de equipamentos e respectivos softwares analíticos e a apresentação de resultados.
    </p>
  </div>
{% endblock %}
