{% extends "layout.html" %}
{% block title %}
  Serviços / Caracterização tecnológica
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="caracterizacao_tecnologica" class="my-3 font-weight-bold">
      Caracterização tecnológica
    </h3>
    <p>
      A caracterização tecnológica de matérias primas minerais compreende o estudo de suas propriedades físicas, químicas e físico-químicas frente a um processo de beneficiamento ou uso final. Significa, em outras palavras, determinar seus constituintes mineralógicos, suas respectivas composições químicas e formas de associações, de modo a sugerir alternativas para o seu beneficiamento ou para a otimização de um processo já existente, bem como para obter estimativas de recuperação ou avaliar a qualidade dos produtos finais gerados nesse processo.
    </p>
    <p>
      O conhecimento dessas características promove sensível redução de custos e de prazos na etapa de desenvolvimento de processos para o aproveitamento de recursos finitos, de forma sustentável.
    </p>
    <p>
      Tem aplicação em todas as etapas de um empreendimento mineiro, da pesquisa mineral à disposição e reaproveitamento dos rejeitos gerados, com enfoque distinto em cada uma delas, bem como nos estudos voltados a produtos de processamento químico e metalúrgico, ao aproveitamento de resíduos e efluentes, reciclagem e RCD.
    </p>
    <p>
      Os principais resultados dos estudos de caracterização em função de sua aplicabilidade são:
    </p>
    <ul class="mb-4">
      <li>
        Caracterização tecnológica voltada ao aproveitamento de matérias primas minerais:
        <ul class="mb-4">
          <li>
            determinação da composição mineralógica (qualitativa e quantitativa);
          </li>
          <li>
            tamanho e morfologia das partículas;
          </li>
          <li>
            características de associação e de liberação dos minerais de interesse;
          </li>
          <li>
            estado de alteração e presença de recobrimentos superficiais;
          </li>
          <li>
            composição química das fases de interesse;
          </li>
          <li>
            partição do elemento útil entre os minerais portadores.
          </li>
        </ul>
      </li>
      <li>
        Caracterização de produtos de beneficiamento:
        <ul class="mb-4">
          <li>
            diagnóstico das causas de redução do teor de concentrado (quedas de recuperação metalúrgica);
          </li>
          <li>
            diagnóstico da forma de ocorrência e partições minerais (útil e de ganga) na carga circulante;
          </li>
          <li>
            avaliação da forma de ocorrência de contaminantes;
          </li>
          <li>
            geração de dados para simulação de operações unitárias;
          </li>
          <li>
            verificação de aproveitamento de subprodutos;
          </li>
          <li>
            estudo diagnóstico de circuitos – bench mark.
          </li>
        </ul>
      </li>
      <li>
        Caracterização tecnológica de jazidas:
        <ul class="mb-4">
          <li>
            determinação da variabilidade das características ou parâmetros do minério no corpo mineralizado, com vistas ao reconhecimento de tipos com comportamento tecnológico diferenciado;
          </li>
          <li>
            definição da distribuição dos tipos tecnológicos no depósito mineral;
          </li>
          <li>
            avaliação quantitativa das características do minério/jazida em estudos de geometalurgia e/ou apoio à otimização do planejamento de lavra;
          </li>
          <li>
            integração das informações geológicas e tecnológicas para o estabelecimento de correlações entre os controles de mineralização e os parâmetros tecnológicos do minério (guia na definição do corpo de minério passível de aproveitamento).
          </li>
        </ul>
      </li>
      <li>
        Caracterização de produtos de processamento químico e metalúrgico:
        <ul class="mb-4">
          <li>
            estudo de matérias-primas para processos químicos e metalúrgicos e dos diversos produtos obtidos, em apoio a estudos diagnósticos e de otimização de processos.
          </li>
        </ul>
      </li>
      <li>
        Caracterização voltada ao meio ambiente
        <ul class="mb-4">
          <li>
            caracterização de rejeitos, resíduos e efluentes, paralelamente ao levantamento das condições e alternativas para reciclagem e reaproveitamento de subprodutos.
          </li>
        </ul>
      </li>
    </ul>
    <p>
      Alguns exemplos de projetos desenvolvidos recentemente:
    </p>
    <ul class="mb-4">
      <li>
        Caracterização de minérios auríferos com definição de associações mineralógicas, estimativas de recuperação de ouro e sugestões de alternativas de beneficiamento
      </li>
      <li>
        Caracterização tecnológica de minérios de ferro
      </li>
      <li>
        Caracterização tecnológica de minérios de manganês
      </li>
      <li>
        Caracterização tecnológica de minérios de estanho
      </li>
      <li>
        Caracterização tecnológica de minérios de fosfato
      </li>
      <li>
        Caracterização tecnológica de minérios de terras raras
      </li>
      <li>
        Caracterização tecnológica de minérios de nióbio
      </li>
      <li>
        Caracterização tecnológica de minérios de zinco sulfetado e silicatado
      </li>
      <li>
        Caracterização tecnológica de minérios de níquel laterítico
      </li>
      <li>
        Caracterização tecnológica de matérias primas para a indústria vidreira
      </li>
      <li>
        Caracterização tecnológica de feldspato
      </li>
      <li>
        Caracterização tecnológica de talco
      </li>
      <li>
        Caracterização tecnológica de calcário
      </li>
      <li>
        Caracterização tecnológica de minérios de grafite
      </li>
      <li>
        Otimização da cominuição de minério de bauxita para redução do teor de sílica livre
      </li>
      <li>
        Análises mineralógicas quantitativas de bauxita por difração de raios X (Rietveld)
      </li>
      <li>
        Caracterização microestrutural de bauxitas
      </li>
      <li>
        Caracterização microestrutural de escórias de estanho
      </li>
      <li>
        Caracterização de resíduos de processo piro/hidrometalúrgico de níquel
      </li>
      <li>
        Caracterização tecnológica de rejeito de processamento de minério de cobre
      </li>
      <li>
        Caracterização tecnológica de fosfogesso para uso em materiais de construção civil
      </li>
      <li>
        Caracterização de resíduos de construção e demolição e definição das aplicações potenciais
      </li>
      <li>
        Caracterização química, mineralógica e petrofísica de cascalhos de perfuração de poços de petróleo
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
