{% extends "layout.html" %}
{% block title %}
  Serviços / Cursos
{% endblock %}
{% block content %}
  <div class="mb-4">
    <div class="mb-4">
      <h3 id="cursos" class="my-3 font-weight-bold">
        Cursos
      </h3>
    </div>
    <div class="my-4">
      <hr>
      <h4 id="cursos_minerais" class="my-3 font-weight-bold">
        Curso de Caracterização Tecnológica de Matérias-Primas Minerais
      </h4>
      <p>
        <a href="{{ url_for('static', filename='files/curso_caracterizacao.pdf') }}" target="__blank">
          <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Folheto do curso
        </a>
      </p>
      <p>
        O curso visa propiciar conhecimentos em procedimentos e técnicas de caracterização de matérias primas minerais dirigidas à tecnologia mineral, tanto em seus aspectos conceituais como em sua aplicação prática.
      </p>
      <p>
        Objetivos
      </p>
      <ul class="mb-4">
        <li>
          Proporcionar aos profissionais envolvidos, com estudos de matérias primas minerais para fins de exploração, planejamento de lavra e processos de beneficiamento, uma ampla visão sobre as técnicas de caracterização de minérios e matérias primas minerais e de suas várias áreas de aplicação
        </li>
        <li>
          Introduzir os conceitos que orientam a escolha de materiais e métodos para estudos de caracterização
        </li>
        <li>
          Conceituar questões relativas à amostragem em laboratório, envolvendo representatividade da amostra e procedimentos de preparação
        </li>
        <li>
          Introduzir e discutir as principais técnicas analíticas utilizadas em estudos de caracterização
        </li>
        <li>
          Discutir critérios de interpretação de resultados de caracterização e sua aplicação para fins de beneficiamento e apoio ao planejamento de lavra
        </li>
      </ul>
    </div>
    <div class="my-4">
      <hr>
      <h4 id="cursos_particulas" class="my-3 font-weight-bold">
        Curso de Técnicas de Caracterização de Tamanho de Partículas
      </h4>
      <p>
        <a href="{{ url_for('static', filename='files/curso_tamanho_particulas.pdf') }}" target="__blank">
          <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Folheto do curso
        </a>
      </p>
      <p>
        O curso fornece amplas informações sobre técnicas de caracterização de tamanho e forma de partículas, objetivando a compreensão das diferenças entre diversas metodologias existentes. Os campos de aplicação das distintas técnicas, potencialidade, versatilidade e avanços recentes também são abordados.
      </p>
      <p>
        Objetivos
      </p>
      <ul class="mb-4">
        <li>
          Proporcionar aos profissionais envolvidos com a área de caracterização de materiais particulados em geral uma ampla visão das técnicas empregadas em caracterização de tamanhos e forma de partículas;
        </li>
        <li>
          Introduzir os conceitos que orientam a escolha de procedimentos e métodos adequados para caracterização de tamanho e forma de partículas;
        </li>
        <li>
          Discutir procedimentos experimentais aplicáveis e sua organização;
        </li>
        <li>
          Promover a atualização de conhecimentos;
        </li>
        <li>
          Discutir e apresentar aplicações voltadas aos setores mineral, metalúrgico, químico, de materiais e farmacêutico.
        </li>
      </ul>
    </div>
    <div class="my-4">
      <hr>
      <h4 id="cursos_microscopia" class="my-3 font-weight-bold">
        Curso de Microscopia Eletrônica de Varredura e Microanálise Química
      </h4>
      <p>
        <a href="{{ url_for('static', filename='files/curso_mev.pdf') }}" target="__blank">
          <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Folheto do curso
        </a>
      </p>
      <p>
        O curso fornece amplas informações sobre a técnica analítica de microscopia eletrônica de varredura e microanálise química, com ênfase nos detalhes da rotina operacional, objetivando o domínio da técnica e a obtenção de resultados de boa qualidade. Seus campos de aplicação, potencialidade, versatilidade, uso adequado e avanços recentes em equipamentos e softwares também são abordados.
      </p>
      <p>
        Além do conteúdo teórico, o curso propicia aos participantes o contato com equipamentos e softwares modernos para fixação dos conhecimentos e aplicações.
      </p>
      <p>
        Objetivos
      </p>
      <ul class="mb-4">
        <li>
          Proporcionar aos profissionais envolvidos com caracterização de materiais uma ampla visão das técnicas de análise por microscopia eletrônica de varredura e microanálise química;
        </li>
        <li>
          Introduzir aos participantes os princípios da técnica analítica e suas áreas de aplicação, preparação de amostras, operação de equipamentos, otimização da obtenção de imagens e realização de análises químicas;
        </li>
        <li>
          Promover a atualização de conhecimentos e apresentar os recentes desenvolvimentos instrumentais;
        </li>
        <li>
          Discutir e apresentar aplicações nos setores de metalurgia, materiais, mineração, químico e ciências biológicas.
        </li>
      </ul>
    </div>
    <div class="my-4">
      <hr>
      <h4 id="cursos_frx" class="my-3 font-weight-bold">
        Curso de Fluorescência de Raios X
      </h4>
      <p>
        <a href="{{ url_for('static', filename='files/curso_frx.pdf') }}" target="__blank">
          <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Folheto do curso
        </a>
      </p>
      <p>
        O curso fornece amplas informações sobre a técnica analítica de espectrometria por fluorescência de raios X, com ênfase nos detalhes da rotina operacional, objetivando o domínio do assunto e a obtenção de resultados de boa qualidade. Seus campos de aplicação, potencialidade, versatilidade, uso adequado e avanços recentes em equipamentos e softwares também são abordados. Além do conteúdo teórico, o curso propicia aos participantes o contato e uso de softwares modernos para fixação dos conhecimentos e vivência nas aplicações.
      </p>
      <p>
        Objetivos
      </p>
      <ul class="mb-4">
        <li>
          Proporcionar aos profissionais envolvidos com técnicas de análise química uma ampla visão da espectrometria por fluorescência de raios X;
        </li>
        <li>
          Promover a atualização de conhecimentos e apresentar os mais recentes desenvolvimentos instrumentais;
        </li>
        <li>
          Discutir e apresentar aplicações nos setores metalúrgico, químico, de mineração e de materiais;
        </li>
        <li>
          Proporcionar aos participantes a elaboração de programas analíticos quantitativos e o uso de softwares semi-quantitativos (sem o emprego de padrões).
        </li>
      </ul>
    </div>
    <div class="my-4">
      <hr>
      <h4 id="cursos_frx" class="my-3 font-weight-bold">
        Curso de Difratometria de Raios X - Método do Pó
      </h4>
      <p>
        <a href="{{ url_for('static', filename='files/curso_drx.pdf') }}" target="__blank">
          <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Folheto do curso
        </a>
      </p>
      <p>
        O curso fornece informações sobre a técnica de difratometria de raios X aplicada ao estudo de materiais policristalinos (método do pó), com ênfase nos detalhes da rotina operacional. Seus campos de aplicação, potencialidade, versatilidade e avanços recentes em equipamentos e softwares também são abordados.
      </p>
      <p>
        Além do conteúdo teórico, o curso propicia aos participantes o contato e uso de softwares para fixação dos conhecimentos e vivência nas aplicações.
      </p>
      <p>
        Objetivos
      </p>
      <ul class="mb-4">
        <li>
          Proporcionar aos profissionais envolvidos com técnicas de caracterização de materiais em geral uma ampla visão da difratometria de raios X aplicada ao estudo de materiais policristalinos;
        </li>
        <li>
          Introduzir os conceitos que orientam a escolha de procedimentos e métodos para análises quantitativas por DRX;
        </li>
        <li>
          Promover a atualização de conhecimentos e apresentar os recentes desenvolvimentos instrumentais;
        </li>
        <li>
          Discutir e apresentar aplicações nos setores metalúrgico, químico, de mineração e de materiais.
        </li>
      </ul>
      <hr>
    </div>
  </div>
{% endblock %}
