{% extends "layout.html" %}
{% block title %}
  Serviços / LIMS - kemiolab
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="lims" class="my-3 font-weight-bold">
      <div class="d-md-none text-left">
        LIMS – Laboratory Information Management System<br/>
        <img src="{{ url_for('static', filename='img/logo/kemiolab-side.png') }}" class="w-50 img-fluid mt-4" alt="KemioLab">
      </div>
      <div class="d-none d-md-block">
        LIMS – Laboratory Information Management System
        <img src="{{ url_for('static', filename='img/logo/kemiolab-side.png') }}" class="float-right img-fluid m-0" alt="KemioLab" style="width: 15%;">
      </div>
    </h3>
  </div>
  <div class="row">
    <div class="col-12">
      <p>
        O KemioLab é um sistema LIMS (<i>Laboratory Information Management System</i>) desenvolvido pelo Laboratório de Caracterização Tecnológica (LCT) em parceria com a <a href="https://www.kemiocode.com/" target="_blank">Kemio Code</a>. O Kemio foi desenvolvido visando o gerenciamento integrado do Laboratório para aumento da eficiência operacional e da qualidade em laboratórios de pesquisa, serviços e controle de qualidade, em plataforma web para acesso remoto das informações. Diferentemente dos sistemas LIMS convencionais, o Kemio é modelado a partir dos requisitos levantados individualmente em cada laboratório, em um trabalho conjunto entre a equipe de programação, analistas de dados e os especialistas técnicos do LCT. Além disso, o custo operacional do Kemio está associado ao desenvolvimento e implantação do projeto, não sendo atrelado ao número de licenças ou ao número de amostras registradas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2">
      <div class="d-none d-md-block d-lg-none">
        <img src="{{ url_for('static', filename='img/lims/produtividade.jpg') }}" class="float-left img-fluid border rounded mr-3 mb-2" style="width: 50%" alt="KemioLab - aumento da produtividade e confiabilidade" />
      </div>
      <div class="d-none d-lg-block d-xl-none">
        <img src="{{ url_for('static', filename='img/lims/produtividade.jpg') }}" class="float-left img-fluid border rounded mr-3 mb-2" style="width: 40%" alt="KemioLab - aumento da produtividade e confiabilidade" />
      </div>
      <div class="d-none d-xl-block">
        <img src="{{ url_for('static', filename='img/lims/produtividade.jpg') }}" class="float-left img-fluid border rounded mr-3 mb-2" style="width: 30%" alt="KemioLab - aumento da produtividade e confiabilidade" />
      </div>
      <h4 id="lims_produtividade" class="mb-3 font-weight-bold">
        Aumento da produtividade e confiabilidade
      </h4>
      <div class="d-md-none">
        <img src="{{ url_for('static', filename='img/lims/produtividade.jpg') }}" class="img-fluid border rounded mb-3" style="width: 100%" alt="KemioLab - aumento da produtividade e confiabilidade" />
      </div>
      <p>
        O aumento da produtividade e confiabilidade do laboratório são garantidos pela otimização e automação de processos, como o uso de QRCode para identificação das amostras, transferência automática de massas e volumes para o sistema, exportação direta dos resultados analíticos do equipamento para o LIMS, sistema inteligente de validação dos resultados e geração de relatórios analíticos automáticos (.CSV e .PDF), com consequente redução do <i>turnaround time</i>, custo operacional e de erros associados as operações de transcrição de resultados.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2">
      <h4 id="lims_gerenciamento" class="mb-3 font-weight-bold">
        Gerenciamento integrado
      </h4>
      <p>
        Relatórios gerenciais como o de <i>backlog</i>, <i>turnaround time</i>, amostras recebidas, solicitações por períodos, status do tempo decorrido e relatórios financeiros, possibilitam aos gestores realizarem uma análise crítica dos processos e tomadas de decisões em busca de uma maior eficiência operacional. Os relatórios são personalizados a partir dos indicadores definidos por cada laboratório. O sistema requer que toda solicitação em atraso seja justificada, a fim de facilitar a verificação e correção dos problemas operacionais cotidianos.
      </p>
      <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='img/lims/backlog.png') }}" class="img-fluid border rounded mw-100" style="width: 100%" alt="Kemiolab - Relatório gerencial - Backlog" />
        <p class="text-muted">Exemplo de relatório gerencial - <i>Backlog</i> por etapa do processo</p>
      </div>
      <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='img/lims/atraso.png') }}" class="img-fluid border rounded mw-100" style="width: 100%" alt="Kemiolab - Relatório gerencial - Justificativas de atraso" />
        <p class="text-muted">Exemplo de relatório gerencial - Justificativas de atraso</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2">
      <h4 id="lims_qualidade" class="mb-3 font-weight-bold">
        Gestão de qualidade
      </h4>
      <p>
        O gerenciamento do Sistema de Gestão da Qualidade (SGQ) e os processos de certificação na norma ABNT NBR ISO 9001 e no credenciamento no INMETRO da norma ABNT NBR ISO/IEC 17025 são facilitados com o Kemio, que possibilita:
      </p>
      <ul class="mb-4">
        <li>
          Rastreabilidade total do fluxo das amostras e dos respectivos dados gerados durante os ensaios e análises.
        </li>
        <li>
          Gerenciamento de informações documentadas, como a necessidade de revisão de documentos.
        </li>
        <li>
          Acesso aos procedimentos operacionais durante as operações no sistema.
        </li>
        <li>
          Ferramentas de QA/QC, como cartas controles.
        </li>
      </ul>
      <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='img/lims/qaqc.png') }}" class="img-fluid border rounded mw-100" style="width: 100%" alt="Kemiolab - QA/QC - Carta controle" />
        <p class="text-muted">Exemplo de carta controle, associada com a validação automática de resultados</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2">
      <div class="d-none d-md-block d-lg-none">
        <img src="{{ url_for('static', filename='img/lims/manutencao.png') }}" class="float-right img-fluid border rounded mr-4 mb-2" style="width: 50%" alt="Kemiolab - Manutenção" />
      </div>
      <div class="d-none d-lg-block d-xl-none">
        <img src="{{ url_for('static', filename='img/lims/manutencao.png') }}" class="float-right img-fluid border rounded mr-4 mb-2" style="width: 45%" alt="Kemiolab - Manutenção" />
      </div>
      <div class="d-none d-xl-block">
        <img src="{{ url_for('static', filename='img/lims/manutencao.png') }}" class="float-right img-fluid border rounded mr-4 mb-2" style="width: 40%" alt="Kemiolab - Manutenção" />
      </div>
      <h4 id="lims_equipamentos" class="mb-3 font-weight-bold">
        Gestão de equipamentos
      </h4>
      <div class="d-md-none">
        <img src="{{ url_for('static', filename='img/lims/manutencao.png') }}" class="img-fluid border rounded mb-3" style="width: 100%" alt="Kemiolab - Manutenção" />
      </div>
      <p>
        O gerenciamento dos ativos do Laboratório se torna simples com o Kemio, que reúne todas as informações cadastrais em uma única tela (marca, modelo, número de série, contato de manutenção, etc). O sistema ainda possibilita realizar o <i>upload</i> do Manual e do Procedimento Operacional Padrão do equipamento, assim como, verificar todo o histórico de manutenção realizada no equipamento.
      </p>
      <p>
        A programação das aferições e manutenções preventivas podem ser realizadas diretamente no Kemio, que envia e-mails de follow up ao responsável pela execução da ação e ao responsável técnico do equipamento quanto a necessidade de intervenção.
      </p>
      <p>
        As manutenções corretivas também são gerenciadas pelo sistema, onde é possível inserir informações como causa da falha e ações tomadas, realizar o <i>upload</i> das ordens de serviços e NFe. Também é possível inserir informação dos custos de cada intervenção, possibilitando o gestor do laboratório extrair relatórios das atividades de manutenção realizadas e seus respectivos custos.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 my-2">
      <h4 id="lims_estoques" class="mb-3 font-weight-bold">
        Gerenciamento do estoque
      </h4>
      <p>
        Módulo simples e de fácil operação. A continuidade das atividades do laboratório é garantida com o envio de e-mail de '<i>follow up</i>' ao responsável por compras quando o estoque real for igual ou menor ao mínimo registrado. O sistema permite imprimir etiquetas para cada item do novo lote recebido. O uso de QRCode proporciona maior agilidade operacional aos usuários do laboratório para realizar a baixa do item no sistema.
      </p>
      <div class="text-center mb-4">
        <img src="{{ url_for('static', filename='img/lims/estoque.png') }}" class="img-fluid border rounded mw-100" style="width: 100%" alt="Kemiolab - Estoque" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-md-none text-center">
        <img src="{{ url_for('static', filename='img/logo/lct-white.jpg') }}" class="img-fluid w-50" alt="LCT">
        <p>
          <span><a href="mailto:lct@lct.poli.usp.br">lct@lct.poli.usp.br</a></span><br/>
          <span class="text-muted">+55 11 3091-5151 / 3091-5551</span>
        </p>
      </div>
      <div class="d-none d-md-block text-right">
        <img src="{{ url_for('static', filename='img/logo/lct-white.jpg') }}" class="img-fluid" width="175px" alt="LCT">
        <br/>
        <span><a href="mailto:lct@lct.poli.usp.br">lct@lct.poli.usp.br</a></span>
        <br/>
        <span class="caption">+55 11 3091-5151 / 3091-5551</span>
      </div>
    </div>
  </div>
{% endblock %}
