{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Absorção atômica
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="aas" class="my-3 font-weight-bold">
      Métodos analíticos - Absorção atômica
    </h3>
    <p>
      Esta técnica baseia-se na propriedade dos átomos de absorver radiações características (discretas) quando submetidos a determinadas fontes energéticas (lâmpada de catodo oco - HCL).
    </p>
    <p>
      Para absorver a radiação eletromagnética, os analitos passam por um processo de dessolvatação, dissociação e atomização. Esta sequência de processos ocorre em uma chama.
    </p>
    <p>
      O espectrômetro de absorção atômica, marca Varian, modelo Sequential 220, conta com a possibilidade de utilização de chama composta tanto de acetileno/ar comprimido como acetileno/óxido nitroso, o que confere versatilidade na determinação de elementos de baixa e alta energia de atomização.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="ouro" class="my-3 font-weight-bold">
      Ouro através de digestão por água régia
    </h4>
    <p>
      A amostra é submetida às etapas de calcinação, digestão em água régia, extração com MIBK e determinação por espectrometria de absorção atômica. O método se aplica a amostras de rochas, solos, sedimentos de corrente, trincheiras e testemunhos de sondagem.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
