{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Via úmida
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="avu" class="my-3 font-weight-bold">
      Métodos analíticos - Via úmida
    </h3>
    <p>
      O LCT dispõe de um laboratório químico de via úmida que é utilizado tanto para o preparo de amostras para ICP OES e AAS, quanto para a execução de técnicas de química clássica (volumetria e gravimetria).
    </p>
    <p>
      Todos os reagentes e insumos empregados são devidamente armazenados e utilizados seguindo normas padronizadas de segurança e BPL (Boas Práticas de Laboratório).
    </p>
  </div>
  <div class="mb-4">
    <h4 id="ferro" class="my-3 font-weight-bold">
      FeO (Fe<sup>2+</sup>) em minérios de ferro
    </h4>
    <p>
      A determinação de FeO (Fe<sup>2+</sup>) em minérios de ferro é realizada através de digestão ácida seguida de determinação volumétrica (titulação), conforme norma ABNT ISO 9035. O uso do titulador automático Titrette® proporciona aumento da confiabilidade e sensibilidade analítica.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="ri" class="my-3 font-weight-bold">
      Resíduo insolúvel (RI)
    </h4>
    <p>
      A análise de resíduo insolúvel (RI) é realizada submetendo a amostra a uma lixiviação com ácido clorídrico, que posteriormente é seca e pesada para a quantificação de RI.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Teor de umidade
    </h4>
    <p>
      O teor de umidade é determinado por gravimetria à 105 &deg;C até o obtenção de peso constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Perda ao fogo
    </h4>
    <p>
      A perda ao fogo é determinada por gravimetria, onde a amostra é calcinada a 1020&deg;C por 2h. Ensaios com temperaturas específicas podem ser executados de acordo com a necessidade do solicitante.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    <p>
      {% include 'element/aviso-solicitacao.html' %}
    </p>
  </div>
{% endblock %}
