{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Cimento, agregados e concreto
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Cimento, agregados e concreto
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados a cimento, agregados e concreto. Dentre os serviços, destacam-se:
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      A técnica da fluorescência de raios X possibilita estudar a composição química dos cimento, agregados e concreto. O preparo de amostras pelo método de fusão com borato de lítio e análise por fluorescência de raios X por comparação com materiais de referência certificados é o procedimento mais recomendado para dosagem dos óxidos maiores (acima de 0,10%), tanto quanto à precisão como com relação à exatidão analítica. O pacote analítico disponível para estes materiais compreende a dosagem dos óxidos abaixo listados. Pacotes personalizados podem ser desenvolvidos a depender da demanda e necessidade do cliente.
    </p>
    <div class="alert alert-secondary pb-0 mb-0">
      <p>
        <span class="font-weight-bold mr-2">Código CIM-1</span>
        SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, CaO, MgO, SO<sub>3</sub>, Na<sub>2</sub>O, K<sub>2</sub>O, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub>, MnO, SrO + PF*
      </p>
    </div>
    <div class="mb-2">
      <small>*Perda ao fogo</small>
    </div>
    <p>
      O método <i>standarless</i> (sem padrão ou semi-quantitativo) ambém está disponível para análise em cimento, agregados e concreto, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento apresenta menor acurácia, mas é muito utilizado e recomendado para varredura completa e reconhecimento de uma amostra.
    </p>
    <p>
      Para a determinação de teores dos elementos traços em cimento, agregados e concreto (abaixo de 0,10% / ordem de ppm) recomenda- se a análise por espectrometria de emissão óptica (ICP-OES), onde a amostra é digerida em um ataque multiácido e os elementos são determinados por ICP-OES. O LCT disponibiliza a dosagem dos seguintes elementos:
    </p>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tbody>
          {%
            set elements = [
              ['Ag', 'Bi', 'Cr', 'Hf', 'Mg', 'Ni', 'Sb', 'Te', 'V'],
              ['Al', 'Ca', 'Cs', 'In', 'Mn', 'P', 'Sc', 'Th', 'W'],
              ['As', 'Cd', 'Cu', 'K', 'Mo', 'Pb', 'Sn', 'Ti', 'Y'],
              ['Ba', 'Ce', 'Fe', 'La', 'Na', 'Rb', 'Sr', 'Tl', 'Zn'],
              ['Be', 'Co', 'Ga', 'Li', 'Nb', 'S', 'Ta', 'U', 'Zr']
            ]
          %}
          {% include 'element/chemical-elements-tbody.html' %}
        </tbody>
      </table>
    </div>
    <p>
      O teor de resíduo insolúvel é realizado por meio de digestão ácida, seguida de quantificação gravimétrica.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a sua quantificação pelo método de Rietveld em amostras de cimento, além de permitir a quantificação do teor de cal livre, C3S, C2S, C3A e o acompanhamento das fases durante a hidratação do cimento.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="microtomografia" class="my-3 font-weight-bold">
      Microscopia de raios X 3D (microtomografia)
    </h4>
    <p>
      A microscopia de raios X 3D, também conhecida como microtomografia de raios X de alta resolução, possibilita realizar análises tridimensionais não destrutivas em materiais diversos. Na aplicação de agregados e concreto, é possível a reconstrução de corpos de prova de até 10 cm de diâmetro, para visualização tridimensional de microestruturas internas, com resolução espacial máxima de 1 μm. Esta técnica também possibilita a determinação de porosidade, distribuição de tamanho e forma de poros não conectados, fraturas, falhas, fibras, etc.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        A picnometria de hélio permite a obtenção da densidade mais próxima da real para cimentos, agregados e concretos.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        O sistema automatizado de análise de tamanho e morfologia de partículas CAMSIZER trabalha com intervalos de medição de 3 μm a 30 mm, oferecendo uma alternativa à tradicional análise granulométrica por peneiramento. A grande vantagem dessa técnica para a indústria de agregados está relacionada com a possibilidade de determinação da forma das partículas.
      </li>
      <li>
        Determinação do tamanho partículas por espalhamento laser de baixo ângulo em partículas de 20 nm a 3 mm (equipamento Malvern)
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="porosidade" class="my-3 font-weight-bold">
      Porosidade
    </h4>
    <p>
      A porosimetria de mercúrio permite a análise de porosidade e distribuição do tamanho de poros em agregados e concreto. Esta técnica também permite determinar a densidade bulk e esqueleto nesses materiais.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
