{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Fluorescência de raios X
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-12">
      <h3 id="frx" class="my-3 font-weight-bold">
        Métodos analíticos - Fluorescência de raios X
      </h3>
      <p>
        Alta precisão e excelente reprodutibilidade tornam a fluorescência por raios X (FRX) a técnica analítica mais empregada na análise dos componentes maiores em matrizes diversas, tais como: materiais geológicos (rochas, sedimentos, bauxitas, calcários, cimentos, fosfatos, minérios de ferro, manganês, níquel laterítico...), resíduos industriais, rejeitos, ligas metálicas e materiais cerâmicos.
      </p>
      <p>
        Dependendo da natureza das amostras, estas podem ser analisadas na forma tal qual (ex.: chapas metálicas), ou então processadas até a obtenção de um material pulverizado, que em seguida são prensadas ou fundidas com boratos de lítio. O método por pó prensado permite uma melhor sensibilidade, sendo indicado para análises do tipo <i>standarless</i> (fluor ao urânio) de materiais que não são certificados.  Já o método por fusão elimina os efeitos de granulometria (tamanho de partícula) e reduz significativamente os efeitos de matriz, proporcionando ganhos na reprodutibilidade e exatidão. O método por fusão é indicado para análises quantitativas.
      </p>
      <div class="d-md-none">
        <img src="{{ url_for('static', filename='img/metodos/frx/espectometro.jpg') }}" class="img-fluid rounded mb-2" style="width: 100%" alt="Imagem espectômetro" />
      </div>
      <div class="d-none d-md-block text-center">
        <img src="{{ url_for('static', filename='img/metodos/frx/espectometro_cropped.jpg') }}" class="img-fluid rounded mb-2" style="max-width: 100%" alt="Equipe LCT" />
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="<i>standarless</i>" class="my-3 font-weight-bold">
      Método Standardless
    </h4>
    <div class="alert alert-secondary pb-0">
      <p>
        <span class="font-weight-bold mr-2">Código STD-1</span><br>
        O método <i>standarless</i> também conhecido como semi-quantitativo ou varredura, é indicado na investigação de amostras desconhecidas, e pode ser aplicado para materiais de naturezas diversas, tais como: materiais geológicos, resíduos industriais, rejeitos, carepas, ligas metálicas, materiais cerâmicos e poliméricos. Este método basicamente permite detectar e quantificar os elementos químicos compreendidos entre o flúor e o urânio, conforme ilustrado na tabela periódica abaixo. A determinação da perda ao fogo (PF) está inclusa no método.
      </p>
    </div>
    <div class="text-center mb-4">
      <img src="{{ url_for('static', filename='img/metodos/frx/stdless.png') }}" class="img-fluid mw-100 mb-2" alt="Tabela periódica standardless" />
    </div>
  </div>
  <div class="mb-4">
    <h4 id="quantitativos" class="my-3 font-weight-bold">
      Método quantitativos
    </h4>
    <p>
      Os métodos quantitativos são específicos para cada tipo de matriz mineral, e seu uso é recomendado quando já se conhece o material a ser analisado. Geralmente solicita-se métodos quantitativos para amostras oriundas de pesquisa mineral, controle de qualidade e de inspeção. Nos métodos quantitativos as amostras são fundidas com boratos de lítio/sódio e analisadas em curvas de calibração construídas a partir de materiais de referência certificados (MRC). A determinação da perda ao fogo (PF) também está inclusa nos métodos quantitativos.
    </p>
    <p>
      O controle de qualidade (QA/QC) é sempre desempenhado nas análises quantitativas, por meio da utilização de replicatas de preparação física (RP), replicatas de análises (RA), brancos de preparação (BP), brancos analíticos (BA) e materiais de referência (MR).
    </p>
    <p>
      O LCT dispõe dos seguintes métodos analíticos quantitativos:
    </p>
    <div class="mb-4">
      <h5 id="bauxitas" class="my-3 font-weight-bold">
        Bauxitas
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código BAX-1</span>
          Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, SiO<sub>2</sub>, TiO<sub>2</sub> + PF
        </p>
      </div>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código BAX-2</span>
          Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, SiO<sub>2</sub>, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub>, CaO, V<sub>2</sub>O<sub>5</sub>, Cr<sub>2</sub>O<sub>3</sub>, MnO, ZrO<sub>2</sub> + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="calcarios" class="my-3 font-weight-bold">
        Calcários
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código CAC-1</span>
          CaO, MgO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub> + PF
        </p>
      </div>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código CAC-2</span>
          CaO, MgO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, Na<sub>2</sub>O, K<sub>2</sub>O, P<sub>2</sub>O<sub>5</sub>, TiO<sub>2</sub>, SrO, MnO, S + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="cimentos" class="my-3 font-weight-bold">
        Cimentos
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código CIM-1</span>
          SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, CaO, MgO, SO<sub>3</sub>, Na<sub>2</sub>O, K<sub>2</sub>O, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub>, MnO, SrO + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="fosfatos" class="my-3 font-weight-bold">
        Fosfatos
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código FOS-1</span>
          P<sub>2</sub>O<sub>5</sub>, CaO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MgO + PF
        </p>
      </div>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código FOS-2</span>
          P<sub>2</sub>O<sub>5</sub>, CaO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MgO, TiO<sub>2</sub>, BaO, SrO + PF
        </p>
      </div>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código FOS-3</span>
          P<sub>2</sub>O<sub>5</sub>, CaO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MgO, TiO<sub>2</sub>, BaO, SrO, Na<sub>2</sub>O, K<sub>2</sub>O, MnO, SO<sub>3</sub>, ZrO<sub>2</sub>, Nb<sub>2</sub>O<sub>5</sub> + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="terras_raras" class="my-3 font-weight-bold">
        Fosfatos com terras raras
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código FTR-1</span>
          P<sub>2</sub>O<sub>5</sub>, CaO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MgO, TiO<sub>2</sub>, BaO, SrO, Na<sub>2</sub>O, K<sub>2</sub>O, MnO, SO<sub>3</sub>, ZrO<sub>2</sub>, Nb<sub>2</sub>O<sub>5</sub>, CeO<sub>2</sub>, La<sub>2</sub>O<sub>3</sub>, Nd<sub>2</sub>O<sub>3</sub>, Pr<sub>2</sub>O<sub>3</sub>, ThO<sub>2</sub>, U<sub>3</sub>O<sub>8</sub> + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="ferro" class="my-3 font-weight-bold">
        Minérios de ferro
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código FER-1</span>
          Fe, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, P e Mn + PF
        </p>
      </div>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código FER-2</span>
          Fe, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, P, Mn, TiO<sub>2</sub>, CaO, MgO, K<sub>2</sub>O, Na<sub>2</sub>O, Cr<sub>2</sub>O<sub>3</sub> + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="manganes" class="my-3 font-weight-bold">
        Minérios de manganês
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código MAN-1</span>
          Mn, Fe, P, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, K<sub>2</sub>O, BaO + PF
        </p>
      </div>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código MAN-2</span>
          Mn, Fe, P, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, K<sub>2</sub>O, BaO, TiO<sub>2</sub>, CaO, MgO, Na<sub>2</sub>O + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="quartzo" class="my-3 font-weight-bold">
        Quartzo e Feldspato
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código QZF-1</span>
          SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MnO, MgO, CaO, Na<sub>2</sub>O, K<sub>2</sub>O, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub>, Cr<sub>2</sub>O<sub>3</sub>, ZrO<sub>2</sub> + PF
        </p>
      </div>
    </div>
    <div class="mb-4">
      <h5 id="rochas" class="my-3 font-weight-bold">
        Rochas
      </h5>
      <div class="alert alert-secondary pb-0">
        <p>
          <span class="font-weight-bold mr-2">Código ROC-1</span>
          SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MnO, MgO, CaO, Na<sub>2</sub>O, K<sub>2</sub>O, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub> + PF
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <hr>
    <p>
      {% include 'element/aviso-solicitacao.html' %}
    </p>
  </div>
{% endblock %}
