{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / ICP OES
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="icp" class="my-3 font-weight-bold">
      Métodos analíticos - ICP OES
    </h3>
    <p>
      A técnica analítica ICP OES baseia-se na propriedade fundamental dos átomos em emitir radiações de comprimentos de onda característicos quando submetidos a determinadas fontes de energia. O diferencial desta técnica é a capacidade de excitação de praticamente todos os átomos da tabela periódica através do plasma e detecção de níveis extremamente baixos de radiação emitidos pelos átomos na faixa do visível e ultravioleta. Estas características tornam o ICP OES a técnica recomendada para determinação de elementos em concentrações traço (ppm e ppb) e também os maiores de diversos tipos de matrizes, tais como: materiais geológicos (ex.: rochas, metal base, terras raras...), ligas metálicas, águas e soluções líquidas em geral.
    </p>
    <p>
      Diferentemente de outras técnicas analíticas, o ICP possibilita a análise quantitativa multielementar a partir dos elementos de interesse do solicitante do serviço.
    </p>
  </div>
  <div class="mt-2 mb-4">
    <h4 id="preparo" class="my-3 font-weight-bold">
      Preparo de amostras
    </h4>
    <p>
      O LCT disponibiliza diferentes métodos de preparo de amostras para ICP OES. A seleção do método deve ser realizada considerando a mineralogia do material e o propósito da análise.
    </p>
    <div class="mb-4">
      <h5 id="agua_regia" class="my-3 font-weight-bold">
        Digestão com água régia
      </h5>
      <p>
        A água régia é a mistura do ácido clorídrico com o ácido nítrico, formando como produtos o cloreto de nitrosila (NOCl) e o cloro gasoso (Cl2), que juntos formam uma mistura extremamente oxidante capaz de solubilizar grande parte dos diferentes tipos de matrizes (ex.: óxidos, sulfetos, carbonatos, ouro, metais e ligas). Materiais refratários e silicatados são parcialmente digeridos pela água régia, logo este tipo de digestão é recomendada quando os analitos de interesse não estão associados a silicatos e refratários.
      </p>
    </div>
    <div class="mb-4">
      <h5 id="multiacida" class="my-3 font-weight-bold">
        Digestão multiácida
      </h5>
      <p>
        Também conhecida como digestão quatro ácidos, a digestão multiácida é recomendada quando há a necessidade da solubilização quase completa da amostra. A matriz é tratada com uma mistura ácida oxidante, complexante e capaz de solubilizar silicatos. Trata-se de um método extremamente eficiente quando o objetivo é a solubilização quase completa dos materiais.
      </p>
      <p>
        Denomina-se digestão quase completa, pois minerais refratários como zirconita, wolframita e schelita, cassiteria, columbita-tantalita, cromita, rutilo e ilmenita não apresentam decomposição completa neste tipo de digestão; para esses materiais recomenda-se a digestão por fusão.
      </p>
    </div>
    <div class="mb-4">
      <h5 id="fusao" class="my-3 font-weight-bold">
        Digestão por fusão
      </h5>
      <p>
        O método de digestão por fusão é empregado para materiais que não são dissolvidos em ácidos minerais concentrados à quente, ou são atacados lentamente e/ou dissolvidos parcialmente. A fusão também é adequada àqueles materiais que formam soluções ácidas instáveis, apresentando componentes com tendência a precipitar, como a sílica.
      </p>
      <p>
        Os métodos de decomposição por fusão baseiam-se na mistura da amostra com um fundente e posterior retomada do material em meio ácido e permite a abertura total de minerais de difícil dissolução, como os de terras raras e os refratários.
      </p>
    </div>
    <div class="mt-2">
      <h4 id="elementos" class="my-3 font-weight-bold">
        Elementos disponíveis
      </h4>
      <p>
        Os elementos disponíveis para seleção e análise por ICP OES estão expostos na tabela abaixo e podem ser selecionados de acordo com o interesse do solicitante do serviço:
      </p>
      <div class="table-responsive">
        <table class="table table-bordered text-center">
          <tbody>
            {%
              set elements = [
                ['Ag', 'Bi', 'Cr', 'In', 'Mn', 'Ni', 'Sb', 'Ta', 'U',  'Zr'],
                ['Al', 'Ca', 'Cu', 'K',  'Mo', 'P',  'Sc', 'Te', 'V',  ''],
                ['As', 'Cd', 'Fe', 'La', 'Na', 'Pb', 'Se', 'Th', 'W',  ''],
                ['Ba', 'Ce', 'Ga', 'Li', 'Nb', 'Rb', 'Sn', 'Ti', 'Y',  ''],
                ['Be', 'Co', 'Hf', 'Mg', 'Nd', 'S',  'Sr', 'Tl', 'Zn', '']
              ]
            %}
            {% include 'element/chemical-elements-tbody.html' %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
