{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Minérios de estanho, nióbio e tântalo
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Minérios de estanho, nióbio e tântalo
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados aos minérios de estanho, nióbio e tântalo. Dentre os serviços, destacam-se
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      O LCT disponibiliza o método <i>standarless</i> (semi-quantitativo) para análise em minérios de estanho, nióbio e tântalo, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento é muito utilizado e recomendado para varredura completa e reconhecimento de uma amostra.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="poder_relativo" class="my-3 font-weight-bold">
      Cálculo do poder relativo de neutralização total (PRNT)
    </h4>
    <p>
      Um dos atributos da qualidade dos calcários agrícolas está relacionado com o Poder Relativo de Neutralização Total (PRNT), que é calculado após a determinação do poder de neutralização (PN) e da reatividade (RE) do calcário.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a sua quantificação pelo método de Rietveld em amostras enriquecidas em estanho (Sn), nióbio (Nb) e tântalo (Ta). Como exemplos típicos de minerais presentes podem-se citar tantalita, columbita, pirocloro, cassiterita, entre outros.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da massa específica por picnometria com intrusão de gás hélio.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
      <li>
        Determinação do tamanho de partículas por espalhamento laser de baixo ângulo em partículas de 20 nm a 3 mm (equipamento Malvern).
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="caracterizacao" class="my-3 font-weight-bold">
      Estudos de caracterização tecnológica
    </h4>
    <p>
      O LCT realiza estudos de caracterização tecnológica em uma abordagem mais ampla, visando um melhor entendimento das características da matéria-prima mineral do depósito estudado, as formas de ocorrência dos minerais, e a separabilidade entre as fases presentes. Os estudos de caracterização são elaborados individualmente de acordo com as necessidades de cada projeto. Para amostras mineralizadas a nióbio, tântalo ou estanho, podem ser avaliados a distribuição granuloquímica, a composição mineralógica, as formas de ocorrência e liberação dos minerais de interesse, distribuição dos elementos químicos nos minerais portadores, dentre outras informações. 
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
