{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Minérios de ouro
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Minérios de ouro
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados a minérios de ouro. Dentre os serviços, destacam-se:
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      Determinação do teor de ouro (Au) por digestão em água régia, seguida por extração em metil isobutil cetona e dosagem em espectrômetro de absorção atômica (AAS). Esta metodologia se aplica a rochas, solos, sedimentos de corrente, trincheiras e testemunho de sondagens.
    </p>
    <p>
      Determinação do teor de ouro (Au) em soluções provenientes de ensaios de lixiviação (cianetação, por exemplo).
    </p>
    <p>
      O método <i>standarless</i> (sem padrão ou semi-quantitativo) também está disponível para análise em minérios de ouro, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento é muito utilizado para varredura completa e reconhecimento de uma amostra (demais elementos presentes) e não deve ser utilizado com a finalidade da dosagem do teor de ouro.
    </p>
    <p>
      Para a determinação de teores dos elementos traços em minérios de auríferos (abaixo de 0,10% / ordem de ppm) recomenda-se a análise por espectrometria de emissão óptica (ICP-OES), onde a amostra é preparada por meio de digestão ácida e os elementos são determinados por ICP-OES. O LCT disponibiliza a dosagem dos seguintes elementos:
    </p>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tbody>
          {%
            set elements = [
              ['Ag', 'Bi', 'Cr', 'Hf', 'Mg', 'Ni', 'Sb', 'Te', 'V'],
              ['Al', 'Ca', 'Cs', 'In', 'Mn', 'P', 'Sc', 'Th', 'W'],
              ['As', 'Cd', 'Cu', 'K', 'Mo', 'Pb', 'Sn', 'Ti', 'Y'],
              ['Ba', 'Ce', 'Fe', 'La', 'Na', 'Rb', 'Sr', 'Tl', 'Zn'],
              ['Be', 'Co', 'Ga', 'Li', 'Nb', 'S', 'Ta', 'U', 'Zr']
            ]
          %}
          {% include 'element/chemical-elements-tbody.html' %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a quantificação pelo método de Rietveld em minérios auríferos, considerando os maiores constituintes da amostra. Como exemplo típico de minerais associados ao ouro pode-se citar a pirita, calcopirita, galena, arsenopirita, quartzo, dentre outros.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da massa específica por picnometria com intrusão de gás hélio.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
      <li>
        Determinação do tamanho de partículas por espalhamento laser de baixo ângulo em partículas de 20 nm a 3 mm (equipamento Malvern).
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="caracterizacao" class="my-3 font-weight-bold">
      Estudos de caracterização tecnológica
    </h4>
    <p>
      O LCT tem uma grande experiência em projetos de caracterização de mineralizações auríferas, em uma abordagem mais ampla que visa um melhor entendimento das características da matéria-prima mineral do depósito estudado, as formas de ocorrência dos minerais e a separabilidade entre as fases. Os estudos de caracterização são elaborados individualmente de acordo com as necessidades de cada projeto. Para amostras mineralizadas a ouro, podem ser avaliados a distribuição granuloquímica, a liberação dos minerais por faixa granulométrica, a separabilidade mineral por densidade, a composição mineralógica quantitativa da amostra, a ocorrência de minerias traços (ouro, prata, platina, teluretos, etc.), a recuperação de ouro por lixiviação, dentre outros. 
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
