{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Minérios de ferro
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Minérios de ferro
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados a minérios de ferro. Dentre os serviços, destacam-se:
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      A técnica da fluorescência de raios X possibilita estudar a composição química dos minérios de ferro. O preparo de amostras pelo método de fusão com borato de lítio e análise por fluorescência de raios X por comparação com materiais de referência certificados é o procedimento mais recomendado para dosagem dos óxidos maiores (acima de 0,10%), tanto quanto à precisão como com relação à exatidão analítica. Os pacotes analíticos disponíveis para minérios de ferro compreendem a dosagem dos óxidos abaixo listados. Pacotes personalizados podem ser desenvolvidos a depender da demanda e necessidade do cliente.
    </p>
    <div class="alert alert-secondary pb-0">
      <p>
        <span class="font-weight-bold mr-2">Código FER-1</span>
        Fe, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, P e Mn + PF*
      </p>
    </div>
    <div class="alert alert-secondary pb-0 mb-0">
      <p>
        <span class="font-weight-bold mr-2">Código FER-2</span>
        Fe, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, P, Mn, TiO<sub>2</sub>, CaO, MgO, K<sub>2</sub>O, Na<sub>2</sub>O, Cr<sub>2</sub>O<sub>3</sub> + PF*
      </p>
    </div>
    <div class="mb-2">
      <small>*Perda ao fogo</small>
    </div>
    <p>
      O método <i>standarless</i> (sem padrão ou semi-quantitativo) também está disponível para análise em minérios de ferro, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento apresenta menor acurácia, mas é muito utilizado e recomendado para varredura completa e reconhecimento de uma amostra.
    </p>
    <p>
      Para a determinação de teores dos elementos traços em minérios de ferro (abaixo de 0,10% / ordem de ppm) recomenda-se a análise por espectrometria de emissão óptica (ICP-OES), onde a amostra é digerida em um ataque multiácido e os elementos são determinados por ICP-OES. O LCT disponibiliza a dosagem dos seguintes elementos:
    </p>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tbody>
          {%
            set elements = [
              ['Ag', 'Bi', 'Cr', 'Hf', 'Mg', 'Ni', 'Sb', 'Te', 'V'],
              ['Al', 'Ca', 'Cs', 'In', 'Mn', 'P', 'Sc', 'Th', 'W'],
              ['As', 'Cd', 'Cu', 'K', 'Mo', 'Pb', 'Sn', 'Ti', 'Y'],
              ['Ba', 'Ce', 'Fe', 'La', 'Na', 'Rb', 'Sr', 'Tl', 'Zn'],
              ['Be', 'Co', 'Ga', 'Li', 'Nb', 'S', 'Ta', 'U', 'Zr']
            ]
          %}
          {% include 'element/chemical-elements-tbody.html' %}
        </tbody>
      </table>
    </div>
    <p>
      Determinação do teor de ferro (II) - FeO em minérios de ferro de acordo com a ABNT NBR ISO 9035.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a sua quantificação pelo método de Rietveld em amostras de minérios de ferro. Como exemplos típicos de minerais presentes nos minérios de ferro podem-se citar a hematita, a magnetita, a goethita e o quartzo.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="classificacao_granulometrica" class="my-3 font-weight-bold">
      Classificação granulométrica por peneiramento segundo a norma ABNT NBR ISO 4701
    </h4>
    <ul class="mb-4">
      <li>
        Lump ore (granulado): 38 mm (1 ½”), 25 mm (1”), 12,5 mm (1/2”), dentre outras;
      </li>
      <li>
        Sinter feed: peneiras de 6,3mm (1/4”), 1,0mm, dentre outras;
      </li>
      <li>
        Pellet feed: peneiras 0,15 mm, 0,074 mm, 0,037 mm, dentre outras;
      </li>
      <li>
        Pelotas: peneiras de 19,1mm (3/4”), 15,9mm (5/8”), 6,3mm, 5,66mm (3,5 malhas Tyler), 4,76 mm (4 malhas Tyler), dentre outras
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da massa específica por picnometria com intrusão de gás hélio.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
      <li>
        Determinação do tamanho de partículas por espalhamento laser de baixo ângulo em partículas de 20 nm a 3 mm (equipamento Malvern).
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="caracterizacao" class="my-3 font-weight-bold">
      Estudos de caracterização tecnológica
    </h4>
    <p>
      O LCT realiza estudos de caracterização tecnológica em uma abordagem mais ampla, visando um melhor entendimento das características da matéria-prima mineral do depósito estudado, as formas de ocorrência dos minerais, e a separabilidade entre as fases presentes. Os estudos de caracterização são elaborados individualmente de acordo com as necessidades de cada projeto. Para amostras mineralizadas a ferro, podem ser avaliados a distribuição granuloquímica, a composição mineralógica, as formas de ocorrência dos minerais de interesse, o grau de liberação dos minerais de ferro (principalmente em relação à sua associação com as fases portadoras de fósforo, alumínio, sílica e perda ao fogo presentes), a partição de ferro e de outros elementos químicos de interesse nos minerais portadores, as curvas de recuperação potencial versus teor (Fe presente na forma de óxidos), dentre outras informações.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
