{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Minérios e concentrado de cobre
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Minérios e concentrado de cobre
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados a minérios de cobre, concentrados de cobre e cobre métalico. Dentre os serviços, destacam-se:
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      A análise do teor de Cu é realizada quantitativamente por digestão ácida seguida por determinação em equipamento de absorção atômica (AAS) ou espectrômetro de emissão óptica (ICP-OES). Além do cobre, é possível a determinação dos seguintes analitos no minério de cobre:
    </p>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tbody>
          {%
            set elements = [
              ['Ag', 'Bi', 'Cr', 'Hf', 'Mg', 'Ni', 'Sb', 'Te', 'V'],
              ['Al', 'Ca', 'Cs', 'In', 'Mn', 'P', 'Sc', 'Th', 'W'],
              ['As', 'Cd', 'Cu', 'K', 'Mo', 'Pb', 'Sn', 'Ti', 'Y'],
              ['Ba', 'Ce', 'Fe', 'La', 'Na', 'Rb', 'Sr', 'Tl', 'Zn'],
              ['Be', 'Co', 'Ga', 'Li', 'Nb', 'S', 'Ta', 'U', 'Zr']
            ]
          %}
          {% include 'element/chemical-elements-tbody.html' %}
        </tbody>
      </table>
    </div>
    <p>
      Atenção: para amostras provindas de inspeção cuja finalidade seja de certificação de carga (compra e venda de material), recomenda-se a realização da análise em duplicata, onde o valor médio é reportado.
    </p>
    <p>
      Complementarmente à técnica analítica acima, o LCT disponibiliza a determinação quantitativa de SiO<sub>2</sub> por digestão ácida, seguida por análise gravimétrica.
    </p>
    <p>
      O método <i>standarless</i> (sem padrão ou semi-quantitativo) também está disponível para análise em minérios de cobre, concentrados de cobre e cobre metálico, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento apresenta menor acurácia, mas é muito utilizado e recomendado para varredura completa e reconhecimento de uma amostra.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a quantificação pelo método de Rietveld em minérios de cobre. Como exemplo típico de minerais presentes nos minérios de cobre, pode-se citar a calcopirita, a malaquita e a cuprita, além de plagioclásios, carbonatos, piroxênios, quartzo, entre outros.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da massa específica por picnometria com intrusão de gás hélio.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="caracterizacao" class="my-3 font-weight-bold">
      Estudos de caracterização tecnológica
    </h4>
    <p>
      O LCT realiza estudos de caracterização tecnológica em uma abordagem mais ampla, visando um melhor entendimento das características da matéria-prima mineral do depósito estudado, as formas de ocorrência dos minerais, e a separabilidade entre as fases presentes. Os estudos de caracterização são elaborados individualmente de acordo com as necessidades de cada projeto. Para minério de cobre, podem ser avaliados a distribuição granuloquímica, a composição mineralógica quantitativa, a partição dos elementos de interesse nos minerais portadores, a ocorrência minerais traços, a liberação dos minerais por faixa granulométrica, a separabilidade mineral por densidade e susceptibilidade magnética, dentre outros.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
