{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Rochas e solos
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Rochas e solos
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados a rochas e solos. Dentre os serviços, destacam-se:
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      A técnica da fluorescência de raios X possibilita estudar a composição química das rochas e solos. O preparo de amostras pelo método de fusão com borato de lítio e análise por fluorescência de raios X por comparação com materiais de referência certificados é o procedimento mais recomendado para dosagem dos óxidos maiores (acima de 0,10%), tanto quanto à precisão como com relação à exatidão analítica. O pacote analítico disponível para rochas e solos compreende a dosagem dos óxidos abaixo listados. Pacotes personalizados podem ser desenvolvidos a depender da demanda e necessidade do cliente.
    </p>
    <div class="alert alert-secondary pb-0 mb-0">
      <p>
        <span class="font-weight-bold mr-2">Código ROC-1</span>
        SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MnO, MgO, CaO, Na<sub>2</sub>O, K<sub>2</sub>O, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub> + PF*
      </p>
    </div>
    <div class="mb-2">
      <small>*Perda ao fogo</small>
    </div>
    <p>
      O método <i>standarless</i> (sem padrão ou semi-quantitativo) também está disponível para análise em rochas e solos, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento apresenta menor acurácia, mas é muito utilizado e recomendado para varredura completa e reconhecimento de uma amostra.
    </p>
    <p>
      Para a determinação de teores dos elementos traços em rochas e solos (abaixo de 0,10% / ordem de ppm) recomenda-se a análise por espectrometria de emissão óptica (ICP-OES), onde a amostra é digerida em um ataque multiácido e os elementos são determinados por ICP-OES. O LCT disponibiliza a dosagem dos seguintes elementos:
    </p>
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <tbody>
          {%
            set elements = [
              ['Ag', 'Bi', 'Cr', 'Hf', 'Mg', 'Ni', 'Sb', 'Te', 'V'],
              ['Al', 'Ca', 'Cs', 'In', 'Mn', 'P', 'Sc', 'Th', 'W'],
              ['As', 'Cd', 'Cu', 'K', 'Mo', 'Pb', 'Sn', 'Ti', 'Y'],
              ['Ba', 'Ce', 'Fe', 'La', 'Na', 'Rb', 'Sr', 'Tl', 'Zn'],
              ['Be', 'Co', 'Ga', 'Li', 'Nb', 'S', 'Ta', 'U', 'Zr']
            ]
          %}
          {% include 'element/chemical-elements-tbody.html' %}
        </tbody>
      </table>
    </div>
    <p>
      Determinação do teor de ouro (Au) por digestão em água régia, seguida por extração em metil isobutil cetona e dosagem em espectrômetro de absorção atômica (AAS). Esta metodologia se aplica a rochas, solos, sedimentos de corrente, trincheiras e testemunho de sondagens.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a sua quantificação pelo método de Rietveld em rochas e solos. Como exemplo típico de minerais presentes em rochas e materiais de alteração (solos e saprolitos) pode-se citar quartzo, feldspatos, argilominerais, óxi-hidróxidos de ferro, entre outros.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="microtomografia" class="my-3 font-weight-bold">
      Microscopia de raios X 3D (microtomografia)
    </h4>
    <p>
      Também conhecida como microtomografia de raios X de alta resolução, possibilita realizar análises tridimensionais não destrutivas em materiais diversos. Em materiais como de rochas e solos, pode-se citar as seguintes aplicações:
    </p>
    <ul class="mb-4">
      <li>
        Imagens tridimensionais de corpos de prova de rochas e solos (testemunhos, fragmentos, amostras indeformadas) para visualização 3D de texturas e microestruturas;
      </li>
      <li>
        Análise de porosidade e distribuição de tamanho e forma de poros não conectados;
      </li>
      <li>
        Reconstrução de amostras de até 10 cm de diâmetro, com resolução espacial máxima de 1 μm.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="analise_granulometrica" class="my-3 font-weight-bold">
      Análise granulométrica
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da distribuição granulométrica e do módulo de finura por peneiramento, seguindo a norma ABNT NBR NM 248;
      </li>
      <li>
        Determinação do teor de material pulverulento por peneiramento – ABNT NBR NM 46;
      </li>
      <li>
        Determinação do teor de argila em torrões nos agregados – ABNT NBR 7218.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
      <li>
        Determinação do tamanho de partículas por espalhamento laser de baixo ângulo em partículas de 20 nm a 3 mm (equipamento Malvern).
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da massa específica por picnometria com intrusão de gás hélio.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="caracterizacao" class="my-3 font-weight-bold">
      Estudos de caracterização tecnológica
    </h4>
    <p>
      O LCT realiza estudos de caracterização tecnológica em uma abordagem mais ampla, visando um melhor entendimento das características da matéria-prima mineral do depósito estudado, as formas de ocorrência dos minerais e a separabilidade entre as fases presentes. Os estudos de caracterização são elaborados individualmente de acordo com as necessidades de cada projeto.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
