{% extends "layout.html" %}
{% block title %}
  Métodos analíticos / Terras raras
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="areia" class="my-3 font-weight-bold">
      Métodos analíticos - Terras raras
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica realiza uma série de ensaios destinados aos óxidos de terras raras. Dentre os serviços, destacam-se:
    </p>
  </div>
  <div class="mb-4">
    <h4 id="umidade" class="my-3 font-weight-bold">
      Umidade
    </h4>
    <p>
      A determinação do teor de umidade é realizada na temperatura de 105&deg;C até obtenção de massa constante.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="determinacoes_quimicas" class="my-3 font-weight-bold">
      Determinações Químicas
    </h4>
    <p>
      A técnica da fluorescência de raios X possibilita estudar a composição química das terras raras. O preparo de amostras pelo método de fusão com borato de lítio e análise por fluorescência de raios X por comparação com materiais de referência certificados é o procedimento mais recomendado para dosagem dos óxidos maiores (acima de 0,10%), tanto quanto à precisão como com relação à exatidão analítica. O pacote analítico disponível para terras raras compreende a dosagem dos óxidos abaixo listados. Pacotes personalizados podem ser desenvolvidos a depender da demanda e necessidade do cliente.
    </p>
    <div class="alert alert-secondary pb-0 mb-0">
      <p>
        <span class="font-weight-bold mr-2">Código FTR-1</span>
        P<sub>2</sub>O<sub>5</sub>, CaO, SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MgO, TiO<sub>2</sub>, BaO, SrO, Na<sub>2</sub>O, K<sub>2</sub>O, MnO, SO<sub>3</sub>, ZrO<sub>2</sub>, Nb<sub>2</sub>O<sub>5</sub>, CeO<sub>2</sub>, La<sub>2</sub>O<sub>3</sub>, Nd<sub>2</sub>O<sub>3</sub>, Pr<sub>2</sub>O<sub>3</sub>, ThO<sub>2</sub>, U<sub>3</sub>O<sub>8</sub> + PF*
      </p>
    </div>
    <div class="mb-2">
      <small>*Perda ao fogo</small>
    </div>
    <p>
      O método <i>standarless</i> (sem padrão ou semi-quantitativo) também está disponível para análise em bauxita, permitindo a determinação dos elementos compreendidos entre o flúor e o urânio (número atômico de 9 a 92) a partir de 0,001% de concentração. Este procedimento apresenta menor acurácia, mas é muito utilizado e recomendado para varredura completa e reconhecimento de uma amostra.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="analise_mineralogica" class="my-3 font-weight-bold">
      Análise mineralógica
    </h4>
    <p>
      A técnica de difração de raios X permite a identificação de fases cristalinas (minerais, por exemplo) e a sua quantificação pelo método de Rietveld em amostras enriquecidas em terras raras. Como exemplo típico de minerais presentes nesses materiais pode-se citar monazita, xenotima, bastnaesita, além de alumino-fosfatos, apatita, barita, pirocloro, entre outros, a depender do depósito estudado.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="massa_especifica" class="my-3 font-weight-bold">
      Massa específica (densidade)
    </h4>
    <ul class="mb-4">
      <li>
        Determinação da massa específica por picnometria com intrusão de gás hélio.
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="tamanho_forma" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h4>
    <ul class="mb-4">
      <li>
        Determinação do tamanho e forma de partículas por análise de imagem dinâmica em partículas de 1 μm a 30 mm (equipamento CAMSIZER).
      </li>
      <li>
        Determinação do tamanho de partículas por espalhamento laser de baixo ângulo em partículas de 20 nm a 3 mm (equipamento Malvern).
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="caracterizacao" class="my-3 font-weight-bold">
      Estudos de caracterização tecnológica
    </h4>
    <p>
      O LCT realiza estudos de caracterização tecnológica em uma abordagem mais ampla, visando um melhor entendimento das características da matéria-prima mineral do depósito estudado, as formas de ocorrência dos minerais, e a separabilidade entre as fases presentes. Os estudos de caracterização são elaborados individualmente de acordo com as necessidades de cada projeto. Para amostras mineralizadas a elemento de terras raras, podem ser avaliados a distribuição granuloquímica, a composição mineralógica, separabilidade mineral por densidade e susceptibilidade magnética, as formas de ocorrência e associações dos minerais portadores de terras raras, a partição destes nos respectivos minerais e o grau de liberação das principais fases portadoras destes elementos, dentre outras informações.
    </p>
  </div>
  <div class="mb-4">
    <hr>
    {% include 'element/aviso-solicitacao.html' %}
  </div>
{% endblock %}
