{% extends "layout.html" %}
{% block title %}Sobre / O LCT{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="institucional" class="my-3 font-weight-bold">
      Institucional
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica (LCT) é um Centro Nacional Multiusuário, vinculado ao Departamento de Engenharia de Minas e de Petróleo da Escola Politécnica da USP. Desde sua criação, em 1990, dedica-se a estudos e pesquisas na área de caracterização tecnológica de matérias-primas minerais e materiais.
    </p>
    <p>
      Ao longo de quase 30 anos de existência, o LCT acumulou destacada experiência. Sua Infraestrutura instalada aliada à experiência adquirida em projetos de P&D, atividades acadêmicas (graduação, mestrado, doutorado) e de extensão universitária, conferem ao LCT competência para superar os desafios do setor mínero-metalúrgico e ramos afins e o caracteriza como centro formador de recursos humanos.
    </p>
    <p>
      Seu corpo técnico é formado por uma equipe multidisciplinar onde atuam de forma integrada engenheiros (minas, petróleo, materiais, metalurgia), geólogos, químicos e físicos, além de técnicos de nível médio. O LCT também recebe alunos de graduação, que desenvolvem trabalhos de formatura ou de iniciação científica, alunos de pós-graduação, no desenvolvimento de pesquisas para suas dissertações de mestrado e teses de doutorado, pesquisadores em nível de pós-doutoramento e pesquisadores colaboradores.
    </p>
    <p>
      O LCT também congrega professores e pesquisadores associados que desenvolvem projetos de pesquisa, desenvolvimento ou inovação (P&D&I). Estes projetos geralmente estão associados ao Núcleo de Apoio à Pesquisa <i>“Caracterização de Recursos Geológicos e Materiais”</i> que congrega pesquisadores de diferentes áreas do conhecimento para uma atuação multidisciplinar para estudos de problemas complexos.
    </p>
    <p>
      Por ser um laboratório de referência pela excelência de suas atividades, o LCT busca constantemente o aperfeiçoamento de seus profissionais, a atualização dos seus equipamentos e a melhoria contínua de sua infraestrutura. Equipamentos sofisticados, sistemas de última geração e rígido controle de qualidade de resultados são empregados em análises de material geológico ou dos gerados artificialmente, o que garante um ágil tratamento de dados e segura na interpretação dos seus resultados.
    </p>
    <p>
      Projetos desenvolvidos com o apoio de importantes agências de fomento como FAPESP, FINEP e CNPq, assim como parcerias estabelecidas com a iniciativa privada e diversas empresas do setor público e privado têm colaborado para o crescimento e desenvolvimento do LCT.
    </p>
    <p>
      Pesquisas de interesse acadêmico ou direcionadas à iniciativa privada são desenvolvidas para o aproveitamento racional e sustentável dos recursos geológicos e o reprocessamento de rejeitos e resíduos industriais. Cursos de extensão, treinamentos in <i>company</i> e assessoria técnica também fazem parte das atividades realizadas pelo LCT.
    </p>
    <p>
      O LCT possui o comprometimento com a qualidade dos serviços analíticos prestados e dos projetos de caracterização tecnológica desenvolvidos, em atendimento às reais necessidades dos usuários do Centro Multiusuário. Desde 2014, o LCT vem investindo recursos na implementação do sistema LIMS (<i>Laboratory Information Maganement System - Kemiolab</i>), garantindo ao cliente qualidade assegurada dos resultados reportados. Em 2019 o LCT iniciou a implantação do seu Sistema de Gestão da Qualidade (SGQ) com foco inicial na certificação da norma ABNT NBR ISO 9001:2015. O SGQ está sendo estruturado de maneira integrada com o Sistema LIMS e na obtenção futura do credenciamento no INMETRO da norma ABNT NBR ISO/IEC 17025:2017.
    </p>
  </div>
  <div class="mb4">
    <h3 id="missao" class="my-3 font-weight-bold">
      Missão
    </h3>
    <p>
      Desenvolver conhecimento para maximizar o aproveitamento dos recursos minerais e seu uso sustentável.
    </p>
  </div>
  <div class="mb-4">
    <h3 id="diretrizes" class="my-3 font-weight-bold">
      Diretrizes
    </h3>
    <p>
      Para o cumprimento de sua missão, o LCT prioriza atividades que estejam alinhadas com as diretrizes definidas pela Universidade de São Paulo, e atendam as demandas do setor minero-metalúrgico, ou seja:
    </p>
    <ul class="mb-4">
      <li>
        Disseminar o conhecimento científico e tecnológico gerado
      </li>
      <li>
        Desenvolver projetos de pesquisa com participação de órgãos nacionais e internacionais
      </li>
      <li>
        Divulgar os trabalhos realizados por meio de artigos científicos e congressos
      </li>
      <li>
        Atender demandas específicas de empresas de diversos setores da indústria
      </li>
      <li>
        Buscar satisfação dos parceiros do meio acadêmico e do setor industrial
      </li>
      <li>
        Contribuir com a formação de profissionais qualificados
      </li>
      <li>
        Trabalhar com ética
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h3 id="valores" class="my-3 font-weight-bold">
      Valores
    </h3>
    <p>
      Os valores do LCT, construídos e compactuado entre toda a equipe de colaboradores, é apresentado a seguir.
    </p>
    <div class="text-center">
      <img src="{{ url_for('static', filename='img/sobre/lct/valores.jpg') }}" class="img-fluid rounded" style="max-width: 800px" alt="Valores LCT" />
    </div>
  </div>
{% endblock %}
