{% extends "layout.html" %}
{% block title %}Sobre / Pessoal{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="equipe" class="my-3 font-weight-bold">
      Equipe
    </h3>
    <p>
      A equipe do LCT é formada por professores, pesquisadores colaboradores, pós-doutorandos, especialistas (graduados, mestres e doutores), alunos de iniciação cientifica e de pós-graduação latu sensu (mestrado e doutorado), técnicos e estagiários de nível médio e superior. A coordenação é realizada por docentes do Departamento de Engenharia de Minas e de Petróleo, onde o Laboratório está situado.
    </p>
    <p>
      Além da alta qualificação técnica das pessoas, a equipe do LCT apresenta um diferencial por ser multidisciplinar, sendo constituída por engenheiros (minas, petróleo, materiais, metalurgia), geólogos, químicos e físicos, características que possibilitam desenvolver estudos de excelência nas áreas de caracterização de matérias primas minerais, materiais, reciclagem de resíduos e na execução de ensaios analíticos.
    </p>
    <p>
      O LCT caracteriza-se como Central Multiusuário, a qual apresenta um Comitê Gestor e uma Comissão de Usuários, devidamente credenciados junto à Congregação da Escola Politécnica e da Pró-Reitoria de Pesquisa (mais informações no menu Multiusuário). Adicionalmente, integra o NAP Caracterização (Núcleo de Apoio a Pesquisa de Caracterização de Recursos Geológicos e Materiais).
    </p>
  </div>
  <div class="mb4">
    <h3 id="coordenacao" class="my-3 font-weight-bold">
      Coordenação
    </h3>
    <p>
      Profa. Dra. Carina Ulsen - Coordenação geral<br/>
      Prof. Dr. Jean Vicente Ferrari - Suplente de coordenação
    </p>
  </div>
  <div class="mb-4">
    <h3 id="docentes" class="my-3 font-weight-bold">
      Docente participantes e coordenadores de projetos
    </h3>
    <p>
      Prof. Dr. André Paulo Tschiptschin<br/>
      Prof. Dr. Cleyton de Carvalho Carneiro<br/>
      Prof. Dr. Douglas Gouvêa<br/>
      Prof. Dr. Francisco Rolando Valenzuela Diaz<br/>
      Prof. Dr. Guilherme Frederico Bernardo Lenz e Silva<br/>
      Prof. Dr. Henrique Kahn - Colaborador sênior<br/>
      Profa. Dra. Izabel Fernanda Machado<br/>
      Prof. Dr. Márcio Augusto Sampaio Pinto<br/>
      Prof. Dr. Mauricio Guimarães Bergerman<br/>
      Prof. Dr. Rafael dos Santos Gioria<br/>
    </p>
  </div>
  <div class="mb-4">
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/sobre/pessoal/equipe_lct.jpg') }}" class="img-fluid rounded w-100" alt="Equipe LCT" />
    </div>
    <div class="d-none d-md-block text-center">
      <img src="{{ url_for('static', filename='img/sobre/pessoal/equipe_lct.jpg') }}" class="img-fluid rounded mw-100" alt="Equipe LCT" />
    </div>
  </div>
{% endblock %}
