{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Absorção atômica
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="aas" class="my-3 font-weight-bold">
      Espectrometria de absorção atômica
    </h3>
    <p>
      A Espectrometria de Absorção Atômica (AAS) permite a determinação de grande parte dos elementos químicos metálicos e semimetálicos, tanto em níveis majoritários como traços (ppm), em diferentes tipos de matrizes.
    </p>
    <p>
      A utilização desta técnica é bastante versátil, o que inclui análise de matérias primas minerais e seus produtos de processamento, metais e ligas metálicas, fertilizantes, cimentos, efluentes, águas, líquidos e pós.
    </p>
    <p>
      O LCT dispõe de um Espectrômetro de Absorção Atômica Varian, modelo SpectrAA 220 Fast Sequential, com infraestrutura instalada para a utilização de chama composta tanto da mistura acetileno/ar comprimido como da mistura acetileno/óxido nitroso, além de um sistema de geração de hidretos.
    </p>
    <p>
      <a href="{{ url_for('metodos_aas') }}">
        Conheça os métodos de análises de AAS que o LCT dispõe para cada tipo de material.
      </a>
    </p>
  </div>
  <div class="mb-4">
    <h4 id="espectrometro" class="my-3 font-weight-bold">
      Espectrômetro de absorção atômica
    </h4>
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/aas/varian.jpg') }}" class="img-fluid border rounded mb-3" style="width: 100%" alt="Imagem varian" />
    </div>
    <div class="d-none d-md-block d-lg-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/aas/varian.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 50%" alt="Imagem varian" />
    </div>
    <div class="d-none d-lg-block d-xl-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/aas/varian.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 40%" alt="Imagem varian" />
    </div>
    <div class="d-none d-xl-block">
      <img src="{{ url_for('static', filename='img/infraestrutura/aas/varian.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 30%" alt="Imagem varian" />
    </div>
    <p>
      Marca Varian
    </p>
    <ul class="mb-4">
      <li>
        Modelo SpectrAA 220 Fast Sequential
      </li>
      <li>
        4 posições de lâmpadas
      </li>
      <li>
        Lâmpadas de catodo oco: Ag, Al, As, Au, Ba, Ca, Cd, Ce, Ge, Hg, In, La, Li, K, Mg, Mn, Mo, Na, Nb, Pb, Si, Sr, Y, Zn, Zr
      </li>
      <li>
        Amostrador automático – SPS-5 (Varian)
      </li>
      <li>
        Sistema de injeção de amostra – SIPS (Varian)
      </li>
      <li>
        Gerador de hidretos – VGA 77 (Varian)
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="preparacao" class="my-3 font-weight-bold">
      Preparação de amostras para análise por AAS
    </h4>
    <ul class="mb-4">
      <li>
        Bloco digestor (LCT)
      </li>
      <li>
        Chapa de aquecimento - 400 (Jung)
      </li>
      <li>
        Chapa de aquecimento - NT 339 (Nova técnica)
      </li>
      <li>
        Muflas - Ney 3/550 PD e 3/550 NDI (02) (Vulcan) reguláveis até 1100 °C
      </li>
    </ul>
  </div>
{% endblock %}
