{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Via úmida
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="avu" class="my-3 font-weight-bold">
      Via úmida
    </h3>
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/avu/via_umida.jpg') }}" class="img-fluid border rounded mb-3" style="width: 100%" alt="Imagem via umida" />
    </div>
    <div class="d-none d-md-block d-lg-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/avu/via_umida.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 50%" alt="Imagem via umida" />
    </div>
    <div class="d-none d-lg-block d-xl-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/avu/via_umida.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 45%" alt="Imagem via umida" />
    </div>
    <div class="d-none d-xl-block">
      <img src="{{ url_for('static', filename='img/infraestrutura/avu/via_umida.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 40%" alt="Imagem via umida" />
    </div>
    <p>
      Na via úmida, o LCT dispõe de equipamentos e insumos que permitem a execução de técnicas analíticas clássicas como Volumetria e Gravimetria, bem como para o preparo de amostras para ICP OES e AAS.
    </p>
    <p>
      <a href="{{ url_for('metodos_avu') }}">
        Conheça os métodos de análises de via úmida que o LCT dispõe para cada tipo de material.
      </a>
    </p>
  </div>
  <div class="mb-4">
    <h4 id="infraestrutura" class="my-3 font-weight-bold">
      Infraestrutura da via úmida
    </h4>
    <ul class="mb-4">
      <li>
        Balança analítica – ATX224 (Shimadzu)
      </li>
      <li>
        Banho incubador (Ethik Technology)
      </li>
      <li>
        Bloco digestor (LCT)
      </li>
      <li>
        Capelas de exaustão com lavador de gás
      </li>
      <li>
        Chapa de aquecimento - 400 (Jung)
      </li>
      <li>
        Chapa de aquecimento - NT 339 (Nova técnica)
      </li>
      <li>
        Deionizador de água - Direct-Q 3UV (Merck)
      </li>
      <li>
        Dispensete de soluções - Dispensette S (Brand)
      </li>
      <li>
        Titulador Automático - Titrette® Class A Precision (Brand)
      </li>
    </ul>
  </div>
{% endblock %}
