{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Microscopia confocal
{% endblock %}
{% block content %}
  {% include 'element/modal-image-description.html' %}
  <div class="mb-4">
    <h3 id="confocal" class="my-3 font-weight-bold">
      Microscopia confocal e interferometria
    </h3>
    <p>
      Permite a avaliação rápida e não invasiva de micro e nano estruturas de superfícies.
    </p>
    <p>
      A microscopia confocal permite o estudo de múltiplas superfícies de vários tipos de materiais, em diversos níveis de refletividade, formas complexas ou elevadas inclinações.
    </p>
    <p>
      Quando utilizada com objetivas para inferferometria, permite analisar superfícies lisas e até ultra polidas, nas mais diversas aplicações.
    </p>
    <p>
      Combinando-se microscopia confocal e interferometria, torna-se possível realizar medições em alta velocidade e alta resolução - até 0,1 nm. Esta configuração possibilita a caracterização de superfícies e suas topologias, assim como camadas e espessuras de materiais.
    </p>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="leica" class="my-3 font-weight-bold">
          Microscópio confocal Leica DCM 3D
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/leica_dcm3d.jpg') }}" class="img-fluid rounded mb-3 border" style="width: 100%" alt="Imagem Quanta 650 FEG" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/leica_dcm3d.jpg') }}" class="float-right img-fluid rounded ml-3 mb-2 border" style="width: 50%" alt="Imagem Quanta 650 FEG" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/leica_dcm3d.jpg') }}" class="float-right img-fluid rounded ml-3 mb-2 border" style="width: 35%" alt="Imagem Quanta 650 FEG" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/leica_dcm3d.jpg') }}" class="float-right img-fluid rounded ml-3 mb-2 border" style="width: 20%" alt="Imagem Quanta 650 FEG" />
        </div>
        <ul class="mb-4">
          <li>
            Microscópio confocal e interferômetro, sem contato, para perfilometria tridimensional
          </li>
          <li>
            Feixes de LED de alta potência: branco (530 nm) e azul (460 nm) para luz coaxial
          </li>
          <li>
            Modos de contraste: Confocal, Interferometria (PSI, ePSI, VSI), Brightfield Color, Brightfield Greyscale (high resolution), Darkfield
          </li>
          <li>
            Objetivas de 2.5X até 150X no modo confocal e 5X a 50X no modo interferometria
          </li>
          <li>
            Campo de visão (FOV): 2550x1910 µm a 84,8x63,6 µm
          </li>
          <li>
            Resolução óptica: 0,94 a 0,14 µm (Confocal) e 1,08 a 0,28 µm (interferometria)
          </li>
          <li>
            Resolução vertical: <150 a <2 nm (Confocal) e <4 a <0,1 nm)
          </li>
          <li>
            Resolução espacial de 50 a 0,9 µm
          </li>
          <li>
            Platina motorizada XY com controlador XYZ 114x75mm
          </li>
          <li>
            2 sensores para aquisição de imagem: metrologia (P&B), Color – ambos de alta resolução (CCD)
          </li>
          <li>
            Curso de varredura vertical: 40 mm
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="aplicacoes" class="my-3 font-weight-bold">
      Aplicações
    </h4>
    <ul class="mb-4">
      <li>
        Topografia 3D
      </li>
      <li>
        Perfilometria
      </li>
      <li>
        Determinação de espessuras
      </li>
      <li>
        Medidas de rugosidade
      </li>
      <li>
        Medidas de volumes
      </li>
      <li>
        Caracterização textural de superfícies
      </li>
    </ul>
    <div class="row">
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/confocal/aplicacao_01.jpg') }}" data-description="Exemplo 01" data-title="Exemplo 01">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/thumb_aplicacao_01.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 01</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/confocal/aplicacao_02.jpg') }}" data-description="Exemplo 02" data-title="Exemplo 02">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/thumb_aplicacao_02.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 02</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/confocal/aplicacao_03.jpg') }}" data-description="Exemplo 03" data-title="Exemplo 03">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/thumb_aplicacao_03.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 03</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/confocal/aplicacao_04.jpg') }}" data-description="Exemplo 04" data-title="Exemplo 04">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/thumb_aplicacao_04.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 04</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/confocal/aplicacao_05.jpg') }}" data-description="Exemplo 05" data-title="Exemplo 05">
          <img src="{{ url_for('static', filename='img/infraestrutura/confocal/thumb_aplicacao_05.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 05</small>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
