{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Difração de raios X
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="drx" class="my-3 font-weight-bold">
      Difração de raios X
    </h3>
    <div class="d-none d-md-block d-lg-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/drx/difratometro.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 50%" alt="Imagem difratômetro" />
    </div>
    <div class="d-none d-lg-block d-xl-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/drx/difratometro.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 40%" alt="Imagem difratômetro" />
    </div>
    <div class="d-none d-xl-block">
      <img src="{{ url_for('static', filename='img/infraestrutura/drx/difratometro.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 30%" alt="Imagem difratômetro" />
    </div>
    <p>
      A difração de raios X (DRX) corresponde a uma das principais técnicas de caracterização estrutural em materiais cristalinos. Como consequência de sua precisão nanométrica, a análise é utilizada em diversos campos do conhecimento, mais particularmente na engenharia/ciências de materiais, engenharias metalúrgica, química e de minas, além da geociências e ciências farmacêuticas.
    </p>
    <p>
      Suas principais aplicações incluem a identificação e a quantificação de fases cristalinas, a obtenção de parâmetros estruturais (parâmetro de rede e fator de ocupação), parâmetros microestruturais (tamanho de cristalito e microtensão), determinação da cristalinidade, estudos de monocamadas e filmes finos, textura, dopagem, análises em alta temperatura para acompanhamento de transformações de fases e análises não ambientais, entre outros.
    </p>
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/drx/difratometro.jpg') }}" class="img-fluid border rounded" style="width: 100%" alt="Imagem difratômetro" />
    </div>
  </div>
  <div class="mb-4">
    <h4 id="difratometro" class="my-3 font-weight-bold">
      Difratômetro Empyrean, Geração III - Panalytical - 2020
    </h4>
    <ul class="mb-4">
      <li>
        Configuração vertical Θ-Θ e Θ-2Θ
      </li>
      <li>
        Tubo de raios X: Cu kα (λ = 1,542Å, 2,2kW) e Co kα (λ = 1,790Å, 1,8kW)
      </li>
      <li>
        Detector sensível à posição PIXcel3D com monocromador ou filtros kβ
      </li>
      <li>
        Óptica MultiCore - BBHD - para medidas de alta resolução
      </li>
      <li>
        Baixo ângulo com detector proporcional selado e monocromador paralelo
      </li>
      <li>
        Trocador automático para 45 amostras
      </li>
      <li>
        Spinner para rotação de amostras
      </li>
      <li>
        Fendas Soller, divergente e de antiespalhamento automáticas
      </li>
      <li>
        Câmara de alta temperatura: < 1500 °C
      </li>
      <li>
        Suporte PREFIX 4-Círculos com eixos móveis: χ-CHI, φ-PHI, X, Y e Z. Máxima dimensão da amostra: 80mm de diâmetro e 16mm de altura. Peso máximo: 500g.
      </li>
      <li>
        Softwares para coleta/tratamento de dados: X'Pert Data Collector, X'Pert High Score Plus 4.8
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="philips" class="my-3 font-weight-bold">
      Difratômetro X'Pert, Philips - 1997
    </h4>
    <ul class="mb-4">
      <li>
        Configuração vertical Θ-Θ e Θ-2Θ
      </li>
      <li>
        Tubo de raios X: Cu kα (λ = 1,542Å, 2,2kW), Co kα (λ = 1,790Å, 1,8kW) e Cr kα (λ = 2,291Å, 1,9kW)
      </li>
      <li>
        Detector sensível à posição X'Celerator com monocromador ou filtros kβ
      </li>
      <li>
        Baixo ângulo com detector proporcional selado e monocromador paralelo
      </li>
      <li>
        Trocador automático para 45 amostras
      </li>
      <li>
        Spinner para rotação de amostras
      </li>
      <li>
        Fendas Soller, divergente e de antiespalhamento automáticas
      </li>
      <li>
        Softwares para coleta/tratamento de dados: X'Pert Data Collector, X'Pert Industry, X'Pert Quantify, X'Pert High Score Plus, X'Pert Texture, X'Pert Stress
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="backup" class="my-3 font-weight-bold">
      Difratômetro MPD 1880, Philips - 1989 (backup)
    </h4>
    <ul class="mb-4">
      <li>
        Configuração vertical Θ-2Θ, geometria Bragg-Brentano
      </li>
      <li>
        Tubo de raios X Cu kα (λ = 1,542Å)
      </li>
      <li>
        Detector proporcional selado para operação com monocromador curvo de grafite ou filtros kβ
      </li>
      <li>
        Monocromador curvo de grafite
      </li>
      <li>
        Trocador automático para 21 amostras
      </li>
      <li>
        Spinner para rotação de amostras
      </li>
      <li>
        Fendas Soller, divergente, fenda de recepção e antiespalhamento fixas
      </li>
      <li>
        Software para coleta/tratamento de dados: APD – Philips
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="banco" class="my-3 font-weight-bold">
      Banco de dados para análises qualitativas, quantitativas (Rietveld e RIR) e de estrutura cristalina
    </h4>
    <ul class="mb-4">
      <li>
        Crystallography Opens Database (COD)
      </li>
      <li>
        PDF2 do ICDD - International Centre for Diffraction Data (2003)
      </li>
      <li>
        PAN-ICSD, Inorganic Crystal Structures Database (National Institute of Standards and Technology, NIST, & Fachinformationszentrum Karlsruhe, FIZ) de 2007
      </li>
      <li>
        PDF-4 Minerals do ICDD- International Centre for Diffraction Data (2020)
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="preparacao" class="my-3 font-weight-bold">
      Preparação de amostras para difração de raios X
    </h4>
    <ul class="mb-4">
      <li>
        Moinho planetário Pulverizette 5 (Fritsch) com recipientes de moagem de Fe-Cr e ágata
      </li>
      <li>
        Prensa manual e hidráulica semiautomática HT-40 (Herzog)
      </li>
      <li>
        Suportes de amostras vazados e diferenciados para prensagens manual e hidráulica; suportes para acomodação de chapas; vidros e placas de silício para pequenas quantidades de material; suportes para amostras semilíquidas para acompanhamento de hidratação de cimento
      </li>
      <li>
        Dessecadores e muflas utilizados em estudos de argilominerais
      </li>
    </ul>
  </div>
{% endblock %}
