{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Fluorescência de raios X
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="frx" class="my-3 font-weight-bold">
      Fluorescência de raios X
    </h3>
    <p>
      A espectrometria por fluorescência de raios X (FRX) é uma técnica analítica que permite a determinação da composição química de materiais em geral. Sólidos e pós podem ser analisados, bem como sua espessura e composição de camadas.
    </p>
    <p>
      As áreas de aplicação da FRX incluem matérias primas minerais e produtos de seu processamento, cimentos, metais e suas ligas, pós depositados em filtros, óleos, líquidos, plásticos e polímeros.
    </p>
    <p>
      O LCT conta com dois espectrômetros de fluorescência de raios X por dispersão de comprimento de onda, modelos Zetium (comodato Malvern Panalytical) e Venus 100 Minilab (marca Philips). Para a preparação de amostras são empregados equipamentos auxiliares para a britagem, moagem, pulverização, prensagem e fusão de amostras, além de muflas para determinações de perda ao fogo (ou perda por calcinação) e umidade.
    </p>
    <p>
      <a href="{{ url_for('metodos_frx') }}">
        Conheça os métodos de análises de FRX que o LCT dispõe para cada tipo de material.
      </a>
    </p>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="sequencial" class="my-3 font-weight-bold">
          Espectrômetro de fluorescência de raios X - Zetium (comodato Malvern Panalytical)
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/frx/zetium.jpg') }}" class="img-fluid border rounded mb-3" style="width: 100%" alt="Imagem zetium" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/frx/zetium.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 50%" alt="Imagem zetium" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/frx/zetium.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 40%" alt="Imagem zetium" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/frx/zetium.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 30%" alt="Imagem zetium" />
        </div>
        <p>
          Marca Malvern Panalytical
        </p>
        <ul class="mb-4">
          <li>
            Tubo de 4 kW
          </li>
          <li>
            Cristais analisadores (PX-1, PX-8, PX-10, LiF220, LiF420, PE, GE, InSb)
          </li>
          <li>
            Detectores de fluxo, xenônio (duplex) e cintilação
          </li>
          <li>
            Filtros de alumínio de 200 e 750µm e latão de 100 e 400 µm
          </li>
          <li>
            Colimadores de 150, 300 e 700µm e máscaras de 28mm e 34mm
          </li>
          <li>
            Canal com detector de EDS (SSD) acoplado ao equipamento
          </li>
          <li>
            Atenuadores 0,36, 0,60 e 3,0mm no canal de EDS
          </li>
          <li>
            Small spot analysis with mapping
          </li>
          <li>
            Análise em vácuo e em atmosfera de hélio
          </li>
          <li>
            Software SuperQ 6 contendo Virtual Analyst
          </li>
          <li>
            Análise do tipo Standardless utilizando o programa Omnian e análises quantitativas de amostras fundidas. O laboratório dispõe mais de 300 materiais de referência certificados - rochas, solos e minérios em geral
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="simultaneo" class="my-3 font-weight-bold">
      Espectrômetro de fluorescência de raios X simultâneo Venus 100 Minilab (marca Philips)
    </h4>
    <p>
      Marca Philips
    </p>
    <ul class="mb-4">
      <li>
        Espectrômetro para determinações de SiO<sub>2</sub>, Al<sub>2</sub>O<sub>3</sub>, Fe<sub>2</sub>O<sub>3</sub>, MnO, MgO, CaO, Na<sub>2</sub>O, K<sub>2</sub>O, TiO<sub>2</sub>, P<sub>2</sub>O<sub>5</sub> e S
      </li>
      <li>
        Análises quantitativas: software Venus
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="preparacao" class="my-3 font-weight-bold">
      Preparação de amostras para análises por fluorescência de raios X
    </h4>
    <ul class="mb-4">
      <li>
        Britador de mandíbulas BM2010 (Furlan)
      </li>
      <li>
        Britador de mandíbulas BM84 (Furlan)
      </li>
      <li>
        Britador de rolos MR2510 (Furlan, modificado)
      </li>
      <li>
        Moinho de discos horizontal (Denver)
      </li>
      <li>
        Moinho de discos vertical 7 Lab (Denver)
      </li>
      <li>
        Moinhos de disco e anéis oscilantes HSM-250P (Herzog), com recipientes de moagem em aço cromo e carbeto de tungstênio, capacidades de 300, 200 e 10 g
      </li>
      <li>
        Moinho planetário com recipiente de zircônia S1 (Retsch)
      </li>
      <li>
        Micropulverizador MM200 (Retsch) para homogeneização de amostras em pó
      </li>
      <li>
        Prensa automática HTP-40 (Herzog) para preparação de pastilhas prensadas
      </li>
      <li>
        Máquina de fusão a gás Vulcan 2MA (Fluxana) de 2 queimadores e Vulcan 6MA (Fluxana) de 6 queimadores para a preparação de amostras fundidas
      </li>
      <li>
        Banho ultrasônico (Elma), modelo E 120H
      </li>
      <li>
        Chapa de aquecimento (Nova instruments), modelo NL 1339
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="auxiliares" class="my-3 font-weight-bold">
      Equipamentos auxiliares
    </h4>
    <ul class="mb-4">
      <li>
        Muflas Ney 3/550 PD e 3/550 NDI (02) (Vulcan) reguláveis até 1100ºC, para determinações de perda ao fogo (ou perda por calcinação)
      </li>
      <li>
        Balanças analíticas de 3 casas decimais BL 320H (Shimadzu), 4 casas decimais AE 200 (Mettler) e 4 casas decimais AUW 220 (Shimadzu)
      </li>
      <li>
        Estufas para a secagem de amostras da preparação física (Marconi) e determinação de umidade, reguláveis de 50 a 320 ºC, com circulação e renovação de ar e estufa para secagem de amostras pulverizadas (Fanem), modelo 515A
      </li>
    </ul>
  </div>
{% endblock %}
