{% extends "layout.html" %}
{% block title %}
  Infraestrutura / ICP OES
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="icp" class="my-3 font-weight-bold">
      Espectrometria de emissão óptica com plasma (ICP OES)
    </h3>
    <p>
      A espectrometria de emissão óptica com plasma indutivamente acoplado (ICP OES) é uma técnica analítica que permite a determinação de uma vasta gama de elementos químicos (metais, semimetais e alguns não metais como fósforo, enxofre e selênio), tanto em níveis majoritários, como traços (ppb e ppm), em diferentes tipos de matrizes.
    </p>
    <p>
      A utilização desta técnica é bastante versátil, o que inclui análise de matérias primas minerais e seus produtos de processamento, metais e ligas metálicas, fertilizantes, cimentos, efluentes, águas, líquidos e pós.
    </p>
    <p>
      O LCT dispõe de um ICP OES Horiba, modelo Ultima Expert, com visão radial e sistema de varredura sequencial.
    </p>
    <p>
      <a href="{{ url_for('metodos_icp') }}">
        Conheça os métodos de análises de ICP que o LCT dispõe para cada tipo de material.
      </a>
    </p>
  </div>
  <div class="mb-4">
    <h4 id="espectometro" class="my-3 font-weight-bold">
      Espectrômetro de emissão óptica com plasma indutivamente acoplado - Ultima Expert
    </h4>
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/icp/horiba.jpg') }}" class="img-fluid border rounded mb-3" style="width: 100%" alt="Imagem horiba" />
    </div>
    <div class="d-none d-md-block d-lg-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/icp/horiba.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 50%" alt="Imagem horiba" />
    </div>
    <div class="d-none d-lg-block d-xl-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/icp/horiba.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 40%" alt="Imagem horiba" />
    </div>
    <div class="d-none d-xl-block">
      <img src="{{ url_for('static', filename='img/infraestrutura/icp/horiba.jpg') }}" class="float-right img-fluid border rounded ml-3 mb-2" style="width: 30%" alt="Imagem horiba" />
    </div>
    <p>
      Marca Horiba
    </p>
    <ul class="mb-4">
      <li>
        Equipamento radial
      </li>
      <li>
        Conjunto monocromador Czerny-Turner
      </li>
      <li>
        Permite detecção de linhas de emissão entre 120 até 800 nm
      </li>
      <li>
        Sequencial de alto desempenho com detector PMT (photomultiplier tube) e sistema High Dinamic Detection (HDD)
      </li>
      <li>
        Umidificador de argônio
      </li>
      <li>
        Análises semi-quantitativas através do software IMAGE
      </li>
      <li>
        Resolução &lt;6 pm para comprimentos de onda
      </li>
      <li>
        Amostrador automático AS-500
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="preparacao" class="my-3 font-weight-bold">
      Preparação de amostras para análise por ICP OES
    </h4>
    <ul class="mb-4">
      <li>
        Bloco digestor (LCT)
      </li>
      <li>
        Chapa de aquecimento 400 (Jung)
      </li>
      <li>
        Chapa de aquecimento NT 339 (Nova técnica)
      </li>
      <li>
        Muflas Ney 3/550 PD e 3/550 NDI (02) (Vulcan) reguláveis até 1100 °C
      </li>
    </ul>
  </div>
{% endblock %}
