{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Microscopia eletrônica MEV
{% endblock %}
{% block content %}
  {% include 'element/modal-image-description.html' %}
  <div class="mb-4">
    <h3 id="mev" class="my-3 font-weight-bold">
      Microscopia eletrônica de varredura e microanálise química
    </h3>
    <p>
      A microscopia eletrônica de varredura (MEV) é uma importante técnica analítica, em escala milimétrica a nanométrica, empregada na caracterização de materiais de diversos campos do conhecimento como a engenharia e ciências dos materiais, engenharias metalúrgica e de minas, geociências, ciências biológicas, dentre outros.
    </p>
    <p>
      Composição, superfície topográfica, morfologia e associações de fases são parâmetros obtidos em estudos ao MEV a partir da resposta da interação de um fino feixe de elétrons com a área e o microvolume analisado.
    </p>
    <p>
      O LCT conta com dois microscópios eletrônicos de varredura: Stereoscan S440, marca LEO, e Quanta 650FEG, marca FEI, ambos com sistemas de microanálise química acoplado.
    </p>
    <p>
      Análises por MEV são usualmente acompanhadas pelos interessados devendo ser previamente agendadas. Para maiores detalhes consultar <a href="{{ url_for('static', filename='files/CM-LCT_Plano_Gestao_Multiusuario_(aprovado_Congregacao_20-12-2018).pdf') }}" target="__blank">“Plano de Gestão e de Compartilhamento de Uso de Equipamentos”</a>.
    </p>
    <p>
      Alguns exemplos de aplicações e respectivas imagens são apresentados a seguir:
    </p>
    <div class="row">
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mev/aplicacao_01.png') }}" data-description="Morfologia (Elétrons Secundários -SE)" data-title="Exemplo 01">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/thumb_aplicacao_01.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 01</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mev/aplicacao_02.png') }}" data-description="Identificação de minerais por BSE (Backscattering - contraste de número atómico)" data-title="Exemplo 02">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/thumb_aplicacao_02.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 02</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mev/aplicacao_03.png') }}" data-description="Catôdo Luminescência (CL - RGB)" data-title="Exemplo 03">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/thumb_aplicacao_03.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 03</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mev/aplicacao_04.jpg') }}" data-description="Point ID – Microanálise química por EDS" data-title="Exemplo 04">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/thumb_aplicacao_04.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 04</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mev/aplicacao_05.jpg') }}" data-description="Line Scan – Quantificação composicional de um perfil por EDS" data-title="Exemplo 05">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/thumb_aplicacao_05.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 05</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mev/aplicacao_06.jpg') }}" data-description="Mapeamento Elementar por EDS mostrando a concentração dos elementos por falsa cor" data-title="Exemplo 06">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/thumb_aplicacao_06.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 06</small>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="fei" class="my-3 font-weight-bold">
          Microscópio eletrônico de varredura ambiental (ESEM) Quanta 650 FEG
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/feg.png') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem Quanta 650 FEG" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/feg.png') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 50%" alt="Imagem Quanta 650 FEG" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/feg.png') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 40%" alt="Imagem Quanta 650 FEG" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/feg.png') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 30%" alt="Imagem Quanta 650 FEG" />
        </div>
        <p>
          Marca FEI, com sistemas de microanálise Quantax, marca Bruker, e de análises de imagens: MLA- Mineral Liberation Analyser
        </p>
        <ul class="mb-4">
          <li>
            Modo de operação: alto vácuo, baixo vácuo e ambiental (ESEM)
          </li>
          <li>
            Fonte por emissão de campo (Field Emission Gun)
          </li>
          <li>
            Detectores: SE, BSE de corrente de amostra
          </li>
          <li>
            Sistema de microanálise por EDS Quantax, marca Bruker, possibilitando a realização de análises qualitativas e quantitativas, aquisição de imagens, análise multiponto e de feições, varredura por linhas e mapeamento de raios X e controle externo do microscópio eletrônico de varredura. Detector XFlash 4030 com tecnologia SDD (silicon drift detector) com janela de 30 mm2 e resoluções de < 130 eV (Mn kα) a 60 kcps, 138 eV a 130 kcps e 158 eV a 280 kcps
          </li>
          <li>
            Estágio motorizado X-Y-Z-inclinação e rotação com movimentação X-Y de 150 mm
          </li>
          <li>
            Estágio Peltier para análises em modo ambiental e em baixa temperatura (até -20º C)
          </li>
          <li>
            Óptica eletrônica com operação no intervalo de 200 V a 30 kV, corrente de feixe de elétrons de 100 nA e magnificação máxima de 300.000 X
          </li>
          <li>
            Software de análise de imagens SIS para medidas on line
          </li>
          <li>
            Software de análise de imagens MLA - Mineral Liberation Analizer com controle remoto do microscópio e sistema de EDS para análises mineralógicas quantitativas dirigidas à indústria mineral.
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="leo" class="my-3 font-weight-bold">
          Microscópio eletrônico de varredura Stereoscan S440
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/leo.jpg') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem LEO S440" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/leo.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 50%" alt="Imagem LEO S440" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/leo.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 40%" alt="Imagem LEO S440" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/mev/leo.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 30%" alt="Imagem LEO S440" />
        </div>
        <p>
          Marca Leo, com sistemas de microanálise INCA (EDS/WDS), marca Oxford, e de análises de imagens QWin Pro, marca Leica
        </p>
        <ul class="mb-4">
          <li>
            Modo de operação: alto vácuo
          </li>
          <li>
            Fonte: filamento de W
          </li>
          <li>
            Detectores: SE, BSE, CL e de corrente de amostra
          </li>
          <li>
            Sistema de microanálise integrado de EDS e WDS INCA, marca Oxford, possibilitando a realização de análises qualitativas e quantitativas, aquisição de imagens, análise multiponto e de feições, varredura por linhas e mapeamento de raios X. Detectores de EDS de Ge (<120 eV de resolução) e WDS 600i com 6 cristais analisadores
          </li>
          <li>
            Estágio eucêntrico motorizado X-Y-Z com inclinação e rotação manuais; movimentação X-Y de 80 mm
          </li>
          <li>
            Óptica eletrônica com operação no intervalo de 5 kV a 40 kV com resolução de imagem de 8 nm a 3 0kV com filamento de W
          </li>
          <li>
            Software de análise de imagens QWin Pro, marca Leica, com controle remoto do MEV e realização de medidas on line
          </li>
          <li>
            Equipamento de recobrimento de amostras MED020 (Bal-tec)
          </li>
          <li>
            Câmara de amostras com 108 mm de diâmetro e distância de trabalho de 30 a 168 mm
          </li>
          <li>
            Sputtering com alvos de Au e Pt , além de evaporação de Al
          </li>
          <li>
            Suporte rotativo para até 8 suporte de amostras
          </li>
          <li>
            Medidor de espessura de recobrimento QSG060
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="med020" class="my-3 font-weight-bold">
      Equipamento de recobrimento de amostras MED020 (Bal-tec)
    </h4>
    <ul class="mb-4">
      <li>
        Câmara de amostras com 108 mm de diâmetro e distância de trabalho de 30 a 168 mm
      </li>
      <li>
        Sputtering com alvos de Au e Pt, além de evaporação de Al
      </li>
      <li>
        Suporte rotativo para até 8 suporte de amostras
      </li>
      <li>
        Medidor de espessura de recobrimento QSG060
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="scd050" class="my-3 font-weight-bold">
      Equipamento de recobrimento de amostras SCD050 (Bal-tec)
    </h4>
    <ul class="mb-4">
      <li>
        Câmara de amostras com 108 mm de diâmetro e distância de trabalho de 30 a 82 mm
      </li>
      <li>
        Evaporação de fio de C
      </li>
      <li>
        Sputtering com alvos de Au e Pt
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="leica" class="my-3 font-weight-bold">
      Preparação de amostras por feixe de íons TIC020 (Leica)
    </h4>
    <ul class="mb-4">
      <li>
        Corte de amostras sem deformação mecânica por sistema de triplo feixe de íons
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="corte" class="my-3 font-weight-bold">
      Máquinas de corte para preparação de amostras
    </h4>
    <ul class="mb-4">
      <li>
        Máquina de corte Accutom-50, marca Struers
      </li>
      <li>
        Máquina de corte CS12, marca Logitech
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="despaste" class="my-3 font-weight-bold">
      Sistemas de despaste e polimento de seções delgadas e polidas
    </h4>
    <ul class="mb-4">
      <li>
        Tegramin-30, marca Struers, para desbaste e polimento de amostras na confecção de seções polidas
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-sm-6 col-lg-4 text-center">
        <img src="{{ url_for('static', filename='img/infraestrutura/mev/baltec_med020.jpg') }}" class="img-fluid border rounded mw-100" alt="Baltec MED020" />
        <p class="caption">Recobridor de amostras MED020 (Bal-tec)</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center">
        <img src="{{ url_for('static', filename='img/infraestrutura/mev/baltec_scd050.jpg') }}" class="img-fluid border rounded mw-100" alt="Baltec SCD050" />
        <p class="caption">Recobridor de amostras SCD050 (Bal-tec)</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center">
        <img src="{{ url_for('static', filename='img/infraestrutura/mev/leica_tic020.jpg') }}" class="img-fluid border rounded mw-100" alt="Leica TIC020" />
        <p class="caption">Preparador de amostras TIC020 (Leica)</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center">
        <img src="{{ url_for('static', filename='img/infraestrutura/mev/corte.jpg') }}" class="img-fluid border rounded mw-100" alt="Corte" />
        <p class="caption">Máquina de corte Accutom-50 (Struers)</p>
      </div>
      <div class="col-sm-6 col-lg-4 text-center">
        <img src="{{ url_for('static', filename='img/infraestrutura/mev/polimento.jpg') }}" class="img-fluid border rounded mw-100" alt="Desbaste e polimento" />
        <p class="caption">Sistema de desbaste e polimento Tegramin-30 (Struers)</p>
      </div>
    </div>
  </div>
{% endblock %}
