{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Microtomografia
{% endblock %}
{% block content %}
  {% include 'element/modal-image-description.html' %}
  <div class="mb-4">
    <h3 id="microscopia" class="my-3 font-weight-bold">
      Microscopia de raios X 3D – microtomografia de alta resolução
    </h3>
    <p>
      A técnica de microscopia de raios X, ou microtomografia de alta resolução, vem se tornando uma ferramenta cada vez mais empregada na caracterização de estruturas tridimensionais em uma grande variedade de materiais.
    </p>
    <p>
      Trata-se de uma técnica de análise não destrutiva, de fácil preparação de amostra, com boa versatilidade em relação ao tamanho de amostra analisada, sendo possível investigar uma ampla gama de materiais, desde aqueles com baixo número atômico, como por exemplo amostras biológicas/biogênicas e polímeros, até materiais de maior densidade como rochas e ligas metálicas.
    </p>
    <p>
      A arquitetura do microtomógrafo ZEISS Xradia Versa XRM-510 utiliza a combinação de feixe de foco micrométrico e ampliação de imagem em dois estágios: na primeira etapa, as imagens são ampliadas através de magnificação geométrica como em um microtomógrafo convencional; na segunda etapa um cintilador converte os raios X para luz visível e então amplia a imagem opticamente por meio de lentes de alto contraste. Esta característica reduz a dependência da ampliação geométrica e permite a obtenção de resolução submicrométrica em grandes distâncias de trabalho.
    </p>
    <div class="text-center">
      <iframe
        src="https://www.youtube.com/embed/L0rKCOswMUY"
        frameborder="0"
        allow="autoplay; encrypted-media"
        allowfullscreen
        width="560px"
        height="315px"
        style="max-width: 100%;"
      >
      </iframe>
    </div>
    <div class="text-center mb-2">
      <p class="text-muted">
        <small>Aplicações da Microscopia de raios X 3D</small>
      </p>
    </div>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="versa" class="my-3 font-weight-bold">
          Microtomógrafo ZEISS Xradia Versa XRM-510
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/xradia.jpg') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem xradia" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/xradia.jpg') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 50%" alt="Imagem xradia" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/xradia.jpg') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 40%" alt="Imagem xradia" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/xradia.jpg') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 30%" alt="Imagem xradia" />
        </div>
        <ul class="mb-4">
          <li>
            Fonte de raios X de 160kV com foco micrométrico
          </li>
          <li>
            Detector de grande campo - macro 0.4X
          </li>
          <li>
            Lentes de alta resolução e alto contraste – 4X e 20X
          </li>
          <li>
            Câmera CCD de alta resolução – 2k x 2k px
          </li>
          <li>
            Estágio motorizado de precisão com capacidade para até 15 kg
          </li>
          <li>
            Tamanho máximo de amostra de até 100 mm
          </li>
          <li>
            Campo de visão de 1 a 90 mm
          </li>
          <li>
            Resolução espacial de 50 a 0,9 µm
          </li>
          <li>
            Software ZEISS para aquisição, reconstrução e visualização de imagens em 3D
          </li>
          <li>
            Estação de trabalho de alto desempenho para processamento de imagens com software Avizo 9.0
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="vantagens" class="my-3 font-weight-bold">
      Vantagens da técnica de microscopia de raios X 3D
    </h4>
    <ul class="mb-4">
      <li>
        Análise não destrutiva para investigação de estruturas tridimensionais
      </li>
      <li>
        Imagens em diversas escalas para uma mesma amostra
      </li>
      <li>
        Flexibilidade de tamanhos de amostras e tipos de materiais
      </li>
      <li>
        Contraste de imagem otimizado para materiais de baixo Z
      </li>
      <li>
        Mínima necessidade de preparação de amostras
      </li>
      <li>
        Estudo de amostras sensíveis ao vácuo
      </li>
      <li>
        Aquisição das imagens e reconstrução de volume em curto espaço de tempo
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="aplicacoes" class="my-3 font-weight-bold">
      Aplicações
    </h4>
    <ul class="mb-4">
      <li>
        Visualização de fraturas, trincas e fissuras
      </li>
      <li>
        Observação tridimensional de texturas
      </li>
      <li>
        Determinação de porosidade, conectividade e distribuição de tamanho e forma de poros
      </li>
      <li>
        Quantificação volumétrica de fases em sólidos e materiais particulados
      </li>
      <li>
        Distribuição de tamanho e forma de partículas e grãos
      </li>
      <li>
        Discretização de fibras, cargas minerais e outros materiais em compósitos
      </li>
      <li>
        Visualiação de microestruturas internas que podem não ser observadas em técnicas de microscopia 2D como MO e MEV
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_01.jpg') }}" data-description="Exemplo 01" data-title="Exemplo 01">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_01.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 01</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_02.jpg') }}" data-description="Exemplo 02" data-title="Exemplo 02">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_02.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 02</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_03.jpg') }}" data-description="Exemplo 03" data-title="Exemplo 03">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_03.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 03</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_04.jpg') }}" data-description="Exemplo 04" data-title="Exemplo 04">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_04.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 04</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_05.jpg') }}" data-description="Exemplo 05" data-title="Exemplo 05">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_05.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 05</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_06.jpg') }}" data-description="Exemplo 06" data-title="Exemplo 06">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_06.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 06</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_07.jpg') }}" data-description="Exemplo 07" data-title="Exemplo 07">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_07.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 07</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_08.jpg') }}" data-description="Exemplo 08" data-title="Exemplo 08">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_08.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 08</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_09.jpg') }}" data-description="Exemplo 09" data-title="Exemplo 09">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_09.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 09</small>
      </p>
    </div>
    <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
      <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/microtomografia/aplicacao_10.jpg') }}" data-description="Exemplo 10" data-title="Exemplo 10">
        <img src="{{ url_for('static', filename='img/infraestrutura/microtomografia/thumb_aplicacao_10.jpg') }}" class="img-fluid img-thumbnail mw-100" />
      </a>
      <p class="text-muted">
        <small>Exemplo 10</small>
      </p>
    </div>
  </div>
{% endblock %}
