{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Análise de imagens MLA
{% endblock %}
{% block content %}
  {% include 'element/modal-image-description.html' %}
  <div class="mb-4">
    <h3 id="mla" class="my-3 font-weight-bold">
      MLA (Mineral Liberation Analyser) e análise de imagens
    </h3>
    <p>
      Sistemas de análises de imagens são utilizados para avaliação quantitativa de feições geométricas expostas em imagens, tais como dimensões e forma de feições, proporções volumétricas e associações entre fases, como, por exemplo, espectro de liberação de mineral útil, dentre várias outras.
    </p>
    <p>
      O LCT conta com dois sistemas de análise de imagens:
    </p>
    <ul class="mb-4">
      <li>
        MLA – Mineral Liberation Analyser (FEI®) Software de análise quantitativa de minerais e materiais automatizado com de controle remoto do microscópio eletrônico de varredura, Quanta 650F, e sistema de microanálise química, Quantax-Bruker
      </li>
      <li>
        QWinPro, marca Leica (2 licenças). Software de análise de imagens com controle remoto do microscópio eletrônico de varredura Stereoscan 440, além de aquisição de imagens digitais mediante câmera Leica DFC-280 com controle remoto do microscópio óptico DMRXP ou processamento de imagens digitais de microscopia óptica e sistema macroviewer
      </li>
    </ul>
    <div class="row">
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_01.png') }}" data-description="Análise textural dos minerais de interesse" data-title="Exemplo 01">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_01.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 01</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_02.png') }}" data-description="Mineralogia modal" data-title="Exemplo 02">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_02.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 02</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_03.jpg') }}" data-description="Mapeamento de texturas de Rochas" data-title="Exemplo 03">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_03.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 03</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_04.jpg') }}" data-description="Tamanho de grãos" data-title="Exemplo 04">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_04.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 04</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_05.png') }}" data-description="Grau de liberação e associações minerais" data-title="Exemplo 05">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_05.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 05</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_06.png') }}" data-description="Exemplo 06" data-title="Exemplo 06">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_06.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 06</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/mla/aplicacao_07.png') }}" data-description="Exemplo 07" data-title="Exemplo 07">
          <img src="{{ url_for('static', filename='img/infraestrutura/mla/thumb_aplicacao_07.png') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 07</small>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
