{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Microscopia óptica
{% endblock %}
{% block content %}
  {% include 'element/modal-image-description.html' %}
  <div class="mb-4">
    <h3 id="optica" class="my-3 font-weight-bold">
      Microscopia óptica
    </h3>
    <p>
      A microscopia óptica representa uma extensão natural da observação a olho nu, constituindo uma técnica usual no estudo de matérias-primas minerais, através de análises mineralógicas, petrográficas, morfogenéticas, texturais, microestruturais, determinação de grau de liberação e de associações minerais.
    </p>
    <p>
      Microscópios estereoscópicos são utilizados para a observação de amostras em baixa magnificação e com grandes relevos (grãos e partículas), permitindo visualizar imagens tridimensionais de objetos com relevo.
    </p>
    <p>
      Nos microscópios ópticos a observação de amostras em magnitudes moderadas (40 a 1000X), é realizada tanto em seções polidas (luz refletida) como em seções delgadas (luz transmitida). Em ambos os casos as seções podem ser confeccionadas a partir de fragmentos de rocha/minérios ou montagem de material partículado.
    </p>
    <p>
      O LCT conta com microscópios com recursos avançados, sendo alguns integrados com sistema de aquisição de imagens: câmera digital com sensor CMOS 1/2”, modelo MC190 HD, marca Leica, com aquisição direta em cartão de memória via controle remoto ou acoplada a software LAS, marca Leica, para captura de imagens e vídeos, e recurso de foco e campo estendidos em tempo real.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="transmitida" class="my-3 font-weight-bold">
      Microscopia óptica de luz transmitida
    </h4>
    <div class="row">
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/transmitida_01.jpg') }}" data-description="Exemplo 01" data-title="Exemplo 01">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_transmitida_01.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 01</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/transmitida_02.jpg') }}" data-description="Exemplo 02" data-title="Exemplo 02">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_transmitida_02.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 02</small>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="refletida" class="my-3 font-weight-bold">
      Microscopia óptica de luz refletida
    </h4>
    <div class="row">
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/refletida_01.jpg') }}" data-description="Exemplo 01" data-title="Exemplo 01">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_refletida_01.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 01</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/refletida_02.jpg') }}" data-description="Exemplo 02" data-title="Exemplo 02">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_refletida_02.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 02</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/refletida_03.jpg') }}" data-description="Exemplo 03" data-title="Exemplo 03">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_refletida_03.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 03</small>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="refletida" class="my-3 font-weight-bold">
      Estereomicroscopia
    </h4>
    <div class="row">
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/estereo_01.jpg') }}" data-description="Exemplo 01" data-title="Exemplo 01">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_estereo_01.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 01</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/estereo_02.jpg') }}" data-description="Exemplo 02" data-title="Exemplo 02">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_estereo_02.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 02</small>
        </p>
      </div>
      <div class="col-6 col-md-4 col-xl-3 my-2 text-center">
        <a href="#" data-toggle="modal" data-target=".modal-image-description" data-src="{{ url_for('static', filename='img/infraestrutura/optica/estereo_03.jpg') }}" data-description="Exemplo 03" data-title="Exemplo 03">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/thumb_estereo_03.jpg') }}" class="img-fluid img-thumbnail mw-100" />
        </a>
        <p class="text-muted">
          <small>Exemplo 03</small>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="microscopios" class="my-3 font-weight-bold">
          Microscópios ópticos
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/microscopio.jpg') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/microscopio.jpg') }}" class="float-left img-fluid rounded mr-4 mb-2" style="width: 50%" alt="Imagem" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/microscopio.jpg') }}" class="float-left img-fluid rounded mr-4 mb-2" style="width: 40%" alt="Imagem" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/microscopio.jpg') }}" class="float-left img-fluid rounded mr-4 mb-2" style="width: 30%" alt="Imagem" />
        </div>
        <ul class="mb-4">
          <li>
            Microscópio óptico de polarização por luz transmitida e refletida, modelo DMRXP, marca Leica, com platina motorizada e integração com sistema de análise de imagens QWin Pro, marca Leica;
          </li>
          <li>
            Microscópio óptico de polarização por luz transmitida e refletida DM750P, marca Leica, com platina giratória e charriot (3 unidades);
          </li>
          <li>
            Microscópios ópticos de polarização por luz transmitida BX40 (6 unidades), marca Olympus, com platina giratória;
          </li>
          <li>
            Microscópios ópticos de polarização por luz refletida BX60M (6 unidades), marca Olympus, com platina giratória;
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="estereomicroscopios" class="my-3 font-weight-bold">
          Estereomicroscópios
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/estereomicroscopio.png') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/estereomicroscopio.png') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 50%" alt="Imagem" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/estereomicroscopio.png') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 35%" alt="Imagem" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/optica/estereomicroscopio.png') }}" class="float-right img-fluid rounded ml-3 mb-2" style="width: 20%" alt="Imagem" />
        </div>
        <ul class="mb-4">
          <li>
            Estereomicroscópio de luz incidente (anel de luz fria) e transmitida, modelo M165C, marca Leica, com tecnologia de foco estendido e eletrônica calibrada por software, com aumentos visuais de 7.5X a 120X;
          </li>
          <li>
            Estereomicroscópios SD-ILK (3 unidades), marca Olympus;
          </li>
          <li>
            Estereomicroscópios SZ-ST (3 unidades), marca Olympus;
          </li>
          <li>
            Estereomicroscópios AVB-73 (6 unidades), marca Bausch & Lomb.
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
