{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Tamanho e forma de partículas
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="particulas" class="my-3 font-weight-bold">
      Tamanho e forma de partículas
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica dispõe de infraestrutura para análise granulométrica (peneiramento a seco ou a úmido), distribuição de tamanho de partículas (espalhamento de luz laser de baixo ângulo), distribuição de tamanho e morfologia de partículas (análise dinâmica de imagens) e classificação hidrodinâmica (aeroclassificador, hidrociclones, ciclo-classificador e elutriadores), que são as principais técnicas empregadas no setor mineral.
    </p>
    <p>
      A infraestrutura é bastante versátil abrangendo não só a indústria de matérias primas minerais e seus produtos de processamento, mas também indústria farmacêutica, metais e ligas metálicas, fertilizantes, cimentos, efluentes, águas, e materiais particulados.
    </p>
    <p>
      Os sistemas por espalhamento de luz laser foram cedidos pela Malvern Instruments e integram o Laboratório de Aplicação da mesma no país.
    </p>
  </div>
  <div class="mb-4">
    <h3 id="espalhamento" class="my-3 font-weight-bold">
      Sistemas de espalhamento de luz laser de baixo ângulo
    </h3>
    <p>
      A determinação de tamanho de partículas por espalhamento a laser baseia-se na variação angular da luz difundida à medida que um feixe de laser interage com as partículas dispersas da amostra. Partículas maiores dispersam a luz em ângulos menores em relação ao feixe de laser e partículas menores dispersam a luz em ângulos maiores. Os dados da dispersão angular são analisados para se calcular o tamanho das partículas responsáveis ​​por criar o padrão de dispersão. O tamanho das partículas é indicado como o diâmetro de uma esfera de volume equivalente.
    </p>
    <div class="text-center">
      <a href="{{ url_for('static', filename='files/poster_malvern.pdf') }}" target="_blank">
        <img src="{{ url_for('static', filename='img/infraestrutura/particulas/poster_malvern.jpg') }}" class="img-fluid img-thumbnail w-100" alt="Poster malvern" />
      </a>
      <p class="caption">(Clique para visualizar a versão original)</p>
    </div>
  </di>
  <div class="mb-4">
    <h4 id="malvern_2000" class="my-3 font-weight-bold">
      Malvern 2000 (equipamento em comodato com Malvern Panalytical)
    </h4>
    <p>
      Análise granulométrica de materiais particulados em dispersão em meio líquido ou ar, além de emulsões (0,02 a 2000µm):
    </p>
    <ul class="mb-4">
      <li>
        Hydro 2000MU: unidade de dispersão a úmido com capacidade de 0,8L
      </li>
      <li>
        Scirocco: unidade para a dispersão de pó seco por fluxo de ar
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="malvern_mastersizer" class="my-3 font-weight-bold">
      Malvern Mastersizer S
    </h4>
    <p>
      Análise granulométrica de materiais particulados em dispersão em meio líquido ou ar, além de emulsões e de aerossóis (0,05 a 3000µm):
    </p>
    <ul class="mb-4">
      <li>
        MS-17: unidade de dispersão a úmido com capacidade de 0,8L
      </li>
      <li>
        MS-1: unidade de dispersão a úmido com capacidade de 0,08L
      </li>
      <li>
        MS-64: unidade para a dispersão de pó seco por fluxo de ar
      </li>
      <li>
        MS-66: unidade para a dispersão de pó seco por queda livre
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/particulas/malvern.jpg') }}" class="img-fluid img-thumbnail" style="width: 100%" alt="Imagem malvern" />
    </div>
    <div class="d-none d-md-block text-center">
      <img src="{{ url_for('static', filename='img/infraestrutura/particulas/malvern.jpg') }}" class="img-fluid img-thumbnail ml-3 mb-2" style="width: 50%" alt="Imagem malvern" />
    </div>
  </div>
  <div class="mb-4">
    <h3 id="dinamica" class="my-3 font-weight-bold">
      Sistema de análise dinâmica de tamanho e forma de partículas
    </h3>
    <p>
      O sistema de análise de forma e tamanho de partícula com processamento de imagem CAMSIZER fornece de forma rápida e precisa distribuições de tamanho e do formato da partícula para pós secos e material a granel, na faixa de tamanho de 1 µm a 30 mm. Essa técnica oferece uma ampla variedade de informações sobre a amostra, desde uma medição de tamanho geral até parâmetros de forma que podem ser rigorosamente correlacionados a características específicas de desempenho. Devido à varredura de todas as partículas e aos algoritmos de ajuste, os resultados de medição são compatíveis aos da análise com peneiras.
    </p>
    <div class="text-center">
      <a href="{{ url_for('static', filename='files/poster_camsizer.pdf') }}" target="_blank">
        <img src="{{ url_for('static', filename='img/infraestrutura/particulas/poster_camsizer.jpg') }}" class="img-fluid img-thumbnail mw-100" alt="Poster camsizer" />
      </a>
      <p class="caption">(Clique para visualizar a versão original)</p>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="camsizer" class="my-3 font-weight-bold">
      Camsizer e Camsizer-XT (30 mm a 1 µm)
    </h4>
    <p>
      Caracterização de partículas por diferentes métodos de dispersão, definidos em função da granulação e especificidades da amostra.
    </p>
    <ul class="mb-4">
      <li>
        free-fall: unidade para a dispersão de pó seco por queda livre
      </li>
      <li>
        x-jet: unidade para a dispersão de pó seco por fluxo de ar
      </li>
      <li>
        x-wet: unidade de dispersão a úmido
      </li>
    </ul>
    <div class="d-md-none">
      <img src="{{ url_for('static', filename='img/infraestrutura/particulas/camsizer.jpg') }}" class="img-fluid img-thumbnail" style="width: 100%" alt="Imagem camsizer" />
    </div>
    <div class="d-none d-md-block text-center">
      <img src="{{ url_for('static', filename='img/infraestrutura/particulas/camsizer.jpg') }}" class="img-fluid img-thumbnail ml-3 mb-2" style="width: 50%" alt="Imagem camsizer" />
    </div>
  </div>
  <div class="mb-4">
    <h4 id="peneiramento" class="my-3 font-weight-bold">
      Peneiramento seco e úmido
    </h4>
    <ul class="mb-4">
      <li>
        Peneiradores vibratórios suspenso para peneiras de 20 cm de diâmetro
      </li>
      <li>
        Peneiradores vibratórios para peneiras quadradas de 50 x 50 cm, marca Abronzinox
      </li>
      <li>
        Peneiras circulares de 20 cm de diâmetro (0,020 a 76,2 mm, séries ABNT e Tyler)
      </li>
      <li>
        Peneiras circulares de 38 cm de diâmetro (0,037 a 3,35 mm)
      </li>
      <li>
        Peneiras quadradas de 50 x 50 cm (0,044 a 50,8 mm)
      </li>
      <li>
        Peneiras circulares de 7,5 cm de diâmetro (0,074 a 2,36 mm)
      </li>
      <li>
        Peneiras circulares de 7,5 cm de diâmetro - electroformed sieves (5, 10, 15, 20 e 30µm)
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="malvern" class="my-3 font-weight-bold">
      Classificação hidrodinâmica
    </h4>
    <ul class="mb-4">
      <li>
        Ciclo-classificador CL-502 (Cimaq)
      </li>
      <li>
        Conjuntos de deslamagem por hidrociclones
      </li>
      <li>
        Elutriadores
      </li>
    </ul>
  </div>
{% endblock %}
