{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Porosidade e densidade
{% endblock %}
{% block content %}
  <div>
    <h3 id="porosidade" class="my-3 font-weight-bold">
      Porosidade e densidade
    </h3>
    <p>
      O Laboratório de Caracterização Tecnológica dispõe de infraestrutura para determinação de densidade e porosidade.
    </p>
    <p>
      Os picnômetros GeoPyc 1360 e AccuPyc II 1340 são utilizados para medição de densidade de materiais particulados por intrusão de um material quase-fluido (DryFlo) e de gás Hélio, respectivamente. O GeoPyc 1360 faz o cálculo de densidade envelope por uso de um material envelopante sólido (DryFlo), e de densidade T.A.P. (Transverse Axial Pressure) por compactação e compressão do material particulado. O picnômetro AccuPyc permite a determinação da densidade esqueleto, e a densidade real quando o material está pulverizado.
    </p>
    <p>
      A determinação da porosidade pode ser realizada pela combinação de medidas de densidade envelope com esqueleto ou por porosimetria. A técnica de porosimetria por intrusão de mercúrio é muito utilizada para determinação de porosidade e distribuição de tamanho de poros de materiais sólidos. A relação de elevadas pressões com o volume incremental de mercúrio que penetra nos poros da amostra, reporta a estimativa desses diâmetros. O método é utilizado para o estudo da maioria dos materiais porosos que não apresentem reação com o mercúrio. A técnica fornece resultados da área total de poros, distribuição de tamanho de poros, densidade esqueleto, densidade aparente, porosidade, constante de permeabilidade, permeabilidade, fator de tortuosidade, dentre outros.
    </p>
    <p>
      Os equipamentos disponíveis no LCT são listados abaixo.
    </p>
  </div>
  <div class="mb-4">
    <div class="row">
      <div class="col-12">
        <h4 id="autopore" class="my-3 font-weight-bold">
          Porosímetro de mercúrio - AutoPore IV, Micromeritics
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/autopore.jpg') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem autopore" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/autopore.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 50%" alt="Imagem autopore" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/autopore.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 35%" alt="Imagem autopore" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/autopore.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 20%" alt="Imagem autopore" />
        </div>
        <ul class="mb-4">
          <li>
            Determinação de porosidade e distribuição de tamanho de poros por intrusão por mercúrio
          </li>
          <li>
            Pressão de intrusão de até 60.000 psi
          </li>
          <li>
            Porta amostras para sólidos e particulados
          </li>
          <li>
            Porta-amostras cilíndricas com dimensões (DxH) aproximadas de 1,5x1,0 cm (3 cm<sup>3</sup>), 2,0x1,0 cm (5 cm<sup>3</sup>) e 2,5x2 cm (15 cm<sup>3</sup>)
          </li>
        </ul>
      </div>
      <div class="col-12">
        <h4 id="accupyc" class="my-3 font-weight-bold">
          Picnômetro a gás - AccuPyc II 1360, Micromeritics
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/accupyc.jpg') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem accupyc" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/accupyc.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 50%" alt="Imagem accupyc" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/accupyc.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 35%" alt="Imagem accupyc" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/accupyc.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 20%" alt="Imagem accupyc" />
        </div>
        <ul class="mb-4">
          <li>
            Determinação da densidade esqueleto (em amostra tal qual) e real (em amostra pulverizada)
          </li>
          <li>
            Intrusão de gás hélio
          </li>
          <li>
            Porta-amostras cilíndricas com dimensões (DxH) aproximadas de 1,2x1,0 cm (3 cm<sup>3</sup>), 1,5x1,7 cm (5 cm<sup>3</sup>) e 1,8x4 cm (15 cm<sup>3</sup>)
          </li>
        </ul>
      </div>
      <div class="col-12">
        <h4 id="geopyc" class="my-3 font-weight-bold">
          Picnômetro de pó - GeoPyc 1320, Micromeritics
        </h4>
        <div class="d-md-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/geopyc.jpg') }}" class="img-fluid rounded mb-3" style="width: 100%" alt="Imagem geopyc" />
        </div>
        <div class="d-none d-md-block d-lg-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/geopyc.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 50%" alt="Imagem geopyc" />
        </div>
        <div class="d-none d-lg-block d-xl-none">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/geopyc.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 35%" alt="Imagem geopyc" />
        </div>
        <div class="d-none d-xl-block">
          <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/geopyc.jpg') }}" class="float-right img-fluid rounded ml-4 mb-2" style="width: 20%" alt="Imagem geopyc" />
        </div>
        <ul class="mb-4">
          <li>
            Determinação de densidade envelope com envelopante sólido
          </li>
          <li>
            Determinação de densidade TAP com compactação
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="definicoes_densidade" class="my-3 font-weight-bold">
      Definições de densidade
    </h4>
    <p>
      As definições de densidade são sumarizadas na tabela a seguir visando facilitar a identificação da densidade de interesse.
    </p>
    <div class="table-responsive">
      <table class="table table-hover table-bordered tabela_densidade">
        <thead>
          <tr>
            <th rowspan=2 class="text-center">
              Representação esquemática
            </th>
            <th rowspan=2 class="text-center">
              Definições de densidade
            </th>
            <th colspan=4 class="text-center">
              Volume considerados
            </th>
          </tr>
          <tr>
            <th class="text-center">
              Material sólido
            </th>
            <th class="text-center">
              Entre partículas
            </th>
            <th class="text-center">
              Poros fechados
            </th>
            <th class="text-center">
              Poros abertos
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan=2 class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/volume_bulk.jpg') }}" class="img-fluid px-2" width="125px" alt="Volume bulk" />
              <br/>
              <span>Volume bulk (sem compressão) ou T.A.P. (com compressão)</span>
            </td>
            <td>
              <span>
                <b>Densidade bulk ou volumétrica (ASTM D5004)</b>
              </span>
              <br/>
              <span>
                Massa de material dividida pelo seu volume ocupado, incluindo os vazios entre as partículas e os poros contidos nas mesmas.
              </span>
              <br/>
              <span>
                Pode ser determinada colocando-se a amostra que se deseja analisar em um recipiente de volume conhecido.
              </span>
            </td>
            <td rowspan=2 class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_material_solido.png') }}" class="img-fluid" alt="Sim (material sólido)" />
            </td>
            <td rowspan=2 class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_entre_particulas.png') }}" class="img-fluid" alt="Sim (entre partículas)" />
            </td>
            <td rowspan=2 class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_poros_fechados.png') }}" class="img-fluid" alt="Sim (poros fechados)" />
            </td>
            <td rowspan=2 class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_poros_abertos.png') }}" class="img-fluid" alt="Sim (poros abertos)" />
            </td>
          </tr>
          <tr>
            <td>
              <span>
                <b>Densidade TAP (Trasnverse Axial Pressure)</b>
              </span>
              <br/>
              <span>
                Massa de material dividida pelo seu volume ocupado, incluindo os vazios entre as partículas e os poros contidos nas mesmas mediante aplicação de pressão externa, sem que ocorra a quebra das partículas.
              </span>
              <br/>
              <span>
                A densidade TAP pode ser realizada no equipamento Geopyc.
              </span>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/volume_envelope.png') }}" class="img-fluid px-2" width="125px" alt="Volume envelope" />
              <br/>
              <span>Volume envelope</span>
            </td>
            <td>
              <span>
                <b>Densidade envelope (ASTM D3766)</b>
              </span>
              <br/>
              <span>
                Massa de material dividida pelo volume envelope das partículas (como se as partículas estivessem envelopadas/envoltas por uma película, incluindo os poros contidos nas partículas).
              </span>
              <br/>
              <span>
                A densidade envelope pode ser determinada por intrusão de mercúrio ou por picnometria em pó (Geopyc) ou outro material envelopante.
              </span>
            </td>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_material_solido.png') }}" class="img-fluid" alt="Sim (material sólido)" />
            </td>
            <td class="text-center">
            </td>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_poros_fechados.png') }}" class="img-fluid" alt="Sim (poros fechados)" />
            </td>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_poros_abertos.png') }}" class="img-fluid" alt="Sim (poros abertos)" />
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/volume_esqueleto.png') }}" class="img-fluid px-2" width="125px" alt="Volume esqueleto" />
              <br/>
              <span>Volume esqueleto (exclui poros abertos)</span>
            </td>
            <td>
              <span>
                <b>Densidade esqueleto (ou aparente)</b>
              </span>
              <br/>
              <span>
                Massa de material dividida pelo volume do material sólido somado ao volume de poros fechados (não acessíveis).
              </span>
              <br/>
              <span>
                Esta é a densidade que mais se aproxima da densidade real. Pode ser realizada por técnicas de picnometria com fluidos (normalmente gases, água ou álcool).
              </span>
            </td>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_material_solido.png') }}" class="img-fluid" alt="Sim (material sólido)" />
            </td>
            <td class="text-center">
            </td>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_poros_fechados.png') }}" class="img-fluid" alt="Sim (poros fechados)" />
            </td>
            <td class="text-center">
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/volume_particulas.jpg') }}" class="img-fluid px-2" width="125px" alt="Volume partículas" />
              <br/>
              <span>Volume de partículas (excluindo-se os vazios)</span>
            </td>
            <td>
              <span>
                <b>Densidade real (ou absoluta)</b>
              </span>
              <br/>
              <span>
                Massa de material dividida unicamente pelo volume do material sólido, excluindo-se qualquer poro.
              </span>
              <br/>
              <span>
                Pode ser determinada por técnicas de picnometria com fluidos (normalmente gases, água ou álcool) em amostras pulverizadas, ou pelo cálculo teórico da massa específica das fases que compõe a amostra nas respectivas proporções.
              </span>
            </td>
            <td class="text-center">
              <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/check_material_solido.png') }}" class="img-fluid" alt="Sim (material sólido)" />
            </td>
            <td class="text-center">
            </td>
            <td class="text-center">
            </td>
            <td class="text-center">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="mb-4">
    <h4 id="esquema" class="my-3 font-weight-bold">
      Esquema simplificado de funcionamento do porosímetro de mercúrio
    </h4>
    <div class="text-center">
      <a href="{{ url_for('static', filename='files/poster_porosimetria.pdf') }}" target="_blank">
        <img src="{{ url_for('static', filename='img/infraestrutura/porosidade/poster_porosimetria.jpg') }}" class="img-fluid img-thumbnail w-100" alt="Poster porosimetria" />
      </a>
      <p class="caption">(Clique para visualizar a versão original)</p>
    </div>
  </div>
{% endblock %}
