{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Preparações físicas
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="separacoes" class="my-3 font-weight-bold">
      Preparações físicas
    </h3>
    <p>
      A preparação física de amostras é uma atividade comum na execução de estudos de caracterização tecnológica e tratamento de minérios, sendo que o LCT utiliza a Infraestrutura de forma compartilhada com demais laboratórios do Departamento.
    </p>
    <p>
      Os laboratórios contam com grande diversidade de equipamentos para etapas de britagem, moagem, desagregação, amostragem e secagem, dentre outros.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="britadores" class="my-3 font-weight-bold">
      Britadores
    </h4>
    <ul class="mb-4">
      <li>
        Britador de mandíbulas 5x6, marca Denver
      </li>
      <li>
        Britador de mandíbulas 2015, marca Faço
      </li>
      <li>
        Britador de mandíbulas BM2010, marca Furlan
      </li>
      <li>
        Britador de mandíbulas BM84, marca Furlan
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="moinhos" class="my-3 font-weight-bold">
      Moinhos, acionadores e correlatos
    </h4>
    <ul class="mb-4">
      <li>
        Moinho de rolos MR2510, marca Furlan (modificado)
      </li>
      <li>
        Moinho de rolos marca Renard (modificado)
      </li>
      <li>
        Moinho de martelos
      </li>
      <li>
        Acionadores duplo para moinhos de rolos e barras
      </li>
      <li>
        Acionadores sêxtuplo para moinhos de rolos e barras e ensaios de cianetação
      </li>
      <li>
        Acionadores simples para moinhos de rolos e barras
      </li>
      <li>
        Moinho de barras de laboratório, marca Inbras
      </li>
      <li>
        Moinhos de bolas de porcelana marca Chiaorotti, números 1, 3 e 5
      </li>
      <li>
        Célula de atrição CFB1000, marca Cimaq
      </li>
      <li>
        Betoneira CS145, marca CSM
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="amostradores" class="my-3 font-weight-bold">
      Amostradores
    </h4>
    <ul class="mb-4">
      <li>
        Amostradores Jones diversos com aberturas de 3 a 12 mm
      </li>
      <li>
        Amostrador rotativo para amostras sólidas e polpa, marca Tecmaq
      </li>
      <li>
        Amostrador de polpa SPL-12/2,6, marca Inbras
      </li>
      <li>
        Amostrador rotativo Laborette 27, marca Fritsch
      </li>
      <li>
        Micro amostrador rotativo, MSR25, marca Microscal
      </li>
    </ul>
  </div>
{% endblock %}
