{% extends "layout.html" %}
{% block title %}
  Infraestrutura / Separações minerais
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="separacoes" class="my-3 font-weight-bold">
      Separações minerais
    </h3>
    <p>
      Os ensaios de separação mineral são efetuados com base em propriedades físicas diferenciadoras entre os minerais que se deseja separar. São rotineiramente empregados em estudos de caracterização de matérias primas minerais com o objetivo de individualizar assembleias ou espécies minerais, auxiliar a identificação de menores constituintes e a determinação quantitativa da composição mineralógica, e verificar a separabilidade mineral e o grau de liberação.
    </p>
    <p>
      O LCT dispõe de grande diversidade de equipamentos para a execução desses ensaios em escala de bancada.
    </p>
  </div>
  <div class="mb-4">
    <h4 id="densidade" class="my-3 font-weight-bold">
      Separação por densidade
    </h4>
    <ul class="mb-4">
      <li>
        Centrífuga Nova Técnica, modelo NT-820, 12 frascos de 80 mL por ciclo
      </li>
      <li>
        Centrífuga Fanem, modelo 215, 6 frascos de 100 mL por ciclo
      </li>
      <li>
        Mesa Mozley C900 (Mozley Mineral Separator)
      </li>
      <li>
        Separador magnético-densitário 12P4818-DT7 (Magstream)
      </li>
      <li>
        Separador Floatex, modelo LPF-0230 (9” X 9”) (Outotec)
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="magnetica" class="my-3 font-weight-bold">
      Separação magnética
    </h4>
    <ul class="mb-4">
      <li>
        Separador magnético Frantz, modelo de barreiras, LB1
      </li>
      <li>
        Separador eletromagnético Frantz isodinâmico, modelo L1
      </li>
      <li>
        Separador magnético alta intensidade via úmida L4 (Inbras - Eriez)
      </li>
      <li>
        Separador magnético de rolo terras raras RE - 05/04-1 (Inbras - Eriez)
      </li>
      <li>
        Separador magnético de tambor terras raras HFP ØRE15x12 (Inbras - Eriez)
      </li>
      <li>
        Separador magnético Tubo Davis, modelo EDT, intensidade de campo até 4000 gauss
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="eletrostatica" class="my-3 font-weight-bold">
      Separação eletrostática
    </h4>
    <ul class="mb-4">
      <li>
        Separador eletrostático ESP 10-015 (Inbras - Eriez)
      </li>
      <li>
        Separador eletrostático de placas e placa/tela ES1010 (MDL)
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="granulometrica" class="my-3 font-weight-bold">
      Separação granulométrica
    </h4>
    <ul class="mb-4">
      <li>
        Peneiramento - Agitador de peneiras Haver & Boecker EML 450
      </li>
      <li>
        Classificação pneumática Sturtevant, Whirlwind 3 FT 7,5 HP, 6 main fan blades
      </li>
    </ul>
  </div>
  <div class="mb-4">
    <h4 id="atricao" class="my-3 font-weight-bold">
      Atrição
    </h4>
    <ul class="mb-4">
      <li>
        Célula de atrição Floatex, modelo LPF-AS-01-300 (Outotec)
      </li>
      <li>
        Lavadora de alta pressão Hydroclean, modelo HC-Labor, Haver & Boecker
      </li>
    </ul>
  </div>
  <div class="mb-4 text-center">
    <img src="{{ url_for('static', filename='img/infraestrutura/separacoes/imagem.jpg') }}" class="img-fluid border rounded mw-100" alt="Imagem LCT" />
  </div>
{% endblock %}
