{% for line in elements %}
  <tr>
    {% for element in line %}
      <td width="10%">
        {% if (element != '') %}
          <div class="chemical-element">
            <span class="chemical-element-number text-muted">
                {{ periodicTable[element]['number'] }}
            </span>
            <br>
            <span class="chemical-element-symbol">
                {{ periodicTable[element]['symbol'] }}
            </span>
            <br>
            <span class="chemical-element-name text-muted">
              {{ periodicTable[element]['name'] }}
            </span>
          </div>
        {% endif %}
      </td>
    {% endfor %}
  </tr>
{% endfor %}
