<div id="featuresCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for i in range(0, features|length) %}
      {% if (i == 0) %}
        <li data-target="#featuresCarousel" class="active" data-slide-to="{{ i }}"></li>
      {% else %}
        <li data-target="#featuresCarousel" data-slide-to="{{ i }}"></li>
      {% endif %}
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for feature in features %}
      {% if loop.first %}
        <div class="carousel-item active">
      {% else %}
        <div class="carousel-item">
      {% endif %}
        {% set image = '' %}
        {% if (feature.images[0]) %}
          {% set image = feature.images[0].path %}
        {% elif (feature.article) %}
          {% set image = feature.article.images[0].path %}
        {% endif %}
        <div class="div-bg-image-carousel" style="background-image: url('{{ config.S3 + image }}')">
        </div>
        <div class="container">
          <div class="carousel-caption text-left">
            <h2>
              {{ feature.title }}
            </h2>
            <p>
              {{ feature.description }}
            </p>
            <p>
              {% if (feature.link) %}
              <a href="{{ feature.link }}" class="btn btn-lg btn-primary">
                Saiba mais...
              </a>
              {% elif(feature.article.title_slug) %}
              <a href="{{ url_for('noticia', title_slug=feature.article.title_slug) }}" class="btn btn-lg btn-primary">
                Saiba mais...
              </a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#featuresCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="carousel-control-next" href="#featuresCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Próximo</span>
  </a>
</div>
