<script>
(function(mycode) {
  mycode(window.jQuery, window, document);
}(function($, window, document) {
  $(function() {
    $('.loading').css('width', '0');
    $(document).on('submit', function(e) {
      $('.loading').css('width', '100%');
    })
  });
}));
</script>

<div class="loading d-flex justify-content-center">
  <div class="d-flex align-self-center">
    <i class="fas fa-fw fa-5x fa-spinner fa-pulse"></i>
  </div>
</div>
