<script>
(function(mycode) {
  mycode(window.jQuery, window, document);
}(function($, window, document) {
  $(function() {
    $('.modal-image-description').on('hidden.bs.modal', function (e) {
      $('.modal-title').text('');
      $('.description').text('');
      $('.img').attr('alt', 'Carregando imagem...');
      $('.img').attr('src', '');
    });

    $('.modal-image-description').on('shown.bs.modal', function (e) {
      $('.modal-title').text($(e.relatedTarget).data('title'));
      $('.description').text($(e.relatedTarget).data('description'));
      $('.img').attr('src', $(e.relatedTarget).data('src'));
      $('.img').attr('alt', $(e.relatedTarget).data('title'));
    });
  });
}));
</script>

<div class="modal modal-image-description" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img class="img img-fluid mw-100" src="" alt="">
        <p class="description mt-4 mb-2"></p>
      </div>
    </div>
  </div>
</div>
