{% for article in articles %}
  <div class="preview_home d-sm-none">
    {% set image = '' %}
    {% if (article.images[0]) %}
      {% set image = article.images[0].path %}
    {% endif %}
    <a href="{{ url_for('noticia', title_slug=article.title_slug) }}">
      <div class="div-bg-image div-bg-image-thumbnail div-bg-image-thumbnail-xs rounded mb-2" style="background-image: url('{{ config.S3 + image }}');">
      </div>
      <div class="text-dark">
        <div class="font-weight-bold">
          {{ article.title|e }}
        </div>
        <div>
          {{ article.description|e }}
        </div>
        <div class="w-100 text-right pt-1">
          <p class="text-muted">
            {{ article.created|brazil_time }}
          </p>
        </div>
      </div>
    </a>
  </div>
  <div class="media preview_home d-none d-sm-block">
    <a href="{{ url_for('noticia', title_slug=article.title_slug) }}">
      <div class="div-bg-image div-bg-image-thumbnail div-bg-image-thumbnail-sm rounded float-left mr-3" style="background-image: url('{{ config.S3 + image }}');">
      </div>
      <div class="media-body text-dark d-flex flex-column align-items-start" style="min-height: 150px;">
        <div class="font-weight-bold">
          {{ article.title|e }}
        </div>
        <div class="mb-auto">
          {{ article.description|e }}
        </div>
        <div class="w-100 text-right">
          <span class="text-muted">
            {{ article.created|brazil_time }}
          </span>
        </div>
      </div>
    </a>
  </div>
  <hr>
{% endfor %}
