<script>
(function(mycode) {
  mycode(window.jQuery, window, document);
}(function($, window, document) {
  $(function() {
    $('#collapse_link_{{ id }}').on('click', function() {
      $('#chevron_down_{{ id }}').toggle();
      $('#chevron_up_{{ id }}').toggle();
    });
  });
}));
</script>

<div class="d-none d-md-block">
  <h4 id="{{ id }}" class="my-3 font-weight-bold">
    {{ title }}
    {% if (page_contents) %}
      {% include 'element/page-contents-back.html' %}
    {% endif %}
  </h4>
</div>
<div class="d-md-none">
  <a id="collapse_link_{{ id }}" class="collapse_link" data-toggle="collapse" href="#collapse_{{ id }}" role="button" aria-expanded="false" aria-controls="collapse_{{ id }}" style="color: inherit; text-decoration: none;">
    <h4 class="my-3 font-weight-bold">
      {{ title }}
      {% if (open == true) %}
        <i id="chevron_down_{{ id }}" class="fas fa-xs fa-fw fa-chevron-down" aria-hidden style="display: none;"></i>
        <i id="chevron_up_{{ id }}" class="fas fa-xs fa-fw fa-chevron-up" aria-hidden></i>
      {% else %}
        <i id="chevron_down_{{ id }}" class="fas fa-xs fa-fw fa-chevron-down" aria-hidden></i>
        <i id="chevron_up_{{ id }}" class="fas fa-xs fa-fw fa-chevron-up" aria-hidden style="display: none;"></i>
      {% endif %}
    </h4>
  </a>
</div>
