/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .carousel-item {
    height: 32rem;
  }
}

@media (min-width: 1400px) {
  .carousel-item {
    height: 35rem;
  }
}

@media (min-width: 1600px) {
  .carousel-item {
    height: 38rem;
  }
}

@media (min-width: 1800px) {
  .carousel-item {
    height: 41rem;
  }
}

@media (orientation:portrait) {
  .carousel-item {
    height: 36rem;
  }
  .carousel-item > img {
    height: 100%;
    max-width: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

@media (orientation:landscape) {
  .carousel-item > img {
    width: 100%;
    max-height: none;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
