/* General */

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 80px;
  background-color: #eee;
}

@media (min-width: 992px) {
  body {
    padding-bottom: 60px;
  }
}

.main-content {
  background-color: white;
  min-height: calc(100vh - 72px - 63px);
}

@media (min-width: 576px) {
  .main-content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  color: rgba(255, 255, 255, 0.85);
  background-color: #043f69/*rgb(1, 82, 137)*/;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .footer {
    height: 60px;
  }
}

.footer a {
  color: rgba(255, 255, 255, 0.85);
}

.li-big li {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.btn-primary {
  background-color: #043f69/*rgb(1, 82, 137)*/;
  border-color: #043f69/*rgb(1, 82, 137)*/;
}

.btn-primary:hover {
  background-color: rgb(1, 122, 177);
  border-color: rgb(1, 122, 177);
}

.btn-outline-primary {
  color: #043f69/*rgb(1, 82, 137)*/;
  border-color: #043f69/*rgb(1, 82, 137)*/;
}

.btn-outline-primary:hover {
  background-color: rgb(1, 122, 177);
  border-color: rgb(1, 122, 177);
}

.navbar {
  min-height: 60px;
  background-color: #043f69;
}

.navbar-dark .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-dark .nav-item .nav-link:hover,
.navbar-dark .nav-item .nav-link:focus,
.navbar-dark .nav-item .nav-link.active {
  color: rgba(255, 255, 255, 1);
  background-color: inherit;
}

.navbar-dark .dropdown-menu {
  background-color: rgb(1, 82, 137);
}

.dropdown-menu-admin {
  background-color: #212529 !important;
}

.navbar-dark .dropdown-item {
  color: rgba(255, 255, 255, 0.85);
}

.navbar-dark .dropdown-item:hover,
.navbar-dark .dropdown-item:focus,
.navbar-dark .dropdown-item.active {
  color: rgba(255, 255, 255, 1);
  background-color: inherit;
}

/* Toastr */

#toast-container {
  padding-top: 60px;
}

/* Chemical Element */
.chemical-element {
  line-height: 1.25rem;
}
.chemical-element-name {
  font-size: x-small;
}
.chemical-element-number {
  font-size: small;
}
.chemical-element-symbol {
  font-size: large;
}

/* Custom box-shadow for required forms */

.box-shadow-required {
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.5);
}

/* Div with background image */
.div-bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
}

.div-bg-image-carousel {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ccc;
  opacity: 0.33;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.div-bg-image-article-body {
  width: 100%;
}
@media (orientation:portrait) {
  .div-bg-image-article-body {
    height: 200px;
  }
}

@media (orientation:landscape) {
  .div-bg-image-article-body {
    height: 400px;
  }
}

.div-bg-image-employee {
  width: 100%;
  padding-top: 133.33%;
}

.div-bg-image-employee-view {
  border: solid 6px white;
  box-shadow: 0 0 1px 2px #ccc;
}

.div-bg-image-thumbnail {
  border: solid 3px white;
  box-shadow: 0 0 1px 1px #ccc;
}

.div-bg-image-thumbnail-article-index {
  width: 100px;
  height: 75px;
}

.div-bg-image-thumbnail-employee-index {
  width: 75px;
  height: 100px;
}

.div-bg-image-thumbnail-xs {
  width: 100%;
  height: 150px;
}

.div-bg-image-thumbnail-sm {
  width: 200px;
  height: 150px;
}

.div-bg-image-thumbnail-xs:hover,
.div-bg-image-thumbnail-sm:hover {
  box-shadow: 0 0 1px 2px #ccc;
}

.div-bg-image-infraestrutura,
.div-bg-image-servicos {
  width: 100%;
}
@media (orientation:portrait) {
  .div-bg-image-infraestrutura,
  .div-bg-image-servicos {
    height: 200px;
  }
}

@media (orientation:landscape) {
  .div-bg-image-infraestrutura,
  .div-bg-image-servicos {
    height: 200px;
  }
}

/* Loading screen */
.loading {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
}

/* Custom checkbox */

.custom-control-label {
  padding-top: 2px;
  padding-left: 2px;
}

.custom-control-label-big::before,
.custom-control-label-big::after {
  width: 1.25rem !important;
  height: 1.25rem !important;
}

.custom-control-label-white::before {
  background-color: white;
}

/*--- CAROUSEL GALLERY ---*/

@media (orientation:portrait) {
  .carousel-gallery {
    height: 15rem;
    background-color: #555;
    color: #ddd;
    padding-top: 0.5rem;
  }

  .carousel-gallery-indicators {
  }

  .carousel-gallery-image {
    height: 12rem;
  }

  .carousel-gallery-caption {
    height: 2rem;
    line-height: 2rem;
    font-weight: bold;
  }
}

@media (orientation:landscape) {
  .carousel-gallery {
    height: 30rem;
    background-color: #555;
    color: #ddd;
    padding-top: 1rem;
  }

  .carousel-gallery-indicators {
  }

  .carousel-gallery-image {
    height: 25.5rem;
  }

  .carousel-gallery-caption {
    height: 3rem;
    line-height: 3rem;
    font-weight: bold;
  }
}

/* Page contents */
.page-contents {
  margin: 0 0 1.5rem 1.5rem;
  font-size: 90%;
}

.page-contents p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.page-contents h5 {
  font-size: 120%;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.page-contents a {
  color: #043f69;
}

@media only screen and (max-width: 767px) {
  .page-contents {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .page-contents {
    width: 40%;
  }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .page-contents {
    width: 35%;
  }
}

@media only screen and (min-width: 1200px) {
  .page-contents {
    width: 30%;
  }
}

.page-contents-back {
  color: #ddd;
}

.page-contents-back:hover {
  color: #043f69;
}

@media only screen and (min-width: 768px) {
  .show-md {
    display: block !important;
  }
}

/* img logo kemiolab */

@media only screen and (max-width: 299px) and (min-width: 0px) {
  .kemiolab {
    width: 50px;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 319px) and (min-width: 300px) {
  .kemiolab {
    width: 70px;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 339px) and (min-width: 320px) {
  .kemiolab {
    width: 85px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 359px) and (min-width: 340px) {
  .kemiolab {
    width: 100px;
    padding-top: 10px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 360px) {
  .kemiolab {
    width: 120px;
    padding-top: 7px;
  }
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .kemiolab {
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
  }
}
@media only screen and (max-width: 1199px) and (min-width: 992px) {
  .kemiolab {
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
  }
}
@media only screen and (max-width: 1249px) and (min-width: 1200px) {
  .kemiolab {
    width: 85px;
    padding-top: 13px;
  }
}
@media only screen and (max-width: 1299px) and (min-width: 1250px) {
  .kemiolab {
    width: 100px;
    padding-top: 11px;
  }
}
@media only screen and (max-width: 1399px) and (min-width: 1300px) {
  .kemiolab {
    width: 110px;
    padding-top: 9px;
  }
}
@media only screen and (max-width: 1599px) and (min-width: 1400px) {
  .kemiolab {
    width: 120px;
    padding-top: 7px;
  }
}
@media only screen and (min-width: 1600px) {
  .kemiolab {
    width: 130px;
    padding-top: 6px;
  }
}

.caption {
  font-size: small;
  color: grey;
}

.tabela_densidade {
  font-size: small;
}

.tabela_densidade thead tr th,
.tabela_densidade tbody tr td {
  vertical-align: middle;
}
