{% extends "layout.html" %}
{% block title %}
Contato
{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h3 class="my-3 font-weight-bold">
      Contato
    </h3>
  </div>
  <div class="d-md-none">
    <img src={{ url_for('static', filename='img/contato/frente.jpg') }} class="img-fluid img-thumbnail w-100 mb-2"
      alt="frenteLCT" />
  </div>
  <div class="col-md-6 d-none d-md-block">
    <img src={{ url_for('static', filename='img/contato/frente.jpg') }} class="img-fluid img-thumbnail mw-100 mb-2"
      alt="Logo LCT" />
  </div>
  <div class="col-md-6">
    <p>
      <b>Laboratório de Caracterização Tecnológica - LCT</b><br>
      Departamento de Engenharia de Minas e de Petróleo<br>
      Escola Politécnica da Universidade de São Paulo<br>
      Av. Prof. Mello Moraes, 2373, Butantã<br>
      CEP 05508-030, São Paulo, SP<br>
      Tel.: +55 11 3091-5151 / 3091-5551<br>
      WhatsApp: <a href="https://api.whatsapp.com/send?phone=5511941527407">+55 11 94152-7407</a><br>
      Email: <a href="mailto:lct@lct.poli.usp.br">lct@lct.poli.usp.br</a>
    </p>
    <p>
      Como chegar: <a href="https://goo.gl/maps/iGAeogqp2Vqhc85V9">clique aqui.</a>
    </p>
  </div>
  <div class="col-sm-12 my-2">
    <h3 class="my-3 font-weight-bold">
      Mapa de localização
    </h3>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14629.722577890087!2d-46.730775!3d-23.552972!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7e688706b29a9d5b!2sLaborat%C3%B3rio+de+Caracteriza%C3%A7%C3%A3o+Tecnol%C3%B3gica+-+LCT!5e0!3m2!1sen!2sbr!4v1525284322698
        &zoom=17
        &key=AIzaSyDXtaQHlJNoU46iNXK4b4c7s7sY0jW-PT4" class="border w-100" height="500" allowfullscreen>
    </iframe>
  </div>
</div>
{% endblock %}
