{% extends "layout.html" %}
{% block title %}
  Ensino
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 id="ensino" class="my-3 font-weight-bold">
      Ensino
    </h3>
    <p>
      O LCT oferece suporte às disciplinas ministradas na Escola Politécnica e às atividades de pesquisa de alunos de graduação e pós-graduação.
    </p>
    <p>
      Estudantes de graduação da USP e de outras instituições podem desenvolver seus trabalhos de formatura ou iniciação científica junto ao LCT. O objetivo é familiarizá-los com as modernas técnicas disponíveis, despertando seu interesse e talento para a pesquisa e contribuindo para o aprimoramento de sua formação acadêmica. O mesmo suporte é concedido aos alunos de mestrado e doutorado em seus projetos de pesquisa.
    </p>
    <p>
      Interessados nos programas de pós-graduação da EPUSP encontram espaço para desenvolverem seus projetos nas linhas de pesquisas do LCT. Para ingresso no Programa de Pós-Graduação, os interessados devem verificar o calendário e critérios no site do <a href="http://www.pmi.poli.usp.br/?page_id=252" target="_blank">Departamento, menu Pós-Graduação</a>.
    </p>
    <p>
      Algumas disciplinas de graduação e pós-graduação utilizam as dependências do LCT para atividades experimentais, sendo:
    </p>
    <ul class="mb-4">
      <li>
        Técnicas de Caracterização de Materiais - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3021" target="blank">PMI3021</a>
      </li>
      <li>
        Caracterização Tecnológica de Matérias Primas Minerais - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3307" target="blank">PMI3307</a>
      </li>
      <li>
        Laboratório de Caracterização Tecnológica I - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3814" target="blank">PMI3814</a>
      </li>
      <li>
        Laboratório de Caracterização Tecnológica II - Microscopia - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3815" target="blank">PMI3815</a>
      </li>
      <li>
        Mineralogia Aplicada à Tecnologia Mineral - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI2796" target="blank">PMI2796</a>
      </li>
      <li>
        Projeto de Usina de Tratamento de Minérios - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3240" target="blank">PMI3240</a>
      </li>
      <li>
        Tratamento de Minérios: Métodos Densitários e Outros Processos de Concentração - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3215" target="blank">PMI3215</a>
      </li>
      <li>
        Materiais e Componentes, Reciclagem e Gestão de Resíduos da Construção - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PCC3556" target="blank">PCC3556</a>
      </li>
      <li>
        Caracterização Tecnológica de Matérias Primas Minerais - PMI5712
      </li>
      <li>
        Técnicas Instrumentais Aplicadas à Tecnologia Mineral - PMI5713
      </li>
      <li>
        Microscopia Eletrônica de Varredura e Microanálise Química - PMI5715
      </li>
      <li>
        Caracterização e processamento de resíduos de construção e demolição - PMI5716
      </li>
      <li>
        Trabalho de Conclusão de Curso em Engenharia de Minas I - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3227" target="blank">PMI3227</a>
      </li>
      <li>
        Trabalho de Conclusão de Curso em Engenharia de Minas II - <a href="https://uspdigital.usp.br/jupiterweb/obterDisciplina?sgldis=PMI3228" target="blank">PMI3228</a>
      </li>
    </ul>
  </div>
{% endblock %}
