{% extends "layout.html" %}
{% block title %}
  Erro 404 - Não encontrado
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 class="my-3 font-weight-bold">
      Erro 404 - Não encontrado
    </h3>
    <p>
      A URL requisitada não foi encontrada no servidor. Se você entrou a URL manualmente, por favor verifique se digitou corretamente ou tente de novo.
    </p>
{% endblock %}
