{% extends "layout.html" %}
{% block title %}
  Laboratório de Caracterização Tecnológica
{% endblock %}
{% block content %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js" crossorigin="anonymous"></script>
  <script>
  (function(mycode) {
  mycode(window.jQuery, window, document);
  }(function($, window, document) {
  $(function() {
    $('#input_verificar_autenticidade').mask('ZZZZ-ZZZZ-ZZZZ-ZZZZ', {
      translation: {
        'Z': {
          pattern: /[a-zA-Z]/
        }
      }
    });

    $('#input_verificar_autenticidade').on('keypress', function(e){
      $(this).val($(this).val().toUpperCase());
      if (e.keyCode == 13) {
        e.preventDefault();
        $('#button_verificar_autenticidade').click();
      }
    });

    $('#button_verificar_autenticidade').on('click', function(e) {
      let codigo = $('#input_verificar_autenticidade').val();
      if (codigo.length != 19) {
        e.preventDefault();
        alert('O código de autenticidade é composto de 16 letras. Por favor, verifique o documento novamente.');
      }
      else {
        window.open('https://lct.kemiolab.net/legacy/arquivos/arquivo/' + codigo, '__blank');
      }
    });
  });
  }));
  </script>
  <div class="row d-flex justify-content-center mb-4">
    <div class="col-md-8 my-4 pr-md-2 pr-lg-4 pr-xl-5">
      <h2>
        Notícias
      </h2>
      <hr>
      {% include 'element/noticias-index.html' %}
      <div class="d-sm-none">
        <a href="{{ url_for('noticias') }}" class="btn btn-primary btn-block">
          Ver todas as notícias...
        </a>
      </div>
      <div class="d-none d-sm-block">
        <a href="{{ url_for('noticias') }}" class="btn btn-primary">
          Ver todas as notícias...
        </a>
      </div>
    </div>
    <div class="col-md-4 my-4">
      <div class="mb-5">
        <div class="d-md-none d-xl-block float-right">
          <a href="https://lct.kemiolab.net/legacy/arquivos/webdoc">
            <img
              src="{{ url_for('static', filename='img/logo/kemiolab-side.png') }}"
              class="img-fluid kemiolab"
              alt="Kemiolab"
            >
          </a>
        </div>
        <h2>
          Autenticidade
        </h2>
        <div class="d-none d-md-block d-xl-none text-right">
          <a href="https://lct.kemiolab.net/legacy/arquivos/webdoc">
            <img
              src="{{ url_for('static', filename='img/logo/kemiolab-side.png') }}"
              class="img-fluid kemiolab"
              alt="Kemiolab"
            >
          </a>
        </div>
        <hr>
        <p>
          Digite o código de autenticidade do documento recebido
        </p>
        <form class="form-inline my-2">
          <input id="input_verificar_autenticidade" class="form-control w-100" type="text" placeholder="ABCD-EFGH-IJKL-MNOP" aria-label="Buscar código">
          <button type="button" id="button_verificar_autenticidade" class="btn btn-outline-primary btn-block my-2">
            Verificar
          </button>
        </form>
      </div>
      <div class="mb-4">
        <h2>
          Universidade
        </h2>
        <hr>
        <a href="http://www5.usp.br/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/universidade/usp.jpg') }}"
            class="img-fluid mw-100"
            alt="Universidade de São Paulo"
          >
        </a>
        <a href="http://www.poli.usp.br/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/universidade/poli.jpg') }}"
            class="img-fluid mw-100"
            alt="Escola Politécnica da Universidade de São Paulo"
          >
        </a>
        <a href="http://www.pmi.poli.usp.br/" target="_blank">
          <img
            src="{{ url_for('static', filename='img/universidade/pmi.jpg') }}"
            class="img-fluid mw-100"
            alt="Depto. Eng. de Minas e de Petróleo"
          >
        </a>
      </div>
    </div>
    <div class="col-lg-12 text-center">
      <h2>
        Apoio
      </h2>
      <hr>
      <div class="row justify-content-between">
        <div class="col-6 col-md-3 col-xl-2 mb-2 text-center">
          <a href="http://www.cnpq.br/" target="_blank">
            <img
              src="{{ url_for('static', filename='img/apoio/cnpq.jpg') }}"
              class="img-fluid mw-100 p-1 p-sm-4 p-md-2 px-lg-4 p-xl-2"
              alt="CNPq"
            >
          </a>
        </div>
        <div class="col-6 col-md-3 col-xl-2 mb-2 text-center">
          <a href="http://www.fapesp.br/" target="_blank">
            <img
              src="{{ url_for('static', filename='img/apoio/fapesp.jpg') }}"
              class="img-fluid mw-100 p-1 p-sm-4 p-md-2 px-lg-4 p-xl-2"
              alt="Fapesp"
            >
          </a>
        </div>
        <div class="col-6 col-md-3 col-xl-2 mb-2 text-center">
          <a href="http://www.finep.gov.br/" target="_blank">
            <img
              src="{{ url_for('static', filename='img/apoio/finep.jpg') }}"
              class="img-fluid mw-100 p-1 p-sm-4 p-md-2 px-lg-4 p-xl-2"
              alt="Finep"
            >
          </a>
        </div>
        <div class="col-6 col-md-3 col-xl-2 mb-2 text-center">
          <a href="https://amigosdapoli.com.br/" target="_blank">
            <img
              src="{{ url_for('static', filename='img/apoio/amigosdapoli.png') }}"
              class="img-fluid mw-100 p-1 p-sm-4 p-md-2 px-lg-4 p-xl-2"
              alt="Amigos da Poli"
            >
          </a>
        </div>
        <div class="col-6 col-md-3 col-xl-2 mb-2 text-center">
          <a href="https://www.malvernpanalytical.com/br/" target="_blank">
            <img
              src="{{ url_for('static', filename='img/apoio/malvern.jpg') }}"
              class="img-fluid mw-100 p-1 p-sm-4 p-md-2 px-lg-4 p-xl-2"
              alt="Malvern"
            >
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
