{% extends "layout.html" %}
{% block title %}
  Infraestrutura
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 class="my-3 font-weight-bold">
      Infraestrutura
    </h3>
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 col-xl-4 mb-2">
        <div class="div-bg-image div-bg-image-infraestrutura rounded border" style="background-image: url('{{ url_for('static', filename='img/infraestrutura/microscopia.jpg') }}')">
        </div>
        <h4 class="my-3 font-weight-bold">
          Microscopia
        </h4>
        <p>
          <a href="{{ url_for('infraestrutura_microtomografia') }}">Microtomografia</a><br>
          <a href="{{ url_for('infraestrutura_mev') }}">Microscopia eletrônica MEV</a><br>
          <a href="{{ url_for('infraestrutura_mla') }}">Análise de imagens MLA</a><br>
          <a href="{{ url_for('infraestrutura_confocal') }}">Microscopia confocal</a><br>
          <a href="{{ url_for('infraestrutura_optica') }}">Microscopia óptica</a><br>
        </p>
      </div>
      <div class="col-md-6 col-xl-4 mb-2">
        <div class="div-bg-image div-bg-image-infraestrutura rounded border" style="background-image: url('{{ url_for('static', filename='img/infraestrutura/aqm.jpg') }}')">
        </div>
        <h4 class="my-3 font-weight-bold">
          Análises químicas e mineralógicas
        </h4>
        <p>
          <a href="{{ url_for('infraestrutura_frx') }}">Fluorescência de raios X</a><br>
          <a href="{{ url_for('infraestrutura_icp') }}">ICP OES</a><br>
          <a href="{{ url_for('infraestrutura_aas') }}">Absorção atômica</a><br>
          <a href="{{ url_for('infraestrutura_avu') }}">Via úmida</a><br>
          <a href="{{ url_for('infraestrutura_drx') }}">Difração de raios X</a><br>
        </p>
      </div>
      <div class="col-md-6 col-xl-4 mb-2">
        <div class="div-bg-image div-bg-image-infraestrutura rounded border" style="background-image: url('{{ url_for('static', filename='img/infraestrutura/particulas.jpg') }}')">
        </div>
        <h4 class="my-3 font-weight-bold">
          Tamanho e forma de partículas
        </h4>
        <p>
          <a href="{{ url_for('infraestrutura_particulas') }}">
            Espalhamento a laser<br>
            Análise de imagens dinâmica<br>
            Peneiramento<br>
            Classificação hidrodinâmica<br>
          </a>
        </p>
      </div>
      <div class="col-md-6 col-xl-4 mb-2">
        <div class="div-bg-image div-bg-image-infraestrutura rounded border" style="background-image: url('{{ url_for('static', filename='img/infraestrutura/porosidade.jpg') }}')">
        </div>
        <h4 class="my-3 font-weight-bold">
          Porosidade e densidade
        </h4>
        <p>
          <a href="{{ url_for('infraestrutura_porosidade') }}">
            Porosimetria mercúrio<br>
            Picnometria hélio</br>
            Picnometria pó<br>
            Picnometria água/álcool<br>
          </a>
        </p>
      </div>
      <div class="col-md-6 col-xl-4 mb-2">
        <div class="div-bg-image div-bg-image-infraestrutura rounded border" style="background-image: url('{{ url_for('static', filename='img/infraestrutura/separacoes.jpg') }}')">
        </div>
        <h4 class="my-3 font-weight-bold">
          Separações minerais
        </h4>
        <p>
          <a href="{{ url_for('infraestrutura_separacoes') }}">
            Por densidade<br>
            Magnética<br>
            Eletrostática<br>
            Granulométrica<br>
            Atrição<br>
          </a>
        </p>
      </div>
      <div class="col-md-6 col-xl-4 mb-2">
        <div class="div-bg-image div-bg-image-infraestrutura rounded border" style="background-image: url('{{ url_for('static', filename='img/infraestrutura/preparacoes.jpg') }}')">
        </div>
        <h4 class="my-3 font-weight-bold">
          Preparações físicas
        </h4>
        <p>
          <a href="{{ url_for('infraestrutura_preparacoes') }}">
            Britadores<br>
            Moinhos<br>
            Amostradores<br>
            Acionadores e correlatos<br>
          </a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
