<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}" />

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/solid.css" integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/brands.css" integrity="sha384-BKw0P+CQz9xmby+uplDwp82Py8x1xtYPK3ORn/ZSoe6Dk3ETP59WCDnX+fI1XCKK" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/fontawesome.css" integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" crossorigin="anonymous">

    <!-- jQuery.js -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <title>LCT - {% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='img/logo/lct.ico') }}" type="image/x-icon" rel="icon">
    <link href="{{ url_for('static', filename='img/logo/lct.ico') }}" type="image/x-icon" rel="shortcut icon">
    {% endblock %}
  </head>
  <body>
    <main role="main">
      {% include 'navbar.html' %}
      {% if (request.path == '/') %}
        {% include 'element/destaques-index.html' %}
      {% endif %}
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-10 main-content">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center">
          <div class="col-sm-10">
            {% block footer %}
            <div class="d-lg-none">
              <div class="mb-1">
                Siga-nos no
                <a href="https://www.linkedin.com/company/lct-usp-laborat%C3%B3rio-de-caracteriza%C3%A7%C3%A3o-tecnol%C3%B3gica" target="_blank">
                  <i class="fab fa-fw fa-linkedin"></i><b>Linkedin</b>
                </a>
                <span class="float-right">
                  <a href="#">
                    Voltar ao topo
                  </a>
                </span>
              </div>
              <div>
                <div class="d-sm-none">
                  LCT &copy; 2019
                </div>
                <div class="d-none d-sm-block">
                  LCT - Laboratório de Caracterização Tecnológica &copy; 2019
                </div>
              </div>
            </div>
            <div class="d-none d-lg-block">
              <div class="row">
                <div class="col-lg-6">
                  LCT - Laboratório de Caracterização Tecnológica &copy; 2019
                </div>
                <div class="col-lg-3">
                  Siga-nos no
                  <a href="https://www.linkedin.com/company/lct-usp-laborat%C3%B3rio-de-caracteriza%C3%A7%C3%A3o-tecnol%C3%B3gica" target="_blank">
                    <i class="fab fa-fw fa-linkedin"></i><b>Linkedin</b>
                  </a>
                </div>
                <div class="col-lg-3 text-right">
                  <a href="#">
                    Voltar ao topo
                  </a>
                </div>
              </div>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </footer>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
