{% extends "layout.html" %}
{% block title %}
  Multiusuário
{% endblock %}
{% block content %}
  <div class="mb-4">
    <div class="d-none d-md-block">
      <div id="page-contents" class="alert alert-secondary page-contents float-right" role="alert">
        <h5>Conteúdo da página</h5>
        <p><a href="#multiusuario">Multiusuário</a></p>
        <p><a href="#comite_gestor">Comitê Gestor</a></p>
        <p><a href="#comissao_usuarios">Comissão de Usuários</a></p>
        <p><a href="#procedimentos_gerais">Procedimentos gerais - Comunidade acadêmica</a></p>
        <p><a href="#formularios">Formulários</a></p>
        <p><a href="#agendamento">Agendamento</a></p>
        <p><a href="#maiores_informacoes">Maiores informações</a></p>
      </div>
    </div>
    {% set open = false %}
    {% set page_contents = true %}
    {% set title = 'Multiusuário' %}
    {% set id = 'multiusuario' %}
    {% include 'element/pages-header-h3-md.html' %}
    <div class="collapse show-md" id="collapse_multiusuario">
      <p>
        O Laboratório de Caracterização Tecnológica da USP (LCT) conta com expressiva infraestrutura analítica e recursos humanos para atuação na área de caracterização de matérias-primas minerais e materiais em geral e destaca-se como Central Multiusuário em apoio a atividades acadêmicas de várias unidades da USP e outras Universidades desde meados da década de 90.
      </p>
      <p>
        O LCT disponibiliza aos docentes e pesquisadores do país e do exterior, independentemente da Instituição a que estejam vinculados, o acesso à sua infraestrutura, possibilitando a realização de análises, ensaios e uso dos equipamentos existentes. Esta utilização é feita sob o preceito de corresponsabilidade, onde o usuário colabora com o custeio operacional, com valores subsidiados em relação àqueles praticados nas atividades de extensão.
      </p>
      <p>
        O atendimento à comunidade acadêmica é crescente, abrangendo uma rede de mais de 50 ICTs e 500 pesquisadores; atualmente são apoiados cerca de 80 a 100 pesquisadores por ano. As principais áreas de atuação são engenharias (mineração, petróleo, metalúrgica, materiais, civil, ambiental, mecânica, química e eletrônica), ciência dos materiais, geologia, oceanografia, agronomia, medicina, odontologia, ciências biológicas e arqueometria, dentre outras. Estas atividades e os projetos em parcerias com empresas demandam mais de 50% do tempo dedicado pela equipe e equipamentos disponíveis, sendo que nos últimos cinco anos, o atendimento multiusuário representou 50% do total das atividades realizadas (média de 8.800 análises/ano); dentre estas análises/atendimentos para ICTs foram da ordem de 1.200/ano.
      </p>
      <p>
        A regulamentação para acesso a Central Multiusuário do LCT é apresentada no <a href="{{ url_for('static', filename='files/CM-LCT_Plano_Gestao_Multiusuario_(aprovado_Congregacao_20-12-2018).pdf') }}" target="__blank">“Plano de Gestão e de Compartilhamento de Uso de Equipamentos”</a>, onde são definidos os regulamentos de utilização dos equipamentos pela comunidade acadêmica e externa. A maior parcela de análises e ensaios são realizados pela equipe do LCT em face de sistemas internos de gestão e controle de qualidade (QA/QC), embora os usuários participem de algumas etapas a depender da análise solicitada e interpretação de resultados.
      </p>
      <p>
        Este documento, aprovado pela Congregação da Escola Politécnica da USP em dezembro de 2018, substitui os Planos de Gestão anteriores decorrentes de projetos FINEP Multiusuário 02-2016, FAPESP EMU2009 - 09/54007-0 e FINEP 5089/06 (planos de 2006, 2009, 2010,2017).
      </p>
      <p>
        As informações gerais sobre a Central e principais equipamentos estão disponíveis no sistema USP-Multi (<a href="http://uspmulti.prp.usp.br/" target="_blank">http://uspmulti.prp.usp.br/</a>), no qual também é possível solicitar análises.
      </p>
      <p>
        Os dados relativos à operação da Central estão sendo reorganizados em nova plataforma de gestão e gerenciamento de laboratório, baseada em MySQL, para aprimoramento do atendimento aos usuários – QA/QC (<i>Quality Assurance/Quality Control</i>) e adequação a ferramentas de Gestão da Qualidade. A implementação deste novo sistema (LIMS) está sendo efetuada de forma paulatina e customizada, objetivando auxiliar na implantação de certificações de qualidade ISO 9001/17025.
      </p>
    </div>
  </div>
  <div class="mb-4">
    {% set title = 'Comitê Gestor' %}
    {% set id = 'comite_gestor' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_comite_gestor">
      <p>
        O Comitê Gestor tem por finalidade regulamentar a utilização dos equipamentos em sistema multiusuário conforme os regulamentos de uso vigentes; cabe a este Comitê:
      </p>
      <ul class="li-big mb-4">
        <li>
          Estabelecer os critérios de uso dos equipamentos.
        </li>
        <li>
          Dirimir dúvidas e problemas de utilização e manutenção dos equipamentos.
        </li>
        <li>
          Decidir sobre projetos de interesse maior que poderão ter os seus custos de utilização subsidiados.
        </li>
        <li>
          Estabelecer os valores de utilização para os distintos usuários.
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-4">
    {% set title = 'Comissão de Usuários' %}
    {% set id = 'comissao_usuarios' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_comissao_usuarios">
      <p>
        A Comissão de Usuários atua como Órgão Regulador/Interlocutor da Central Multiusuário, devendo reportar ao Comitê Gestor:
      </p>
      <ul class="li-big mb-4">
        <li>
          Questões relativas à adequada utilização e garantia de acesso aos equipamentos em sistema multiusuário.
        </li>
        <li>
          Proposições e encaminhamento de eventuais projetos de interesse maior, que poderão ter os seus custos de utilização subsidiados.
        </li>
        <li>
          Sugestões, reclamações e propostas vindas dos demais usuários da Central.
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-4">
    {% set title = 'Procedimentos gerais - Comunidade acadêmica (USP e externa)' %}
    {% set id = 'procedimentos_gerais' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_procedimentos_gerais">
      <ul class="li-big mb-4">
        <li>
          Para acesso e utilização dos recursos disponíveis como usuário da “Comunidade Acadêmica e Científica”, cada pesquisador ou docente deverá estar cadastrado junto à Central.
        </li>
        <li>
          Após o cadastro do pesquisador ou docente, este deverá efetuar o cadastro específico de cada Projeto de Pesquisa, assinalando as técnicas analíticas a serem utilizadas, estimativa de quantidade de amostras/análises e indicação de eventuais participantes do projeto, que poderão solicitar análises, ensaios e o uso de equipamento em seu nome.
        </li>
        <li>
          A responsabilidade de todas as solicitações efetuadas em um Projeto de Pesquisa será do pesquisador ou docente que o cadastrou.
        </li>
        <li>
          Não se enquadram como Projeto de Pesquisa quaisquer atividades que sejam custeadas pela iniciativa privada ou que possam ser qualificadas como atividades de extensão (custeio deve ser por agências de fomento e instituições de ensino).
        </li>
      </ul>
    </div>
  </div>
  <div class="mb-4">
    {% set title = 'Formulários' %}
    {% set id = 'formularios' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_formularios">
      <div class="d-none d-md-block">
        <table class="table">
          <tr>
            <th width="200px" style="border: none; vertical-align: middle; padding-left: 0;">
              Cadastro de projeto:
            </th>
            <td style="border: none; vertical-align: middle;">
              <a href="{{ url_for('static', filename='files/Form_cadastro_projetos_LCT.doc')}}" class="btn btn-primary">
                <i class="fas fa-fw fa-file-word mr-1" aria-hidden></i>
                Versão word
              </a>
              <a href="{{ url_for('static', filename='files/Form_cadastro_projetos_LCT.pdf')}}" class="btn btn-danger"target="_blank">
                <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>
                Versão pdf
              </a>
            </td>
          </tr>
          <tr>
            <th style="border: none; vertical-align: middle; padding-left: 0;">
              Solicitação de análises:
            </th>
            <td style="border: none; vertical-align: middle;">
              <a href="{{ url_for('static', filename='files/Form_solicitacao_analises_LCT.xlsx')}}" class="btn btn-success">
                <i class="fas fa-fw fa-file-excel mr-1" aria-hidden></i>
                Versão excel
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="d-md-none">
        <p>
          <p><b>Cadastro de projeto</b></p>
          <a href="{{ url_for('static', filename='files/Form_cadastro_projetos_LCT.doc')}}" class="btn btn-primary">
            <i class="fas fa-fw fa-file-word mr-1" aria-hidden></i>
            Versão word
          </a>
          <a href="{{ url_for('static', filename='files/Form_cadastro_projetos_LCT.pdf')}}" class="btn btn-danger" target="_blank">
            <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>
            Versão pdf
          </a>
        </p>
        <p>
          <p><b>Solicitação de análises</b></p>
          <a href="{{ url_for('static', filename='files/Form_solicitacao_analises_LCT.xlsx')}}" class="btn btn-success">
            <i class="fas fa-fw fa-file-excel mr-1" aria-hidden></i>
            Versão excel
          </a>
        </p>
      </div>
    </div>
  </div>
  <div class="mb-4">
    {% set title = 'Agendamento' %}
    {% set id = 'agendamento' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_agendamento">
      <p>
        Microscopia eletrônica de varredura: por e-mail <a href="mailto:lct@lct.poli.usp.br">lct@lct.poli.usp.br</a> ou telefone +55 11 3091-5151 / 3091-5551
      </p>
      <p>
        Demais análises e ensaios em geral: por ordem de recebimento de amostras
      </p>
    </div>
  </div>
  <div class="mb-4">
    {% set title = 'Maiores informações' %}
    {% set id = 'maiores_informacoes' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_maiores_informacoes">
      <p>
        Maiores informações sobre procedimentos de acesso, classes de atividades com descontos diferenciados e utilização estão disponíveis em:
      </p>
      <ul class="li-big mb-4">
        <li>
          <a href="{{ url_for('static', filename='files/CM-LCT_Plano_Gestao_Multiusuario_(aprovado_Congregacao_20-12-2018).pdf') }}" target="__blank">
            <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Plano de Gestão e de Compartilhamento de Uso de Equipamentos
          </a>
        </li>
        <li>
          <a href="{{ url_for('static', filename='files/CM-LCT_Comite_Gestor_e_Usuários_(aprovado_Congregacao_20-12-2018).pdf') }}" target="__blank">
            <i class="fas fa-fw fa-file-pdf mr-1" aria-hidden></i>Comitê Gestor e Comissão de Usuários
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
