<nav class="navbar navbar-expand-lg navbar-dark m-0 p-0">
  <a href="{{ url_for('index') }}" class="navbar-brand m-0 p-0">
    <img
      src="{{ url_for('static', filename='img/logo/lct-small.jpg') }}"
      class="img-fluid ml-4 mr-2 my-2 p-0"
      alt="LCT"
      style="height: 55px;"
    >
  </a>
  <span class="d-lg-none ml-auto mr-1" style="color: rgba(255, 255, 255, 0.85);">Menu</span>
  <button class="navbar-toggler m-0 mr-4" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="<?= __('Toggle navigation') ?>">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto ml-1">
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuServicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sobre
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuServicos">
          <a href="{{ url_for('sobre_lct') }}" class="dropdown-item">O LCT</a>
          <a href="{{ url_for('sobre_pessoal') }}" class="dropdown-item">Pessoal</a>
        </div>
      </li>
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1">
        <a href="{{ url_for('ensino') }}" class="nav-link">Ensino</a>
      </li>
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1">
        <a href="{{ url_for('pesquisa') }}" class="nav-link">Pesquisa</a>
      </li>
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1">
        <a href="{{ url_for('multiusuario') }}" class="nav-link">Multiusuário</a>
      </li>
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuServicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Serviços
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuServicos">
          <a href="{{ url_for('servicos_caracterizacao') }}" class="dropdown-item">Caracterização tecnológica</a>
          <a href="{{ url_for('servicos_analises') }}" class="dropdown-item">Análises</a>
          <a href="{{ url_for('servicos_cursos') }}" class="dropdown-item">Cursos</a>
          <a href="{{ url_for('servicos_assessorias') }}" class="dropdown-item">Assessorias e treinamentos</a>
          <a href="{{ url_for('servicos_lims') }}" class="dropdown-item">Software LIMS</a>
        </div>
      </li>
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1">
        <a href="{{ url_for('infraestrutura') }}" class="nav-link">Infraestrutura</a>
      </li>
      <!--
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1 dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuInfraestrutura" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Infraestrutura
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuInfraestrutura">
          <a href="{{ url_for('infraestrutura_microtomografia') }}" class="dropdown-item">Microtomografia</a>
          <a href="{{ url_for('infraestrutura_mev') }}" class="dropdown-item">Microscopia eletrônica MEV</a>
          <a href="{{ url_for('infraestrutura_mla') }}" class="dropdown-item">Análise de imagens MLA</a>
          <a href="{{ url_for('infraestrutura_confocal') }}" class="dropdown-item">Microscopia confocal</a>
          <a href="{{ url_for('infraestrutura_optica') }}" class="dropdown-item">Microscopia óptica</a>
          <a href="{{ url_for('infraestrutura_frx') }}" class="dropdown-item">Fluorescência de raios X</a>
          <a href="{{ url_for('infraestrutura_icp') }}" class="dropdown-item">ICP OES</a>
          <a href="{{ url_for('infraestrutura_aas') }}" class="dropdown-item">Absorção atômica</a>
          <a href="{{ url_for('infraestrutura_avu') }}" class="dropdown-item">Via úmida</a>
          <a href="{{ url_for('infraestrutura_drx') }}" class="dropdown-item">Difração de raios X</a>
          <a href="{{ url_for('infraestrutura_particulas') }}" class="dropdown-item">Tamanho e forma de partículas</a>
          <a href="{{ url_for('infraestrutura_porosidade') }}" class="dropdown-item">Porosidade e densidade</a>
          <a href="{{ url_for('infraestrutura_separacoes') }}" class="dropdown-item">Separações minerais</a>
          <a href="{{ url_for('infraestrutura_preparacoes') }}" class="dropdown-item">Preparações físicas</a>
        </div>
      </li>
      -->
      <li class="nav-item ml-3 ml-lg-1 ml-xl-3 mr-1">
        <a href="{{ url_for('contato') }}" class="nav-link">Contato</a>
      </li>
    </ul>
  </div>
  <div class="d-none d-lg-block">
    <a href="http://www5.usp.br/" class="navbar-brand m-0 p-0">
      <img
        src="{{ url_for('static', filename='img/logo/usp.png') }}"
        class="img-fluid ml-2 mr-4 my-2 p-2"
        alt="USP"
        style="height: 45px;"
      >
    </a>
  </div>
</nav>
