{% extends "layout.html" %}
{% block title %}
  Notícias
{% endblock %}
{% block content %}
  <div class="row d-flex justify-content-center mt-2 mb-4">
    <div class="col-md-10">
      <h2>
        Notícias
      </h2>
      <hr>
      {% include 'element/noticias-index.html' %}
    </div>
  </div>
{% endblock %}
