{% extends "layout.html" %}
{% block title %}
  Notícia: {{ article.title|e }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center mt-2 mb-4">
    <div class="col-sm-10">
      <h1 id="article_title">
        {{ article.title|e }}
      </h1>
      <p class="text-muted">
        {{ article.created|brazil_time }}
      </p>
      {% set image = '' %}
      {% if (article.images[0]) %}
        {% set image = article.images[0].path %}
      {% endif %}
      <div id="article_image" class="div-bg-image div-bg-image-article-body rounded border border-light my-3" style="background-image: url('{{ config.S3 + image }}')">
      </div>
      <div id="article_body">
        {{ article.body|safe }}
      </div>
      <hr>
      <div class="d-sm-block d-md-none">
        <div class="row">
          <div class="col-6 pr-1">
            {% if (previous) %}
              <a href="{{ url_for('noticia', title_slug=previous.title_slug) }}" class="btn btn-outline-primary btn-block">
                <i class="fas fa-fw fa-angle-left mr-2" aria-hidden></i>
                Anterior
              </a>
            {% endif %}
          </div>
          <div class="col-6 pl-1">
            {% if (next) %}
              <a href="{{ url_for('noticia', title_slug=next.title_slug) }}" class="btn btn-outline-primary btn-block">
                <i class="fas fa-fw fa-angle-right ml-2" aria-hidden></i>
                Próxima
              </a>
            {% endif %}
          </div>
          <div class="col-12 mt-2">
            <a href="{{ url_for('noticias') }}" class="btn btn-outline-primary btn-block">
              <i class="fas fa-fw fa-list mr-2" aria-hidden></i>
              Ver todas as notícias
            </a>
          </div>
        </div>
      </div>
      <div class="d-none d-md-block">
        <div class="d-flex justify-content-between">
          {% if (previous) %}
            <a href="{{ url_for('noticia', title_slug=previous.title_slug) }}" class="btn btn-outline-primary">
              <i class="fas fa-fw fa-angle-left mr-2" aria-hidden></i>
              Anterior
            </a>
          {% endif %}
          <a href="{{ url_for('noticias') }}" class="btn btn-outline-primary">
            <i class="fas fa-fw fa-list mr-2" aria-hidden></i>
            Ver todas as notícias
          </a>
          {% if (next) %}
            <a href="{{ url_for('noticia', title_slug=next.title_slug) }}" class="btn btn-outline-primary">
              <i class="fas fa-fw fa-angle-right ml-2" aria-hidden></i>
              Próxima
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
