{% extends "layout.html" %}
{% block title %}
  Pesquisa
{% endblock %}
{% block content %}
  <div class="mb-4">
    <div class="d-none d-md-block">
      <div id="page-contents" class="alert alert-secondary page-contents float-right" role="alert">
        <h5>Conteúdo da página</h5>
        <p><a href="#pesquisa">Pesquisa</a></p>
        <p class="pl-2"><a href="#minerais">Caracterização tecnológica de matérias-primas minerais</a></p>
        <p class="pl-2"><a href="#beneficiamento">Caracterização de produtos de beneficiamento</a></p>
        <p class="pl-2"><a href="#jazidas">Caracterização tecnológica de jazidas</a></p>
        <p class="pl-2"><a href="#quimico_metalurgico">Caracterização de produtos de processamento químico e metalúrgico</a></p>
        <p class="pl-2"><a href="#meio_ambiente">Caracterização voltada ao meio ambiente</a></p>
      </div>
    </div>
    <div class="mb-4">
      {% set page_contents = true %}
      {% set title = 'Pesquisa' %}
      {% set id = 'pesquisa' %}
      {% set open = true %}
      {% include 'element/pages-header-h3-md.html' %}
      <div class="collapse show" id="collapse_pesquisa">
        <p>
          A implantação do LCT foi decisiva para a consolidação dos estudos de caracterização tecnológica de matérias-primas minerais na Universidade e para a criação de um grupo de pesquisas, cadastrado junto ao CNPq desde 1991.
        </p>
        <p>
          Projetos desenvolvidos com o apoio de importantes agências de fomento como FINEP, FAPESP, CNPq e CAPES e mais recentemente ANP, assim como parcerias estabelecidas com a iniciativa privada têm colaborado para o crescimento do LCT.
        </p>
        <p>
          O LCT desenvolve pesquisas direcionadas ao aproveitamento racional e sustentável dos recursos minerais e ao reprocessamento de rejeitos e resíduos industriais. As linhas de pesquisa são:
        </p>
      </div>
    </p>
    <div class="my-4">
      {% set open = false %}
      {% set title = 'Caracterização tecnológica de matérias-primas minerais' %}
      {% set id = 'minerais' %}
      {% include 'element/pages-header-h4-md.html' %}
      <div class="collapse show-md" id="collapse_minerais">
        <p>
          Trata-se de estudo orientado pelas propriedades físicas, químicas e físico-químicas de bens minerais face ao processo de beneficiamento ou uso final. Em sua conceituação ampla engloba mineralogia aplicada e técnicas universais de caracterização visando o levantamento de parâmetros tecnológicos para definição das alternativas de processo e adequação às especificações requeridas pelo mercado.
        </p>
        <p>
          Compreende o estudo das características mineralógicas, das associações minerais e de liberação notadamente do mineral útil em relação à ganga.
        </p>
        <p>
          Dentre os parâmetros determinados destacam-se:
        </p>
        <ul class="mb-4">
          <li>
            Composição mineralógica (qualitativa e quantitativa)
          </li>
          <li>
            Morfologia de partículas
          </li>
          <li>
            Associações minerais
          </li>
          <li>
            Definição da granulação de cominuição (liberação)
          </li>
          <li>
            Estado de alteração, substituição de espécies minerais, recobrimento de superfície
          </li>
          <li>
            Separabilidade mineral
          </li>
          <li>
            Partição do elemento útil entre as espécies portadoras
          </li>
        </ul>
      </div>
    </div>
    <div class="my-4">
      {% set title = 'Caracterização de produtos de beneficiamento' %}
      {% set id = 'beneficiamento' %}
      {% include 'element/pages-header-h4-md.html' %}
      <div class="collapse show-md" id="collapse_beneficiamento">
        <p>
          Trata-se do estudo de características mineralógicas e físicas da alimentação e de produtos de etapas inicial, final e intermediárias, objetivando a otimização de circuitos industriais de tratamento de minérios nas suas inúmeras modalidades.
        </p>
        <p>
          Dentre os principais objetos destes estudos podem ser citados:
        </p>
        <ul class="mb-4">
          <li>
            Diagnóstico de causas de redução do teor do concentrado (quedas na recuperação metalúrgica) Diagnóstico da forma de ocorrência e partições minerais (útil e de ganga) na carga circulante
          </li>
          <li>
            Avaliação da forma de ocorrência de contaminantes
          </li>
          <li>
            Geração de dados para simulação de operações unitárias
          </li>
          <li>
            Verificação de possibilidade de aproveitamento de subprodutos
          </li>
          <li>
            Estudo diagnóstico do circuito - bench mark
          </li>
        </ul>
      </div>
    </div>
    <div class="my-4">
      {% set title = 'Caracterização tecnológica de jazidas' %}
      {% set id = 'jazidas' %}
      {% include 'element/pages-header-h4-md.html' %}
      <div class="collapse show-md" id="collapse_jazidas">
        <p>
          Compreende a avaliação das informações geológicas, definição e execução da amostragem, estudos de caracterização tecnológica com o levantamento de parâmetros para definição de tipos de minérios e estudos de Geometalurgia.
        </p>
        <p>
          Dentre os principais objetos destes estudos podem ser citados:
        </p>
        <ul class="mb-4">
          <li>
            Determinação da variabilidade das características ou parâmetros do minério no corpo mineralizadocom vistas ao reconhecimento de tipos com comportamento tecnológico diferenciado
          </li>
          <li>
            Definição da distribuição dos tipos tecnológicos no depósito mineral
          </li>
          <li>
            Avaliação quantitativa das características do minério/jazida em estudos de geometalurgia e/ou apoio à otimização do planejamento de lavra
          </li>
          <li>
            Integração das informações geológicas e tecnológicas para o estabelecimento de correlações entre os controles de mineralização e os parâmetros tecnológicos do minério, como importante guia na definição do corpo de minério passível de aproveitamento
          </li>
        </ul>
      </div>
    </div>
    <div class="my-4">
      {% set title = 'Caracterização de produtos de processamento químico e metalúrgico' %}
      {% set id = 'quimico_metalurgico' %}
      {% include 'element/pages-header-h4-md.html' %}
      <div class="collapse show-md" id="collapse_quimico_metalurgico">
        <p>
          Compreende o estudo de matérias-primas para processos químicos e metalúrgicos e dos diversos produtos obtidos, em apoio a estudos diagnósticos e de otimização de processos.
        </p>
      </div>
    </div>
    <div class="my-4">
      {% set title = 'Caracterização voltada ao meio ambiente' %}
      {% set id = 'meio_ambiente' %}
      {% include 'element/pages-header-h4-md.html' %}
      <div class="collapse show-md" id="collapse_meio_ambiente">
        <p>
          Estudos de caracterização de rejeitos, resíduos e efluentes, paralelamente ao levantamento das condições e alternativas para reciclagem e reaproveitamento de subprodutos.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
