{% extends "layout.html" %}
{% block title %}
  Serviços
{% endblock %}
{% block content %}
  <div class="mb-4">
    <h3 class="my-3 font-weight-bold">
      Serviços
    </h3>
  </div>
  <div class="mb-2">
    {% set open = false %}
    {% set page_contents = false %}
    {% set title = 'Caracterização tecnológica' %}
    {% set id = 'caracterizacao' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_caracterizacao">
      <div class="d-md-none">
        <a href="{{ url_for('servicos_caracterizacao') }}">
          <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/caracterizacao/imagem.jpg') }}')">
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9">
          <p>
            A caracterização tecnológica de matérias primas minerais compreende o estudo de suas propriedades físicas, químicas e físico-químicas frente a um processo de beneficiamento ou uso final. Significa, em outras palavras, determinar seus constituintes mineralógicos, suas respectivas composições químicas e formas de associações, de modo a sugerir alternativas para o seu beneficiamento ou para a otimização de um processo já existente, bem como para obter estimativas de recuperação ou avaliar a qualidade dos produtos finais gerados nesse processo.
          </p>
          <a href="{{ url_for('servicos_caracterizacao') }}" class="btn btn-primary">
            Saiba mais...
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
          <div class="d-none d-sm-block">
            <a href="{{ url_for('servicos_caracterizacao') }}">
              <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/caracterizacao/imagem.jpg') }}')">
              </div>
            </a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="mb-2">
    {% set title = 'Análises' %}
    {% set id = 'analises' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_analises">
      <div class="d-md-none">
        <a href="{{ url_for('servicos_analises') }}">
          <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/analises/imagem.jpg') }}')">
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9">
          <p>
            O laboratório dispõe de sua Infraestrutura para a prestação de serviços analíticos rotineiramente para a comunidade acadêmica e para o setor privado. Análises ou métodos especiais podem ser desenvolvidos frente a necessidades específicas.
          </p>
          <a href="{{ url_for('servicos_analises') }}" class="btn btn-primary">
            Saiba mais...
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
          <div class="d-none d-sm-block">
            <a href="{{ url_for('servicos_analises') }}">
              <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/analises/imagem.jpg') }}')">
              </div>
            </a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="mb-2">
    {% set title = 'Cursos' %}
    {% set id = 'cursos' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_cursos">
      <div class="d-md-none">
        <a href="{{ url_for('servicos_cursos') }}">
          <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/cursos/imagem.jpg') }}')">
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9">
          <p>
            Cursos
          </p>
          <a href="{{ url_for('servicos_cursos') }}" class="btn btn-primary">
            Saiba mais...
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
          <div class="d-none d-sm-block">
            <a href="{{ url_for('servicos_cursos') }}">
              <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/cursos/imagem.jpg') }}')">
              </div>
            </a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="mb-2">
    {% set title = 'Assessorias e Treinamentos' %}
    {% set id = 'assessorias' %}
    {% include 'element/pages-header-h4-md.html' %}
    <div class="collapse show-md" id="collapse_assessorias">
      <div class="d-md-none">
        <a href="{{ url_for('servicos_assessorias') }}">
          <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/assessoria/imagem.jpg') }}')">
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-7 col-lg-8 col-xl-9">
          <p>
            Assessorias e treinamentos.
          </p>
          <a href="{{ url_for('servicos_assessorias') }}" class="btn btn-primary">
            Saiba mais...
          </a>
        </div>
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3">
          <div class="d-none d-sm-block">
            <a href="{{ url_for('servicos_assessorias') }}">
              <div class="div-bg-image div-bg-image-servicos rounded border" style="background-image: url('{{ url_for('static', filename='img/servicos/assessoria/imagem.jpg') }}')">
              </div>
            </a>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
{% endblock %}
